[2016-05-19 01:05] hannes-ucsc commented on #820
Looking at http://jenkins.cgcloud.info/job/toil-pull-requests/buildTimeTrend, it is unlikely that testServiceParallelRecursive was crossing the cutoff simply because it was the last test to run.

[2016-05-19 01:16] hannes-ucsc commented on #820
Will try tomorrow to replicate on my box.

[2016-05-19 06:08] guillermo-carrasco commented on #839
Yes I imagine, and that's what I though `--setEnv` does, but it may be trickier than that :-/

[2016-05-19 17:57] hannes-ucsc commented on #839
s/does for cwltoil/does for cwltool/ in my earlier comment

[2016-05-20 15:40] dleehr commented on #839
I'm tinkering with this in a [branch](https://github.com/Duke-GCB/toil/tree/try-preserve-environment) and made some progress today.

It doesn't seem to be a problem with `--setEnv` actually, we just need some CLI arguments propagated to `CWLJob.run()`.

`CWLJob.run()` calls [cwltool.main.single_job_executor()](https://github.com/BD2KGenomics/toil/blob/e1fcdf6e1eb3877d95513b79cae3c42446eecce3/src/t

[2016-05-21 00:39] jvivian opened #878 "Add paragraph to supplement explaining recompute egress"

[2016-05-23 20:23] cket commented on #676
I spent several hours unsuccessfully looking for bugs that could cause this exception and since the behavior is unreproducible without more information I think we should either close or backlog this issue.

[2016-05-24 00:23] jvivian opened #880 "Add FeatureCounts to RNAseq pipeline"
Has integer counts which is necessary for a lot of downstream analysis tools

[2016-05-24 08:27] guillermo-carrasco commented on #839
@dleehr have you had a look at my current PR #863 ? If he problem is with `--preserve-environment` we could actually add this as an option to `cwltoil` and pass it through `executor_options`. What do you think?

[2016-05-24 13:34] dleehr commented on #839
@guillermo-carrasco That looks like exactly what we need, great!

[2016-05-24 18:38] jvivian opened #881 "Add poor mapping warning to pipelines"
In light of a recent issue with the I-SPY dataset, samples should be checked for mapping coverage and warned / failed if they coverage is below a certain threshold.  Thanks @ifiddes

[2016-05-25 01:19] #605 closed

[2016-05-25 01:19] #832 closed

[2016-05-25 21:42] nsjake opened #883 "Import/Export tests don't use multithreaded upload for S3"
The import export tests import from every job store storage mechanism to every supported job store. For each import pair files of 5 sizes > 0 are imported.

Let S be the set of supported job stores, there are `2^|S|` pairs `1/4` of which import from some bucket in S3 5 times. Thus there are 20 uploads of random bytes to S3 buckets.

 In the interest of cutting down build time these should be uploa

[2016-05-26 00:11] #878 closed

[2016-05-26 02:10] JakeNarkizian opened #884 "Add Registry to AbstractJobStore so that uncleaned job stores can be listed"
Currently the AWS and Azure job stores maintain a registry to prevent eventual consistency issues. Beyond this concern it is a common problem where users forget to clean a job store and then run into issues later such as running out of buckets, or even incurring extra charges from a storage service.

If each job store maintains a registry we can easily implement a command line function that lists

[2016-05-26 02:17] JakeNarkizian opened #885 "Too many requests error from Google job store"
See Jenkins build [here](http://jenkins.cgcloud.info/job/toil-pull-requests/1326/).

[2016-05-26 15:50] dleehr opened #886 "cwltoil - does not read valueFrom correctly when scattering steps"
I'm attempting to run a [cwl workflow](https://github.com/Duke-GCB/GGR-cwl/blob/master/ChIP-seq_pipeline/02-trim-se.cwl) with cwltoil that uses `ScatterFeatureRequirement` and `StepInputExpressionRequirement`. For a few of the step inputs (not scattered), the value is wired to a `valueFrom:` constant. This causes the job to fail under cwltoil. The valueFrom expression does not make it into the job

[2016-05-26 18:15] hannes-ucsc commented on #884
Toil needs a strongly consistent answer to the question whether a job store exists or not. The purpose of the registry domain in the AWS job store is to work around  eventual consistency of SDB domain creation.

There are simpler ways of listing existing job stores by looking for buckets, domains etc that match a certain naming pattern. No need for a registry.

I vote for closing this as won't fix

[2016-05-26 19:15] cket commented on #831
I'm trying to reproduce this with module structure based on the toil scripts module but I'm running into a separate hot deployment error. Can I see your exact traceback? I think I'm running my test slightly differently from how you are

[2016-05-26 19:47] almussel commented on #831
I'm doing this in the adam_gatk_pipeline. Currently all the jobs are being imported as ```from module import *```. I ran into the error when I replaced them with the actual jobs called in the pipeline, like ```from batch_alignment import download_shared_files```. You could be getting something different because the imported jobs are encapsulated.

[2016-05-26 19:55] cket commented on #831
Thanks, so are you invoking it with ```python -m toil_scripts.adam_gatk_pipeline.align_and_call```?

[2016-05-26 21:17] cket commented on #661
Better explanation found here: http://stackoverflow.com/questions/20596918/python-exception-in-thread-thread-1-most-likely-raised-during-interpreter-shutd

This is caused by our badWorker daemon thread. Seemingly dependent on what stage of shutdown the interpreter is in, we will get either get a traceback for this error or just a printed statement informing us there was an error.

Traceback:
[code

[2016-05-26 21:58] benedictpaten opened #889 "Documentation on running using Google job store"
We need some documentation in the docs section:
http://toil.readthedocs.io/en/latest/installation.html#cloud-installation

And in the index mentioning support. We can mention its a prototype feature.

I think this is urgent for the paper - I should have noted it before.

[2016-05-26 21:59] almussel commented on #831
Yep, that's correct.

[2016-05-26 22:05] benedictpaten opened #890 "Luigi integration"
Luigi is python make. Investigating how Toil workflows can be embedded as workflows in Luigi seems like useful bridge.

Edit by Lon: This is a feature.  Closing this until current tech debt is resolved.

┆Issue is synchronized with this [Jira Task](https://ucsc-cgl.atlassian.net/browse/TOIL-345)
┆Issue Number: TOIL-345

[2016-05-26 23:35] hannes-ucsc opened #891 "Import/export tests don't cover Google"
As far as I can tell the G job store isn't mentioned as the "other" job store in the tests.

[2016-05-26 23:43] #586 closed

[2016-05-26 23:55] hannes-ucsc commented on #820
Can't repro.

[2016-05-26 23:55] #820 closed

[2016-05-27 00:10] hannes-ucsc opened #893 "Google job store is not included in cache test"
Only Azure, File and AWS are included.

[2016-05-27 00:56] hannes-ucsc opened #894 "Import/export tests disregard @needs_xyz decorators"
The tests insist on testing against Azure as the "other" job store even if Azure isn't supported because the corresponding extra wasn't specified or because the credentials file is missing.

[2016-05-27 00:58] hannes-ucsc commented on #894
The following patch fixes that for me:

[code]

[2016-05-27 01:00] hannes-ucsc commented on #894
Before applying the patch, think about why it works.

[2016-05-27 01:56] arkal commented on #893
I just realised this. I'll work on this this weekend

[2016-05-27 17:42] hannes-ucsc opened #895 "GoogleJobStoreTest doesn't import boto"
I think it works coincidentally through some transitive import.

[2016-05-27 17:45] hannes-ucsc commented on #760
http://jenkins.cgcloud.info/job/toil-pull-requests/lastCompletedBuild/testReport/src.toil.test.src.jobServiceTest/JobServiceTest/testServiceWithCheckpoints/search/?q=NoSuchJobException

[2016-05-27 17:46] hannes-ucsc commented on #760
I've added a Lucene indexer to Jenkins so we can do full text search on build results:

http://jenkins.cgcloud.info/search/?q=NoSuchJobException

[2016-05-27 17:49] #885 closed

[2016-05-27 17:55] hannes-ucsc opened #896 "Regression in AwsJobStoreCacheTest"
http://jenkins.cgcloud.info/job/toil-pull-requests/1346/testReport/junit/src.toil.test.src.jobCacheTest/AwsJobStoreCacheTest/testRemoveLocalImmutablyReadFile/

[2016-05-27 17:59] #889 closed

[2016-05-27 19:36] hannes-ucsc opened #897 "Regression in SortTest.testGoogleMesos"
~~http://jenkins.cgcloud.info/job/toil-branches/branch/master/lastCompletedBuild/testReport/src.toil.test.sort.sortTest/SortTest/testGoogleMesos/~~

```RuntimeError: Stats/logging collator failed with exit code 1.```

http://jenkins.cgcloud.info/job/toil-branches/branch/master/159/testReport/junit/src.toil.test.sort.sortTest/SortTest/testGoogleMesos/

With this exception being the primary cause:

[2016-05-27 19:39] hannes-ucsc commented on #897
http://jenkins.cgcloud.info/job/toil-branches/branch/master/lastCompletedBuild/testReport/src.toil.test.sort.sortTest/SortTest/testGoogleMesos/

[2016-05-27 23:20] #661 closed

[2016-05-28 01:58] hannes-ucsc opened #901 "Build takes too long"

[2016-05-29 04:02] cket commented on #897
That link seems to go to the most recent build so is now out of data:
http://jenkins.cgcloud.info/job/toil-branches/branch/master/159/testReport/junit/src.toil.test.sort.sortTest/SortTest/testGoogleMesos/

[2016-05-29 04:32] cket commented on #897
There are many similar issues reported but they all seem to be related to client libraries using the non-thread safe httplib2 module, which is not the case for Boto.

https://forums.aws.amazon.com/message.jspa?messageID=460058
This is the only report of this error  I could find that affected Boto and it ended up being an issue with AWS so we might be seeing a similar problem on Google's end.

[2016-05-29 04:35] cket commented on #897
Here's another unrelated(?) failure on google sort test:
http://jenkins.cgcloud.info/job/toil-pull-requests/1345/testReport/junit/src.toil.test.sort.sortTest/SortTest/testGoogleMesos/

[2016-05-30 23:56] cket commented on #654
https://mail-archives.apache.org/mod_mbox/mesos-user/201605.mbox/%3cCAFt=ROPO9fbEb4pAxSdDxZi7HxtzRWCj4YTuP-z0RErpy=3NKA@mail.gmail.com%3e

The errors are caused by sockets that are either unused or shutdown on the other end of the connection.

The mesos user list said it was safe to ignore the warnings if the system if working as expected but also provided a way to debug the cause if we want to do

[2016-05-31 00:30] cket commented on #845
https://github.com/boto/boto/issues/2207
Looks to be a known issue with a couple workaround that I'll look into implementing.

[2016-05-31 04:01] JakeNarkizian opened #904 "FileJobStore's __init__ docstring mentions incorrect exception"
see [this](https://github.com/BD2KGenomics/toil/blob/master/src/toil/jobStores/fileJobStore.py#L45). The correct exception is ```JobStoreCreationException```.

[2016-05-31 17:19] hannes-ucsc commented on #897
I think we are lumping different issues together. They all cause the logging collator to fail but for very different reasons, depending on the job store being used. I will open individual tickets.

[2016-05-31 17:27] hannes-ucsc opened #905 "Stats/logging: SSL error with Google job store"
http://jenkins.cgcloud.info/job/toil-branches/branch/master/159/testReport/junit/src.toil.test.sort.sortTest/SortTest/testGoogleMesos/

[code]

The exception in the collator thread:

[code]

┆Issue is synchronized with this [Jira Story](https://ucsc-cgl.atlassian.net/browse/TOIL-346)
┆Issue Number: TOIL-346

[2016-05-31 17:32] hannes-ucsc opened #906 "`409 Conflict` error during S3 bucket creation"
http://jenkins.cgcloud.info/job/toil-branches/branch/master/159/testReport/src.toil.test.src.jobCacheTest/AwsJobStoreCacheTest/testWriteLocalFileToJobStore/

[2016-05-31 17:34] hannes-ucsc opened #907 "Stats/logging: `Resource not found` error with Azure job store"
http://jenkins.cgcloud.info/job/toil-branches/branch/master/159/testReport/junit/src.toil.test.src.jobCacheTest/AzureJobStoreCacheTest/testReturnFileSizesWithBadWorker/

[code]

┆Issue is synchronized with this [Jira Story](https://ucsc-cgl.atlassian.net/browse/TOIL-347)
┆Issue Number: TOIL-347

[2016-05-31 17:39] hannes-ucsc opened #908 "NoSuchJobException in service tests"
http://jenkins.cgcloud.info/job/toil-branches/branch/master/159/testReport/junit/src.toil.test.src.jobServiceTest/JobServiceTest/testServiceWithCheckpoints/

[code]

[2016-05-31 17:41] hannes-ucsc opened #909 "Stats/logging: EntityAlreadyExists in Azure job store"
http://jenkins.cgcloud.info/job/toil-branches/branch/master/160/testReport/junit/src.toil.test.src.jobCacheTest/AzureJobStoreCacheTest/testWriteLocalFileToJobStore/

[code]

┆Issue is synchronized with this [Jira Story](https://ucsc-cgl.atlassian.net/browse/TOIL-348)
┆Issue Number: TOIL-348

[2016-05-31 17:42] hannes-ucsc commented on #909
Also here:

http://jenkins.cgcloud.info/job/toil-branches/branch/master/161/testReport/junit/src.toil.test.src.jobCacheTest/AzureJobStoreCacheTest/testDeleteLocalFile/

[2016-05-31 17:45] hannes-ucsc commented on #897
See #905, #907 and #909.

[2016-05-31 17:45] #897 closed

[2016-05-31 17:57] hannes-ucsc opened #911 "Fix brittle and obscure assertion in jobCacheTest"
See my comments on PR #898.

https://github.com/BD2KGenomics/toil/pull/898#discussion-diff-65220948

[2016-05-31 17:58] #896 closed

[2016-05-31 18:00] #895 closed

[2016-05-31 18:07] #654 closed

[2016-05-31 19:22] hannes-ucsc commented on #908
http://jenkins.cgcloud.info/job/toil-pull-requests/1367/testReport/junit/src.toil.test.src.jobServiceTest/JobServiceTest/testServiceParallelRecursive/

[2016-05-31 19:23] #839 closed

[2016-05-31 20:29] hannes-ucsc opened #913 "`Cannot retry failed request` when creating Google jobstore"
http://jenkins.cgcloud.info/job/toil-branches/branch/master/162/testReport/junit/src.toil.test.jobStores.jobStoreTest/GoogleJobStoreTest/test_importExportFile__size_partsize__otherJobStore_azurejobstoretest/

Boto understandably fails to retry a request to upload an object from a stream (a file object that can't be seeked within).

┆Issue is synchronized with this [JIRA Story](https://ucsc-cgl.atl

[2016-05-31 20:46] hannes-ucsc commented on #913
In light of this we may have to rethink whether we support streams at all. If we decide to do that, we need to change all of the streaming job store methods to use multipart requests with one full part buffered from the stream.

[2016-05-31 20:59] hannes-ucsc commented on #908
http://jenkins.cgcloud.info/job/toil-branches/branch/master/162/testReport/junit/src.toil.test.src.jobServiceTest/JobServiceTest/testServiceWithCheckpoints/

[2016-05-31 21:03] hannes-ucsc commented on #909
See my attempt here for fixing this.

[2016-05-31 21:34] #893 closed

[2016-05-31 22:10] hannes-ucsc opened #914 "Make headings case consistent in docs"
Change all headings to this style:

[code]

That is, capitalize the first word and proper nouns only.

[2016-06-01 01:59] hannes-ucsc opened #917 "`Read timed out` in AzureJobStoreTest"
http://jenkins.cgcloud.info/job/toil-pull-requests/1383/testReport/src.toil.test.jobStores.jobStoreTest/AzureJobStoreTest/test_importExportFile__size_onemib__otherJobStore_azurejobstoretest/

┆Issue is synchronized with this [JIRA Story](https://ucsc-cgl.atlassian.net/browse/TOIL-265)
┆Issue Number: TOIL-265

[2016-06-01 04:13] #901 closed

[2016-06-01 09:00] guillermo-carrasco opened #918 "SLURM integration follow up"
Hi there!

This is more a question/discussion than an issue, but I though this was the right place. Please forgive me if its not :)

On the past few weeks we all have been working in some way or another mainly in two things:
- Integrating the SLURM batch system into Toil
- Running CWL jobs and workflows using `cwltoil`

In our team, so far we've managed to run [the bcbio CWL workflow example](http

[2016-06-01 17:40] hannes-ucsc commented on #918
Adding @benedictpaten (the original author of Toil) and @arkal (the author of the shared caching).

Please file issues. Caching should be transparent to the user, with one exception: files read from the FileStore are immutable. This is a backwards-incompatible API change but it can be disabled with a command line option. @arkal, can you elaborate?

[2016-06-01 17:44] hannes-ucsc opened #919 "Assertion error in EncryptedAzureJobStoreTest"
http://jenkins.cgcloud.info/job/toil-branches/branch/master/165/testReport/junit/src.toil.test.jobStores.jobStoreTest/EncryptedAzureJobStoreTest/test_importExportFile__size_partsizeminusone__otherJobStore_awsjobstoretest/

┆Issue is synchronized with this [JIRA Story](https://ucsc-cgl.atlassian.net/browse/TOIL-263)
┆Issue Number: TOIL-263

[2016-06-01 17:46] hannes-ucsc opened #920 "Assertion error in GoogleJobStoreTest"
http://jenkins.cgcloud.info/job/toil-branches/branch/master/165/testReport/junit/src.toil.test.jobStores.jobStoreTest/GoogleJobStoreTest/test_importExportFile__size_partsizeminusone__otherJobStore_awsjobstoretest/

┆Issue is synchronized with this [JIRA Story](https://ucsc-cgl.atlassian.net/browse/TOIL-264)
┆Issue Number: TOIL-264

[2016-06-01 17:53] hannes-ucsc opened #921 "NoSuchBucket error during Toil context manager exit"
I have the feeling this happens while `__exit__` is invoked with a primary exception. The primary exception is shadowed by the secondary exception that results from not being able to delete the job store. The robust deletion PR might improve this but we should also log the primary exception eagerly in `__exit__`.

[2016-06-01 18:12] JakeNarkizian commented on #921
@hannes-ucsc Yes, robust clean will ignore any exceptions of this nature completely. How about logging any exceptions caught in ```AbstractJobStore._deleteJobStore```(the main body of each ```cleanJobStore``` and ```deleteJobStore``` methods) at the debug level?

[2016-06-01 18:31] hannes-ucsc opened #922 "Create toil-lib project"
Move toil.lib.spark from toil into toil-lib.

Move selected functions from toil_scripts.lib from toil-scripts into toil.lib in toil-lib.

[2016-06-01 18:48] arkal commented on #681
This will also fix the issue on singlemachine

[2016-06-01 18:54] arkal commented on #918
Hi @guillermo-carrasco.  Do you have a stack trace for the issues you saw with caching? As @hannes-ucsc mentioned, teh biggest change to how Toil works with the caching integrations is that read files (with readGlobalFile) are now immutable by default, and files associated with a job store ID cannot be explicitly deleted, moved or renamed by the user (use deleteGlobalFile or deleteLocalFile instea

[2016-06-01 19:07] hannes-ucsc commented on #922
@fnothaft, this is the ticket you've been asking for in today's scrum.

[2016-06-01 19:09] hannes-ucsc commented on #911
@arkal this should be very straight-forward. Any chance we can get this in soon?

[2016-06-01 19:17] fnothaft commented on #922
Thanks @hannes-ucsc! @jvivian can you link the other ticket ("generic pipelines") to this?

[2016-06-01 19:33] arkal commented on #911
yes, sorry that was supposed to be in an updated google job store commit. I'll get this in now

[2016-06-01 19:36] hannes-ucsc commented on #921
Yes, secondary exceptions that you swallow should be logged at debug level.

But I am concerned about the primary exception. Maybe there should be a general `except:` clause around `Toil.__exit__` that catches any exception, and depending on whether `__exit__` was called with a primary exception, logs it or reraises it. It should log the secondary exception if a primary exception was passed in. It

[2016-06-01 19:58] jvivian commented on #922
BD2kGenomics/toil-scripts#288

[2016-06-01 21:01] fnothaft commented on #922
@jvivian just dropped you a tome over at BD2KGenomics/toil-scripts#288.

[2016-06-02 19:32] hannes-ucsc commented on #908
Also see #760.

[2016-06-02 21:11] #911 closed

[2016-06-02 21:25] #617 closed

[2016-06-02 21:57] hannes-ucsc commented on #808
@joelarmstrong, realistically speaking, what are the chances of you taking care of this in the next two weeks? Trying to get an realistic idea if this should be assigned to someone else.

[2016-06-02 22:24] hannes-ucsc opened #925 "AssertionError in GoogleJobStoreCacheTest"
http://jenkins.cgcloud.info/job/toil-pull-requests/1389/testReport/junit/src.toil.test.src.jobCacheTest/GoogleJobStoreCacheTest/testCacheEvictionFailCase/

[2016-06-02 22:27] #914 closed

[2016-06-02 23:20] hannes-ucsc commented on #760
http://jenkins.cgcloud.info/job/toil-branches/branch/master/167/testReport/junit/src.toil.test.sort.sortTest/SortTest/testAwsMesos/

[2016-06-02 23:23] hannes-ucsc opened #926 "`Key does not exist ` error in AWSJobStoreTest"
http://jenkins.cgcloud.info/job/toil-branches/branch/master/167/testReport/junit/src.toil.test.jobStores.jobStoreTest/AWSJobStoreTest/test_importExportFile__size_onemib__otherJobStore_awsjobstoretest/

[2016-06-03 04:25] #478 closed

[2016-06-03 04:25] #543 closed

[2016-06-03 04:25] #593 closed

[2016-06-03 04:25] #714 closed

[2016-06-03 04:25] #860 closed

[2016-06-03 10:13] chapmanb opened #928 "Slurm currently does not support shared caching"
Hi all -- this extracts the caching discussion from #918 (cc'ing @arkal) and provides more details so that PR can focus on Slurm.

Running cwltoil with Slurm using:
[code]
(The CWL is from https://s3.amazonaws.com/bcbio/cwl/test_bcbio_cwl.tar.gz but not sure this has anything to do with CWL versus toil cache usage).

After applying the fix from #910 (which masks the real error), we see:
[code]
I u

[2016-06-03 10:21] chapmanb commented on #918
Thanks Guillermo for starting this. I moved the cache discussion to #928 with more details so this PR can focus on Slurm. For Slurm. we'd like to be able to pass arbitrary options so that users can tweak their submissions for their particular Slurm setup (queues and timelimits are probably the first two options we'll need).

Looking at the SGE implementation, it looks like that's possible through

[2016-06-03 12:01] arkal commented on #928
so i'm not too familiar with slurm but looking at this, i can tell you why it's failing. With caching, what happens is Toil creates a directory toil-<workfole id> under --workDir or in the $TMPDIR and that contains the job wrapper temp dirs, and the cache. If you don't have a way of cleaning up the directory on each node,  in your batch system shutdown method, you might need to set one up since th

[2016-06-03 14:28] chapmanb commented on #928
Arjun;
Thanks for the details, this helps a lot. It looks like supportsWorkerCleanup is also set to false on the SGE integration as well, which is likely the origin of this in the SLURM implementation so we're going to run into this with other batch systems. If workDir (or tempDir, I'm not sure which it uses) is on a shared filesystem, then we should be able to use caching -- is that right? If so,

[2016-06-03 16:26] jvivian opened #929 "Toil-scripts installed in venv causes Toil resolveEntryPoint error"
Trying to get pip installable toil-scripts to work in a venv causes a Toil error. Any cgcloud box with toil installed will work, a toil cluster isn't needed.

To reproduce:

**Laptop**
[code]

**Leader**
[code]

While pip says the requirement is already satisfied, something is wrong with the installation as Toil complains that it can't find an entrypoint:

[code]

This error *doesn't* appear and t

[2016-06-03 16:30] jvivian opened #930 "Pip installed toil-scripts not working on Mesos cluster"
On a toil-cluster, I was unable to get toil-scripts to run unless I pip installed toil-scripts on both the leader and the worker *outside* of an venv.

This issue is blocked by #929, in a sense, since installation within a venv is preferred.

[2016-06-03 16:51] hannes-ucsc commented on #928
@arkal, we might need to disable caching automatically if the batch system does not support worker clean-up. I thought we had that already implemented?

[2016-06-03 16:52] hannes-ucsc commented on #928
Either we automatically disable caching on those batch systems, or we mention in the exception message to rerun with --disableSharedCaching.

[2016-06-03 16:55] hannes-ucsc commented on #928
@chapmanb

Please file a ticket about that specific issue. I agree that there is problem but disagree with your fix (I think the `try:` needs to be moved down one line).

[2016-06-03 16:56] hannes-ucsc commented on #929
Excellent description.

[2016-06-03 17:02] hannes-ucsc commented on #930
Do you have the stack trace for when toil-scripts was installed only on the leader?

[2016-06-03 17:19] arkal commented on #928
Hey Brad,

Really, shared caching works on all batch systems. The reason we've set supportsWorkerCleanup to False on SGE is because we couldn't think of a way to cleanup node-specific local work dirs in the SGE environment (because Toil doesn't track which nodes were touched during the run). You can see how we handled single machine and Mesos in their shutdown methods.

@hannes-ucsc , I remember a

[2016-06-03 17:21] arkal opened #931 "Add more helpful error message if caching unsupported batch system is used"
Stems from #928

[2016-06-03 17:25] hannes-ucsc commented on #928
Then why do we raise the exception?

[2016-06-03 17:35] hannes-ucsc opened #933 "S3CopyError in EncryptedAWSJobStoreTest"
http://jenkins.cgcloud.info/job/toil-pull-requests/1394/testReport/junit/src.toil.test.jobStores.jobStoreTest/EncryptedAWSJobStoreTest/test_importExportFile__size_partsize__otherJobStore_awsjobstoretest/

AWS' error message indicates that we should retry that error. Let's do that.

[2016-06-03 17:37] hannes-ucsc opened #934 "`GSResponseError: 404 Not Found` error in GoogleJobStoreCacheTest"

[2016-06-03 17:41] jvivian commented on #930
Apologies, was in the process of writing out the reproduction steps (should have mentioned that). These are the errors i get when toil-scripts is installed *outside* of a venv.

**Laptop**
[code]

**Leader**
[code]

Exit and rejoin as mesosbox with `cgcloud ssh toil-leader`
Setup config with `toil-rnaseq generate-config`.
Confirm local run works:
[code]
Run succeeds.  Run with mesos:
[code]

Stack

[2016-06-03 17:57] hannes-ucsc opened #935 "Improve how we handle and document build requirements"
Extract the pip install line into a new make target called "make prepare" and invoke that in jenkins.sh. Also mention "make prepare" in the documentation.

[2016-06-03 18:11] hannes-ucsc commented on #930
Again, great description. I wonder if this is the same as #831. If you have a chance, could you try importing download_sample right below map_job is imported? It might still fail, but complaining about a different function.

[2016-06-03 18:20] jvivian commented on #930
`download_sample` is in the pipeline script so I can't import it.

[2016-06-03 19:03] chapmanb commented on #928
Arjun and Hannes;
Thanks for the discussion. From reading the code, it seems like we could use the standard worker cleanup:

https://github.com/BD2KGenomics/toil/blob/616aade0da9754011ac98bc8c493a988a369cf4f/src/toil/batchSystems/abstractBatchSystem.py#L283

as long as workDir is on a shared filesystem since all the nodes will write there. Do you have any thoughts how to best specify if we're usin

[2016-06-03 20:04] hannes-ucsc commented on #928
I don't think we can assume that SLURM is used in conjunction with a shared file system. More importantly, the work dir should reside on fast, locally attached storage.

The best solution I can think of is to track inside the batchsystem which nodes commands were sent to, and then at shutdown schedule individual clean-up commands to those nodes.

[2016-06-03 20:35] chapmanb commented on #928
Hannes;
That makes sense, although seems like a lot to implement and is probably non-ideal on busy shared cluster systems where users are likely to be unhappy with having to wait for more queued jobs to start up for cluster cleanup.

Can you describe what shared caching does and why it's useful? I don't mind disabling it, but trying to understand the tradeoffs. All I got from the code was:`A cache

[2016-06-03 20:39] jvivian commented on #930
`INFO:toil.job:User Module: toil_scripts.lib.jobs`

Interestingly, I couldn't import the `download_sample` function from rnaseq_cgl
[code]

I directly copied and pasted the function into the toil_scripts/lib/jobs.py, but then I got an error about a missing Namespace attribute (which is assigned in `main` of the rnaseq_cgl_pipeline script).

[code]

[2016-06-03 21:10] #935 closed

[2016-06-03 21:12] hannes-ucsc commented on #841
Resolved by https://github.com/BD2KGenomics/toil/commit/12c711ff91caa5d8fb37a072bad376f447faa797 (PR #936)

[2016-06-03 21:12] #841 closed

[2016-06-03 21:19] hannes-ucsc commented on #928
http://toil.readthedocs.io/en/latest/architecture.html#caching

[2016-06-03 21:47] hannes-ucsc commented on #929
I'm assuming the image was created from toil-box, not toil-latest-box?

[2016-06-03 23:26] hannes-ucsc commented on #929
Toil detects that a virtualenv is active and assumes that _toil_worker is present in that virtualenv's bin. It asserts that assumption and the assertion fails.

We currently distinguish two cases: 1) no virtualenv with `_toil_worker` on the PATH and 2) a virtualenv with `_toil_worker` in its bin directory. There needs to be a third case for virtualenvs that have the Toil packages on the `sys.path`

[2016-06-03 23:45] hannes-ucsc commented on #929
I don't think I want to backport this fix to 3.1.4. The workaround for that version should be to

[code]

[2016-06-04 00:02] hannes-ucsc commented on #929
For 3.2.0 we will add support for virtualenvs with `--system-site-packages`. I just need to decide if we assume that the virtualenv is present on each worker. If we make that assumption, we would open the road to user distributions (a pip-installable distribution containing Toil user modules, like toil-scripts) that have dependencies. OTOH, this would have the downside of requiring the user to pla

[2016-06-04 00:23] chapmanb commented on #928
Hannes;
Thanks for the pointer -- sorry I missed this. What do you think about having http://toil.readthedocs.io point to http://toil.readthedocs.io/en/latest/ instead of 3.1.x? I missed a lot of useful documentation not realizing that wasn't the latest.

I'll close this now and use `--disableSharedCaching` for SLURM/SGE/local scheduler jobs. It seems like the value of caching is not as high on sh

[2016-06-04 00:23] #928 closed

[2016-06-04 05:15] hannes-ucsc opened #937 "Add ability to hot-deploy entire virtualenvs"
This is needed to support user distributions with dependencies. A user distribution is a distribution  with user modules. A distribution is a collection of modules, created with distutils/setuptools. The most prominent user distribution is toil-scripts. It may soon have a dependency (toil-lib, #922) and that will require this feature.

[2016-06-06 17:39] #908 closed

[2016-06-06 19:32] hannes-ucsc opened #941 "Misplaced assertion during Toil.__exit__ masks primary exception"
https://github.com/BD2KGenomics/toil/pull/910#issuecomment-222852330

[2016-06-06 20:01] hannes-ucsc commented on #579
http://jenkins.cgcloud.info/job/toil-pull-requests/1402/testReport/junit/src.toil.test.src.jobCacheTest/AzureJobStoreCacheTest/testDeleteLocalFile/

[2016-06-06 20:01] #925 closed

[2016-06-06 20:34] hannes-ucsc opened #942 "Skip brittle job stores in tests"
It was decide that we exclude Azure and Google from cache and import/export tests.

[2016-06-06 20:39] hannes-ucsc commented on #894
Will resolves as part of the PR addressing #942.

[2016-06-06 21:53] hannes-ucsc opened #944 "BotoServerError: 500 Internal Server Error in AwsJobStoreCacheTest"
http://jenkins.cgcloud.info/job/toil-pull-requests/1403/testReport/junit/src.toil.test.src.jobCacheTest/AwsJobStoreCacheTest/testReturnFileSizes/

[2016-06-06 21:56] hannes-ucsc opened #945 "`IOError: close() called` in GoogleJobStoreTest"
http://jenkins.cgcloud.info/job/toil-pull-requests/1403/testReport/junit/src.toil.test.jobStores.jobStoreTest/GoogleJobStoreTest/test_importExportFile__size_partsize__otherJobStore_awsjobstoretest/

┆Issue is synchronized with this [Jira Story](https://ucsc-cgl.atlassian.net/browse/TOIL-349)
┆Issue Number: TOIL-349

[2016-06-06 22:01] hannes-ucsc commented on #944
We should retry those cases.

[2016-06-06 22:04] hannes-ucsc commented on #845
http://jenkins.cgcloud.info/job/toil-pull-requests/1405/testReport/junit/src.toil.test.sort.sortTest/SortTest/testAwsMesos/

[2016-06-06 22:07] #894 closed

[2016-06-06 22:07] #942 closed

[2016-06-06 22:14] hannes-ucsc commented on #944
Should probably resolved together with #845.

[2016-06-06 23:42] joelarmstrong commented on #808
Hey Hannes,

Sorry for the delayed response. I tracked the root cause down a while ago (failed child jobs can run before their parent on resume) but still need to implement a fix. It's top on my agenda for tomorrow.

[2016-06-07 00:05] hannes-ucsc opened #947 "Disable sortTests against Azure and Google"
Forgot to take care of these in #943

[2016-06-07 00:08] #941 closed

[2016-06-07 00:10] #831 closed

[2016-06-07 00:10] #929 closed

[2016-06-07 00:10] #930 closed

[2016-06-07 00:13] hannes-ucsc commented on #808
Cool! Thank you.

[2016-06-07 00:14] hannes-ucsc commented on #579
http://jenkins.cgcloud.info/job/toil-pull-requests/1406/testReport/junit/src.toil.test.sort.sortTest/SortTest/testAzureSingle/

[2016-06-07 00:47] hannes-ucsc opened #949 "AbstractCacheTest._multipleFileReader docstring is incorrect"

[2016-06-07 02:01] #947 closed

[2016-06-07 19:15] hannes-ucsc opened #951 "Test parallelization garbles console output on Jenkins builds"
Due to test parallelization, the build's console is written to by multiple processes concurrently and therefore has to be taken with a grain of salt. In particular, it could be that the console says

fooTest: FAILED
barTest: PASS

but that in reality fooTest passed and barTest failed.

The console output that is captured and then listed per test will be correct and can be trusted. Only the overall

[2016-06-07 21:09] jvivian opened #952 "Refactor BWA pipeline to use config/manifest"

[2016-06-07 21:18] jvivian commented on #952
Wrong project, reopening.

[2016-06-07 21:18] #952 closed

[2016-06-07 22:05] hannes-ucsc opened #953 "Caching hangs on harbinger file in sortTest"
http://jenkins.cgcloud.info/job/toil-pull-requests/1413/

strace of the worker process

[code]

That's all I have.

[2016-06-08 06:13] hannes-ucsc opened #955 "AWS import/export test fails with 409 BucketAlreadyOwnedByYou"
http://jenkins.cgcloud.info/job/toil-pull-requests/1423/testReport/junit/src.toil.test.jobStores.jobStoreTest/EncryptedAWSJobStoreTest/test_importExportFile__size_partsize__otherJobStore_awsjobstoretest/

Is this caused by a retry?

[2016-06-08 17:40] #931 closed

[2016-06-08 17:52] #729 closed

[2016-06-08 17:53] hannes-ucsc opened #957 "Refactor creation of promised requirement jobs"

[2016-06-08 17:57] hannes-ucsc commented on #957
Never mind. Not worth it.

[2016-06-08 17:57] #957 closed

[2016-06-08 22:02] #949 closed

[2016-06-08 22:02] #953 closed

[2016-06-08 23:34] joelarmstrong opened #958 "Jobs with totally-failed successors will not wait for other successors to finish as intended"
This line in leader.py is broken and I'm pretty sure it will never evaluate to true:
https://github.com/BD2KGenomics/toil/blob/1195effda167eea9d1d623f2de0794c138de75b9/src/toil/leader.py#L756

The `toilState.successorCounts` dict is keyed by JobWrappers, not jobStoreIDs.

(The `__hash__` method of JobWrapper gives the same hash as its jobStoreID, but that only determines its bucket in the dict. `_

[2016-06-09 00:18] cgcloud-jenkins commented on #958
Holy crap that's terrible. The state management in the leader class is so
messy! I will fix and test this right now. Assigning this to me.

On Wed, Jun 8, 2016 at 4:34 PM, Joel Armstrong <notifications@github.com>
wrote:

[2016-06-09 01:45] hannes-ucsc commented on #958
@benedictpaten, This must be a surgical fix to be accepted for 3.2.0. Don't go off and rewrite leader.py.

[2016-06-09 06:23] hannes-ucsc opened #960 "AssertionError in testMultipleJobsReadSameCacheHitGlobalFile"
http://jenkins.cgcloud.info/job/toil-pull-requests/1410/

[2016-06-09 06:24] hannes-ucsc commented on #960
It just occurred to me that toil-jenkins-slave slaves are shared by toil-scripts and toil. It is possible that toil-scripts pollutes the slave.

[2016-06-09 16:07] #845 closed

[2016-06-09 16:07] #906 closed

[2016-06-09 16:07] #933 closed

[2016-06-09 16:07] #944 closed

[2016-06-09 16:51] arkal commented on #960
To the order of 70G? I find that a little hard to believe

[2016-06-09 17:08] #958 closed

[2016-06-10 17:31] hannes-ucsc opened #963 "AssertionError: Attempting to delete a global file that is in use by another job"
http://jenkins.cgcloud.info/job/toil-branches/branch/master/181/testReport/junit/src.toil.test.src.jobFileStoreTest/JobFileStoreTest/testJobFileStoreWithMediumCacheAndBadWorker/

[2016-06-10 17:56] hannes-ucsc opened #964 "Replace SDB with S3 in AWS job store"
Quoting an AWS support professional in case 1767267511:

If Toil should run on newly opened AWS accounts, we need to phase out SimpleDB.

I propose that we create a new, second implementation of the AWS job store that uses DynamoDB. The new implementation should be accessible under the `aws` job store locator, while the old one becomes `aws_old`.

The reason I didn't use DynamoDB in the first plac

[2016-06-11 07:13] hannes-ucsc commented on #960
This is caused by running on a slave were for some reason ephemeral wasn't mounted. I'm leaving this open because I don't know why ephemeral is only mounted sometimes. The AMI has a suitable block device mapping. The useEphemeralDevices for the slave was set to false in config.xml. I changed that to true for all slaves. We'll have to keep an eye out for it.

See also https://github.com/BD2KGenomic

[2016-06-11 07:18] hannes-ucsc commented on #960
We should also talk about detecting lack of temporary space in jenkins.sh, the Makefile, or in a special unit test.

[2016-06-11 18:04] #937 closed

[2016-06-12 21:24] adderan opened #966 "Wrong permissions on file in fileJobStore"
[code]

I tried to make a test case for this outside of cactus but wasn't able to recreate it exactly. It looks like the file is ending up with 444 permissions - I'm not sure if this is ever intended to occur or not. This appears to happen with graphs like this:

A --> C
| &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |
B &nbsp;&nbsp;&nbsp;&nbsp; D

where A writes a file to the file store, B downloads it with mu

[2016-06-13 00:04] #808 closed

[2016-06-13 04:39] arkal commented on #960
Wow! How did you find this?! Awesome. Can we have a line in jenkins.sh that checks for (say) 20G of space on ephemeral before starting any tests?

[2016-06-13 18:11] hannes-ucsc commented on #960
Yes, we should.

[2016-06-13 18:34] arkal commented on #966
Files read fromt eh file store will always have 444 unless you mention `mutable=True`  in  the readGlobalFile callthe

[2016-06-13 18:38] adderan commented on #966
Yes, but what's going on here is that the file in the filestore itself has 444 permissions, so asyncWrite isn't allowed to write to it.

[2016-06-13 20:07] arkal commented on #966
Are you putting it back in the jobstore under the same jobstore ID?

@hannes-ucsc didn't we decide that you can't overwrite the file in the job store? If you download a file and modify it, you need to upload it as a new jobstore ID

[2016-06-13 20:24] adderan commented on #966
I don't believe it's possible anymore to modify a JobStore ID through the FileStore interface. So I'm definitely writing to a new ID after modfiying the file. But I do modify the file that was read into the local temp dir (with mutable=True) and then write that same local file back to the file store. Those are the only set of conditions that cause this. Somehow when the ID is created it ends up wi

[2016-06-13 20:25] adderan commented on #966
I have a feeling that the problem is here: https://github.com/BD2KGenomics/toil/blob/master/src/toil/job.py#L1591

[2016-06-13 20:29] arkal commented on #966
Are you in 514? Can we discuss this in person?

[2016-06-13 21:15] arkal commented on #966
Just had a chat with @adderan. I think this async write may not be working how we except it to in this new caching and a race condition is causing the problem. thought of a quick test that could confirm my suspicion and he's working on recreating it.

[2016-06-13 21:43] adderan commented on #966
[code]

[2016-06-13 23:13] hannes-ucsc commented on #966
If I am right, the person who fixes this should scan FileJobStore for other occurrences of that faux pas.

Pinging @diekhans for giggles.

[2016-06-13 23:14] arkal commented on #966
doesn't explain why the file got changed to mode 444 though, right?

[2016-06-13 23:57] hannes-ucsc opened #967 "Retry SDB requests on ECONNRESET"
https://github.com/BD2KGenomics/toil/pull/959#issuecomment-225464031

[2016-06-14 01:23] arkal commented on #966
Ok @adderan we brainstormed and we think we might have figured it out. Can we bother you to run 2 more tests for us to confirm our suspicions?
1. have C use more cpu or memory than A/B. This will force C into a new job wrapper and we shouldn't see this issue.
2. Have C download the file as mutable. The error in that case should be cactus realizing the file is not completely written.

Thanks
-A

[2016-06-14 03:19] hannes-ucsc commented on #760
http://jenkins.cgcloud.info/job/toil-pull-requests/1445/testReport/junit/src.toil.test.sort.sortTest/SortTest/testAwsMesos/

[2016-06-14 17:18] ohofmann commented on #918
Leaving the cache debugging aside, also curious about the future Toil/SLURM plans. Is there ongoing development to allow selection of queues, timelimits, etc., or should we look into adding these? Would hate to end up with another duplicate pull request. Thanks!

[2016-06-14 17:38] hannes-ucsc commented on #963
http://jenkins.cgcloud.info/job/toil-pull-requests/1446/testReport/junit/src.toil.test.utils.utilsTest/UtilsTest/testUtilsStatsSort/

[2016-06-14 18:53] hannes-ucsc commented on #853
I think I fixed this in cff387d59af0426070522d20af8a551340253ea9

[2016-06-14 18:53] #853 closed

[2016-06-14 19:04] joelarmstrong commented on #760
Hmm, I was sort of hoping the fix to #808 would fix this too, but after looking at it, it looks like it's either a race condition (exists check followed right after by a load) or stale reads from SDB. I tried to aggravate the race locally by sleeping in between but no dice.

[2016-06-14 19:29] hannes-ucsc commented on #840
You should probably add code in the test setup after bucket creation that loops over get_bucket() until it succeeds.

[2016-06-14 20:04] adderan commented on #966
Okay, here are the results of test 1. I'm setting jobs A and B to 500 MB and job C to 1GB. It looks like asycWrite happens before job C in this case. I tried running a few times and got the same results.
[code]

[2016-06-14 21:37] JakeNarkizian opened #969 "Google job store missing from getJobStoreClasses"
```getJobStoreClasses``` returns a list of job store classes for which the dependancies have been installed. The names of each job store class are hard coded into the method [see](https://github.com/BD2KGenomics/toil/blob/master/src/toil/jobStores/abstractJobStore.py#L94). The ```GoogleJobStore``` class will never be included in this list because it is missing from the aforementioned hard coding.

[2016-06-14 21:54] JakeNarkizian opened #970 "getJobStoreClasses log message is not descriptive enough"
If a job store class cannot be imported the following messaged is logged:
```toil.jobStores.abstractJobStore: Unable to import 'toil.jobStores.azureJobStore'```

This message should be more descriptive.

[2016-06-14 22:19] #967 closed

[2016-06-14 23:02] adderan commented on #966
With mutable=True in job C, Cactus does have trouble parsing the file, but in a follow-on of job C, not job C itself.

[code]

[2016-06-14 23:18] arkal opened #973 "Refactor Job._execute"
Issue #963 brought up the issue where we were seeing jobs attempting to delete global files in use by other jobs (which shouldn't have been happening). @hannes-ucsc and I pinpointed it to being due to jobs saying they're completed and then being killed by bad worker before the job's temp dir was cleaned up. This left behind stale hard links that skew everything. Jobs should not be allowed to start

[2016-06-15 00:02] arkal commented on #966
Thanks a bunch @adderan. I think this confirms our suspicions. @hannes-ucsc I'll go ahead and implement the harbinger logic into writeGlobalFile.

[2016-06-15 03:44] JakeNarkizian opened #975 "Remove registry from Azure job store"
The AWS job store maintains a registry due to eventual consistency issues. @joelarmstrong do you recall why Azure also maintains a registry? If there does not exist a compelling reason it may be worth forgoing the cost of writing to a reading from an extra table in Azure.

Instead the existence of a job store can be determined by probing for some component of it that is eventually consistent.

[2016-06-15 04:39] hannes-ucsc commented on #760
I think this is a stale read after delete. We've been in touch with AWS support about this. They didn't outright reject the idea of SDB not being fully consistent and recommended that we upgrade to DynamoDB.

I wonder is why this happens in the same code location every time.

[2016-06-15 04:40] hannes-ucsc commented on #760
… meaning that if it is a stale read, the time window should be somewhat flexible and therefore cause different problems in different places.

[2016-06-15 05:07] joelarmstrong commented on #975
No compelling reason at all, I kept the registry only for symmetry with the AWS jobStore, in case there was a use case for querying the registry to see what jobStores existed. The same functionality could be achieved by checking for the existence of the config pickle or something.

[2016-06-15 15:40] JakeNarkizian commented on #975
Thanks for the info @joelarmstrong. @hannes-ucsc with this in mind would you feel more comfortable removing the registry in #916 while I'm already touching that part of the code? Or shall we contend with it in a different PR?

[2016-06-15 16:26] hannes-ucsc opened #978 "SSLError during SDB requests"
http://jenkins.cgcloud.info/job/toil-pull-requests/1462/testReport/junit/src.toil.test.sort.sortTest/SortTest/testAwsMesos/

Needs retry.

[2016-06-15 16:29] hannes-ucsc commented on #975
I'm ok with removing it in #916.

Just make sure that the last storage component you remove is the one that you detect job store existence with. This applies to all job stores.

[2016-06-15 18:09] JakeNarkizian opened #979 "retry_azure is broken"
There is a missing return statement. [See](https://github.com/BD2KGenomics/toil/blob/master/src/toil/jobStores/azureJobStore.py#L789)

[2016-06-15 18:27] dleehr commented on #918
Thanks for starting the conversation @guillermo-carrasco. I'm glad you were able to run a workflow, that's awesome news.

Right now I don't have any outstanding development for anyone to coordinate with :). My main focus is getting toil working with our CWL worfklows at https://github.com/Duke-GCB/GGR-cwl - blocked by #886. Beyond that, I know we'll have a need to specify the slurm partition(s) wh

[2016-06-15 18:36] arkal commented on #978
This has exactly the same stacktrace
http://jenkins.cgcloud.info/job/toil-pull-requests/1465/testReport/junit/src.toil.test.sort.sortTest/SortTest/testAwsMesos/

and this one is similar, but crashes with the same SSLError
http://jenkins.cgcloud.info/job/toil-pull-requests/1465/testReport/junit/src.toil.test.src.jobCacheTest/AwsJobStoreCacheTest/testWriteNonLocalFileToJobStore/

[2016-06-15 18:37] hannes-ucsc commented on #979
Good catch. Feel free to fix that in one of your ongoing PRs.

[2016-06-15 18:53] JakeNarkizian commented on #979
I already opened #980, but I can add it to #916 if you'd like.

[2016-06-15 19:07] #979 closed

[2016-06-15 19:13] hannes-ucsc commented on #978
I fear SDB is going bonkers.

[2016-06-15 21:23] #840 closed

[2016-06-15 21:23] #926 closed

[2016-06-16 01:30] #978 closed

[2016-06-16 03:49] #955 closed

[2016-06-16 06:52] arkal commented on #966
@adderan can you clone this branch and tell me if this fixed things?

[2016-06-16 08:19] ohofmann commented on #918
Dan, thanks! We will chime up if/when we start working on this.

[2016-06-16 19:29] hannes-ucsc commented on #760
http://jenkins.cgcloud.info/job/toil-pull-requests/1478/testReport/junit/src.toil.test.sort.sortTest/SortTest/testAwsSingle/

[2016-06-16 20:17] #973 closed

[2016-06-16 23:43] hannes-ucsc opened #985 "Installation with `google` extra fails on OS X"
[code]

I had to run this beauty to make it work.

[code]

This should either be documented or fixed.

See also https://cryptography.io/en/latest/installation/

[2016-06-16 23:49] hannes-ucsc commented on #985
Full disclosure: The above console log was made with a dirty setup.py that

[code]

But the error was also present on a clean working copy. I just don't know for sure if my workaround depends on the change to setup.py, but I doubt it.

[2016-06-17 00:18] hannes-ucsc commented on #966
This is one of two critical bugs that block the 3.2.0 release of Toil which is scheduled to be released next Wed.

[2016-06-17 00:22] #969 closed

[2016-06-17 00:22] #970 closed

[2016-06-17 05:37] #837 closed

[2016-06-17 05:39] hannes-ucsc commented on #921
If the robust clean PR addresses this, this issue should be referenced in that PR's title and in the body. Then Waffle will stack the two.

[2016-06-17 12:30] aurelBZH opened #986 "compatibility between toil and pbs torque"
Hello
in your documentation you show the compatibility between toil and gridengine but is it possible to install and run toil in a pbs torque cluster ?

thanks for your help
Aurélien Béliard

[2016-06-17 19:51] adderan commented on #966
Unfortunately this does not fix it.
[code]

[2016-06-17 20:06] arkal commented on #966
looking into it

[2016-06-17 20:06] hannes-ucsc commented on #966
@adderan, can you enable @arkal to reproduce this on his own? With the release being just a few days away, we can't afford 24h turn-around time on verification.

[2016-06-17 20:06] arkal commented on #966
I'm working on a unit test that can replicate this

[2016-06-17 20:32] adderan commented on #966
Sorry, I will try to respond more quickly next time, I missed this email before. But just in case, to run Cactus you would:

1) git clone https://github.com/adderan/progressiveCactus
2) git checkout toil
3) git submodule update --init
4) make (you might have to fix your python installation if you're on Ubuntu, using the command listed here: http://stackoverflow.com/questions/15608236/eclipse-and-g

[2016-06-18 00:11] arkal commented on #966
@adderan I got errors attempting to checkout the submodules for sonLib and toil
[code]

[2016-06-18 00:15] adderan commented on #966
I'm running with your new branch now, should be done in a few minutes.

[2016-06-18 00:21] adderan commented on #966
It works! Thanks for fixing this.

[2016-06-20 18:06] hannes-ucsc commented on #717
I have another idea how we could implement this above the batch system layer. There could be cooperative mini-scheduler in worker.py based on a IPC semaphore. The batch system would schedule multiple jobs on a node as usual, but the semaphore enforces the nodes requirement, serializing these tasks as necessary.

[2016-06-20 18:37] fnothaft opened #987 "Docker containers can become zombies"
If a job terminates but that job was running docker containers, the docker containers can persist in the background and not get killed off.

Depends on #1189 (PR #1199)

[2016-06-20 19:26] hannes-ucsc commented on #986
Currently there is no support for PBS Torque Cluster and no plans for adding it. We welcome external contributions to Toil in the form of pull requests. Toil is extensible in that respect and adding support would not be difficult, provided that all nodes in such a cluster share a file system. If they don't, then you also need to worry about implementing a job store, or use one of the existing clou

[2016-06-20 19:26] #986 closed

[2016-06-20 19:55] #774 closed

[2016-06-21 00:51] hannes-ucsc commented on #921
@JakeNarkizian, did you see [my previous comment](https://github.com/BD2KGenomics/toil/issues/921#issuecomment-226684843)?

[2016-06-21 01:40] JakeNarkizian commented on #921
@hannes-ucsc Yes, thanks for the reminder. I haven't addressed this in #900, yet.

Robust clean ignores exceptions raised due to corrupted job stores components, and it is reasonably implied what components were present at the time of cleaning in the log, but specific exceptions like ```NoSuchBucket``` aren't logged explicitly. The Toil context manager also doesn't log anything differently.

I def

[2016-06-21 01:46] JakeNarkizian commented on #921
**tl;dr**

I haven't addressed it yet.
It might be wise to since I'm touching the code in common, but the PR is already really big.
what do you think?

[2016-06-21 17:14] hannes-ucsc commented on #921
You probably mean #916, not #900. Anyways, I thought that #916 would solve this automatically. Maybe I'm not understanding this correctly.

So #916 is not going to make the cut for 3.2.0. Can you break #916 up into smaller PRs?

[2016-06-21 17:25] hannes-ucsc opened #988 "cwltoil's writeFile uses root logger"
https://github.com/BD2KGenomics/toil/pull/867#issuecomment-227446745

[2016-06-21 17:58] JakeNarkizian commented on #921
Yes, sorry #916.
I can break #916 into separate PRs but each branch is going to have to build off the last in a somewhat messy way since its changes are very closely related, I'd like to run it by you before I start the process.

Did you had a chance to glance at #916's loadBucket and createBucket methods in AWS? Perhaps we can discuss this when we talk about those methods.

[2016-06-21 19:21] #966 closed

[2016-06-21 19:37] hannes-ucsc opened #989 "Copyright header should refer to `Regents of the University of California`"
… because we have multiple UCs contributingt to Toil.

See also https://github.com/BD2KGenomics/toil-scripts/pull/311

[2016-06-21 19:38] hannes-ucsc commented on #989
@benedictpaten, do you agree?

[2016-06-21 19:38] fnothaft commented on #989
+1

[2016-06-21 19:44] fnothaft commented on #989
In case you're wondering what this looks like, see #990.

[2016-06-21 20:29] cgcloud-jenkins commented on #989
Hmmm, is this a requirement for the creation of code developed within a UC?

On Tue, Jun 21, 2016 at 12:38 PM, Hannes Schmidt <notifications@github.com>
wrote:

[2016-06-21 20:37] fnothaft commented on #989
Don't think it is a huge deal one way or the other, but [UC Copyright policy](http://policy.ucop.edu/doc/2100003/CopyrightOwnership) states that copyright for works produced at the UC is owned by the University of California, and the [UC Copyright FAQ](http://copyright.universityofcalifornia.edu/ownership/faq.html#how-do) notes that the proper copyright attribution is to `the Regents of the Univer

[2016-06-21 20:38] fnothaft commented on #989
I mean, one might note that the `UCSC Computational Genomics Lab` is organizationally under the purview of the `Regents of the University of California`, but it'd be more by-the-books correct to attribute copyright to the latter.

[2016-06-21 21:32] JakeNarkizian opened #991 "Job store string should be refactored to job store locator"

[2016-06-21 22:07] arkal commented on #963
This was resolved in #974. Closing

[2016-06-21 22:07] #963 closed

[2016-06-21 22:15] JakeNarkizian opened #992 "Five option help messages note incorrect exception"
A few option help messages note ```ExistingJobStoreException``` as an exception that is raised if a job store is started when it already exists. The correct exception is ```JobStoreCreationException```.

[2016-06-21 22:18] hannes-ucsc commented on #963
https://github.com/BD2KGenomics/toil/pull/974/commits/3b3a8e0ed81ac2a32555908d4be6b3791d640dc9

[2016-06-22 00:35] hannes-ucsc opened #993 "Constantly running out of buckets/domains during tests"
Not critical for 3.2.0 but should be addressed in 3.2.1.

[2016-06-22 04:36] #960 closed

[2016-06-22 05:37] hannes-ucsc commented on #760
I've been trying to brute-force reproduce this by creating and deleting jobs in quick succession. I tried 16k jobs. No dice. We should entertain the possibility of there being a the possibility of the job being deleted concurrently, maybe by the worker. Then again, why does this only happen with AWS? If there is a race between leader and worker, this should manifest itself in other stores as well/

[2016-06-22 06:48] JakeNarkizian opened #995 "Conflict error on AWS cache test"
http://jenkins.cgcloud.info/job/toil-pull-requests/1514/testReport/src.toil.test.src.jobCacheTest/AwsJobStoreCacheTest/testRemoveLocalImmutablyReadFile/

[2016-06-22 06:56] hannes-ucsc commented on #995
@JakeNarkizian, I edited the description. Please don't use 'see' as the anchor for all your links. That's unorthodox and not very readable.

[2016-06-22 16:16] hannes-ucsc opened #996 "AWS job store's `.exist()` is slower than needed"
… because it fetches all attributes of the SDB item. Passing attribute_name=[] turns out to be ineffective. Discovered by @cket.

Every item should have the '000' attribute, so we should limit the set of requested attributes to that.

[2016-06-22 21:10] hannes-ucsc commented on #995
I think this can be fixed with a retry during bucket creation.

[2016-06-22 21:43] hannes-ucsc opened #998 "Consolidate mentions of 'us-west-2' in AWS-related tests"
Ideally, tests should use the region they are bing run in, if they are run on EC2.

[2016-06-22 22:57] fnothaft opened #1001 "Incorrect package name in Spark documents"
Also have a bad package `__init__.py` in `toil.spark`.

[2016-06-22 23:47] #989 closed

[2016-06-22 23:49] #859 closed

[2016-06-22 23:50] #995 closed

[2016-06-22 23:50] #1001 closed

[2016-06-23 01:51] #988 closed

[2016-06-23 01:52] hannes-ucsc commented on #537
Punting for next sprint.

[2016-06-23 01:53] hannes-ucsc commented on #567
Punting for next sprint.

[2016-06-23 01:54] hannes-ucsc commented on #760
Punting for next sprint.

[2016-06-23 01:54] hannes-ucsc commented on #849
Punting for next sprint.

[2016-06-23 01:55] hannes-ucsc commented on #698
Punting. Which sprint remains TBD.

[2016-06-23 01:56] hannes-ucsc commented on #921
Punting for next sprint.

[2016-06-23 01:56] hannes-ucsc commented on #875
Punting for next sprint.

[2016-06-23 17:01] hannes-ucsc opened #1004 "Bump ToilBox to 3.2.0 of Toil"

[2016-06-23 17:18] hannes-ucsc commented on #1004
Wrong project

[2016-06-23 17:18] #1004 closed

[2016-06-23 19:21] hannes-ucsc opened #1005 "Installation of 3.2.0 with `aws` extra fails due to missing futures dependency"
This will go into 3.2.1.

[2016-06-23 19:34] dleehr commented on #886
I've been researching this today. I've found that one issue is not with the scattered input, it's that when scatter is enabled for a tool, other `valueFrom` inputs are populated into the jobobj dictionary: [cwltoil.py#L441](https://github.com/BD2KGenomics/toil/blob/6fe373ed64e531c9a5be65850672e6360ee3e060/src/toil/cwl/cwltoil.py#L441)

I'm trying to work around by also checking if the input is in

[2016-06-23 19:54] fnothaft opened #1007 "Spark master IP address is captured in constructor"
And then used in the `start` method. The constructor and `start` method are not guaranteed to run on the same note.

[2016-06-23 20:01] hannes-ucsc commented on #886
@benedictpaten, @briandoconnor, is @tetron still funded to be the assignee for issues like this?

[2016-06-24 00:46] hannes-ucsc opened #1010 "HTTP import test is flappy"
http://jenkins.cgcloud.info/job/toil-branches/branch/releases%252F3.2.x/7/testReport/junit/src.toil.test.jobStores.jobStoreTest/FileJobStoreTest/testImportHttpFile/

[2016-06-24 00:47] hannes-ucsc commented on #1010
This should be fixed on the 3.2.x branch and master.

[2016-06-24 07:35] nsjake opened #1011 "Google job store does not validate name prefix"
Google imposes naming restrictions on bucket names see
[https://cloud.google.com/storage/docs/naming#requirements](https://cloud.google.com/storage/docs/naming#requirements)

As it stands the Google job store does not prevent the name prefix in the job store ~~string~~ locator from causing bucket names to violate these restrictions as is the case with name prefixes in the  Azure and AWS job stores

[2016-06-24 17:19] #1005 closed

[2016-06-24 17:19] #1007 closed

[2016-06-24 17:21] hannes-ucsc commented on #1010
I want it fixed on the 3.2.x branch to avoid this test from getting in the way of future point releases on that branch.

[2016-06-25 05:39] #864 closed

[2016-06-25 05:39] #991 closed

[2016-06-25 05:39] #992 closed

[2016-06-25 17:45] arkal opened #1014 "Give attributes to writeGlobalFile's return value"
Start with size. So we can use it in promise lambdas

[2016-06-27 00:32] tetron opened #1016 "close() called during concurrent operation on the same file object."
I got this error from a toil worker after a workflow restart:

[code]

[2016-06-27 07:13] hannes-ucsc commented on #1016
I think it's the assert at the bottom of the log that's the primary exception here. Toil is trying to load the pickled job from the store and neither the inlined content nor the S3 object exist.  The full log might be helpful, as well as some more information about why the previous workflow run failed.

[2016-06-27 13:24] tetron opened #1017 "Mesos driver abort"
I attempted to add a new node to a cluster using `cgcloud grow-cluster` but it seems to crash toil:

[code]

[2016-06-27 15:07] hannes-ucsc commented on #1017
@tetron, could you post the entire log? If not for this one, then maybe in future issues. Gists or pastebins would be useful.

[2016-06-27 15:29] hannes-ucsc commented on #1017
Never mind. This is a worker with Toil 3.1.x installed on it joining a cluster whose leader is Toil 3.2.x or 3.3.0a1. You can't use grow-cluster after you've manually upgraded Toil on the leader. Upgrade to the latest unstable cgcloud (`pip install --pre cgcloud-core cgcloud-toil`), run `cgcloud create -IT toil-box` for Toil 3.2.1 or `cgcloud create -IT toil-latest-box` for Toil 3.3.0a1.

[2016-06-27 15:29] #1017 closed

[2016-06-27 16:56] hannes-ucsc commented on #1014
This needs some explanation. Why are we pursuing this?

[2016-06-27 17:00] hannes-ucsc opened #1018 "Declare IDs as `Any` in API docstrings"
… so we can change our mind about their type in the future.

┆Issue is synchronized with this [Jira Story](https://ucsc-cgl.atlassian.net/browse/TOIL-87)
┆Issue Number: TOIL-87

[2016-06-27 17:12] #975 closed

[2016-06-27 18:17] arkal commented on #1014
I wanted to see if this works before I added a bunch of documentation to it. I don't want to bake the size of files into my pipelines (i.e. saying run_bwa returns a tuple of (fsID of bam file, fsID of bai file, size of bam file). instead, in the lambdas we can just do `disk=PromisedRequirement(lambda x: x.size+30000, A.rv())`

[2016-06-27 18:36] fnothaft commented on #987
As suggested by @hannes-ucsc, look at https://docs.docker.com/swarm/ before doing anything.

[2016-06-27 19:33] arkal opened #1020 "writeGlobalFileStream should return FileID object with .size"
Issue #1014 woks on adding attributes to the return value of writeGlobalFile. This issue concerns setting up the same for writeGlobalFileStream.

┆Issue is synchronized with this [JIRA Story](https://ucsc-cgl.atlassian.net/browse/TOIL-106)
┆Issue Number: TOIL-106

[2016-06-27 21:08] #884 closed

[2016-06-27 21:26] jvivian opened #1021 "Cannot index promise if job returns another promise"
If I have 4 chained functions:

A -> B -> C -> D

Where A returns `job.AddChildJobFn(B).rv()` and so forth until D returns a tuple ('foo', 'bar'),

[code]
will return an error as it attempts to return the index of A, which is a promise, instead of the tuple in D.  @hannes-ucsc knows where in the code this bug originates.

[2016-06-27 22:04] hannes-ucsc commented on #993
@JakeNarkizian, could you try to track this down? Use Amazon's Cloud Trail to find out which instance create leaked buckets/job stores and see if you can map that to a particular build on Jenkins. It's also possible that this is caused by another type of instance, and not toil-jenkins-slave.

[2016-06-28 17:38] almussel opened #1022 "Spark master IP retrieved from wrong node"
The `__init__` method of a service is not necessarily called from the same node as the service is actually run on. Because of this, the master IP of the spark cluster can't be determined in the `__init__` method. This manifests itself in connection failures once the service is running.

[2016-06-28 17:40] fnothaft commented on #1022
Dupe of #1007; fixed by #1008. Closing.

[2016-06-28 17:40] #1022 closed

[2016-06-28 18:36] jvivian opened #1023 "Cannot index promise using dictionary keys"
If a job function returns a dictionary, the promise cannot be indexed using a dictionary key: i.e.   `bqsr.rv('bam')`, but indexing a tuple or list works fine: `bqsr.rv(1)`.

I'll try and get a code example and stack trace up when I have time.

[2016-06-28 20:08] hannes-ucsc commented on #1023
This I would call an enhancement because `rv(index)` was only meant to compliment Python's tuple return feature. While working on this, we might want to extend the mechanism to `rv(indices)` so you can deal with nested structures, too, as long as those data structures support the `[]` indexing operator.

[2016-06-28 23:14] #1014 closed

[2016-06-29 05:18] #788 closed

[2016-06-29 05:18] hannes-ucsc commented on #790
I did this recently.

[2016-06-29 05:18] #790 closed

[2016-06-29 05:32] hannes-ucsc commented on #804
Don't think we have the time for this.

[2016-06-29 05:35] hannes-ucsc commented on #918
The UCSC Toil team will support whatever the community comes up with as long test coverage is good.

[2016-06-29 18:45] hannes-ucsc commented on #771
Depends on #681

[2016-06-29 18:46] hannes-ucsc commented on #987
@benedictpaten to write up his proposal here.

[2016-06-29 18:47] vsoch commented on #730
+1 for interest in this here! This would be... epic :)

[2016-06-29 19:08] hannes-ucsc commented on #730
The Team decided to put this on the back burner so I don't think it will happen this year. But +1's indicating demand may affect our prioritization.

[2016-06-29 19:13] vsoch opened #1026 "Error when running example: AttributeError: 'module' object has no attribute '__file__'"
I'm testing toil on python 2.7.6, and it bugs out after this line:

[code]

Error seems to be getting the **file** attribute from the module:

[code]

This is toil toil-3.2.1, python 2.7.6, on ubuntu. It produces the same error whether I do a local install with --user, or install to system with sudo. Is the example up to date with the current version?

┆Issue is synchronized with this [Jira Story]

[2016-06-29 19:18] vsoch commented on #1026
oh, is it expecting my example job to be the file/module? I'm running this interactively.

[2016-06-29 19:19] vsoch commented on #1026
yep, just worked when I ran it as a script :)

[2016-06-29 21:28] vsoch commented on #1026
Is there any way to run a workflow dynamically, without needing a Class defined in a file?

[2016-06-29 21:37] jvivian commented on #1026
The "Hello World" step asks you to put it in a file, but we should probably explicitly state the reason for that.

Could you expand a bit on your question?  All jobs have to be defined, either as a class or as a function (I usually just define them as functions).  The dynamic element of Toil comes into play when creating the graph that represents the workflow — You can either explicitly lay out wh

[2016-06-29 21:52] vsoch commented on #1026
As a user testing this out, my first instinct was to define the HelloWorld class in an interactive session (as you would imagine, copy pasting the code into an open terminal) and then run the `Job.wrapFn` also in the same console.

I am happy to close this issue, as the use case I described above is likely not very common, and I'll likely be using TOIL for command line running tools (for example.

[2016-06-29 21:57] jvivian opened #1027 "Docs: Explain why users can't use interactive session"
New users are likely to try Toil in an interactive session (#1026), and we need to explain why Toil needs to be executed as a user script before they try our "HelloWorld" example.

┆Issue is synchronized with this [Jira Story](https://ucsc-cgl.atlassian.net/browse/TOIL-89)
┆Issue Number: TOIL-89

[2016-06-29 21:58] arkal commented on #1027
+1

[2016-06-29 22:07] arkal opened #1028 "Extract Job.FileStore into separate module"
FileStore was your average guy, living in a luxurious space with a Job(.py), and a lot of responsibility. Everything changed when the new kid on the block (CachedFileStore) decided to cause trouble in his neighborhood. The new kid was smart... he observed FS and imbibed many of his properties. What the young CFS didn't realize is that these actions would bind the two forever.... or so it seemed.

[2016-06-29 22:17] fnothaft commented on #1026
@jvivian instead of documenting that Toil can't run in an interactive session (a la #1027), I think it'd be better to _make_ Toil usable in an interactive terminal. Anecdotally, Spark's gotten a ton of mileage out of being able to use Spark in a REPL --> while it was originally just a nifty feature, it's become a huge selling point for people who are running ad hoc analyses, or who are prototyping

[2016-06-29 22:21] jvivian commented on #1026
I think that's only natural, so please don't close this ticket so we can reference it in #1027 .

That's actually a work in progress: https://github.com/BD2KGenomics/toil/tree/issues/682-slurm-rebased-twice

[2016-06-29 22:29] hannes-ucsc commented on #1026
This ticket should be about either improving the error message and

People are using Toil with SLURM. I would call support `beta` quality.

[2016-06-29 22:30] vsoch commented on #1026
Thanks for this helpful response! I'm working with [singularity](http://singularity.lbl.gov/#home) containers, which have something called a run script (that can be added to a container) so that when you call the container as an executable, eg:

      ./mycontainer input1 input2

it essentially runs the script specified as the run script. The step I'm on now is making it easy to capture acceptable

[2016-06-29 22:32] hannes-ucsc commented on #1026
Check out #602 and #552.

[2016-06-29 22:38] arkal opened #1029 "k thx bye Job.FileStore"
remove job.FileStore and retain just CachedFileStore

[2016-06-29 22:43] jvivian commented on #1027
Or alternatively, expand support to run in interactive sessions as @fnothaft mentions in #1026

[2016-06-29 23:45] vsoch commented on #730
Great! it's definitely not a deal breaker for my application - actually I've just started to use > python 3.0 for most things, and Ubuntu 14.04 still starts with (system) 2.7.6. The new LTS release has (I think) python 3.5.1. I also see a lot of issues on your board that seem much more important, so I agree with the team's decision. Anyway, thanks for the details - looking forward to python 3 supp

[2016-06-30 00:39] jvivian opened #1030 "Remove WDL support references in documentation"

[2016-06-30 00:58] adderan opened #1033 "Non-cached file read with mutable=True sometimes non-mutable"
The recursive call to readGlobalFile (at this line: https://github.com/BD2KGenomics/toil/blob/3974681ac5b903c967ca31b59d6890e20761859d/src/toil/job.py#L1171) doesn't include the mutable argument, so the file gets read as non-mutable regardless of what the outer readGlobalFile was called with.

[2016-06-30 01:53] hannes-ucsc commented on #1028
… where they will grow tiny organic potatoes and eat them with the skin on.

[2016-06-30 01:58] hannes-ucsc commented on #1033
You probably want the link to refer to a specific commit, otherwise it's gonna go stale in no time.

[2016-06-30 01:58] arkal commented on #1028
haha :D

[2016-06-30 02:00] arkal commented on #1033
good catch! I'll fix that

[2016-06-30 02:01] arkal commented on #1033
uhhh..... maybe i'll do it after the filestore refactor

[2016-06-30 02:02] arkal commented on #1033
Is this blocking you on anything @adderan ?

[2016-06-30 02:56] adderan commented on #1033
I have it fixed in my fork, so there's no problem for me.

[2016-06-30 06:44] arkal commented on #1033
(y) I'll fix it in my next PR

[2016-06-30 14:58] #1030 closed

[2016-06-30 19:52] hannes-ucsc commented on #1021
Reproduction yields the following:

[code]

[2016-06-30 23:48] #1029 closed

[2016-06-30 23:48] #1033 closed

[2016-07-01 03:08] JakeNarkizian opened #1037 "Inconsistent CWL test failures"
see [http://jenkins.cgcloud.info/job/toil-pull-requests/1567/](http://jenkins.cgcloud.info/job/toil-pull-requests/1567/)

[2016-07-01 04:09] hannes-ucsc commented on #1023
This is actually invalid because it already worked. It was fixed in 2fae8040f5e91b72b0effa87c15f2c43e796a46d, I believe.

However, I will use the opportunity to generalize rv() indexing.

[2016-07-01 16:21] hannes-ucsc commented on #1037
That build is for the robust clean PR. To prove that this is not caused by that PR, have you seen this on any other PR or the master build?

[2016-07-01 20:57] JakeNarkizian commented on #1037
Both CWL tests failed with the same error on my machine on the latest master branch. I also found these but one of them includes changes to CWL...
[http://jenkins.cgcloud.info/job/toil-pull-requests/1554/#showFailuresLink](http://jenkins.cgcloud.info/job/toil-pull-requests/1554/#showFailuresLink)
[http://jenkins.cgcloud.info/job/toil-pull-requests/1549/#showFailuresLink](http://jenkins.cgcloud.inf

[2016-07-01 21:23] hannes-ucsc commented on #1037
AFAICT, those are different, unrelated errors. No proof that this issue occurs outside PR #916. The builds of other PRs are succeeding and so are master builds. So far only PR #916 and supposedly master on your machine expose this behavior.

[2016-07-01 21:36] hannes-ucsc commented on #1037
[code]

@jvivian ran into a similar issue earlier today, too. Since the other build are working, I'm going to assume that it was a Dockerhub glitch and closing this. If you believe this is in error, reopen.

[2016-07-01 21:36] #1037 closed

[2016-07-02 01:12] #921 closed

[2016-07-02 01:21] hannes-ucsc commented on #666
#1029 was created as a dupe of this, but the PR addressing it has already been merged. That's why I'm marking this as a duplicate even though #1029 really is the dupe.

@arkal, please let me know if my interpretation of the situation is wrong. And if you could check for existing tickets before creating a duplicate that would help avoid confusion like this in the future ;-)

[2016-07-02 01:23] hannes-ucsc commented on #666
https://github.com/arkal/toil/commit/ab3623c2b41d9d883f27c9c8b302b85b1dc80fdf

[2016-07-02 01:23] #666 closed

[2016-07-02 01:34] #631 closed

[2016-07-02 01:34] #996 closed

[2016-07-02 01:34] #1021 closed

[2016-07-02 01:34] #1023 closed

[2016-07-02 01:38] hannes-ucsc commented on #891
@JakeNarkizian , Do you address this in any of your open PRs?

If so,  their description should mention this. If not, the fix is a one-liner, right? It won't have an effect of the build since Google and Azure are disabled right now via @experimental but I want to get this out of the way. Can you just include it in the clean PR. Separate commit obviously.

[2016-07-02 18:37] arkal commented on #666
It's kind of dupe-y. This one wanted to strip down the features in Job.FileStore whereas #1029 completely removed it. I should have referenced it. My bad!

[2016-07-03 07:56] arkal opened #1039 "PromisedRequirement doesn't work with static DAGs defined in job functions"
[code]
Gives an unpickling error
[code]

On the plus side, functions can be passed to PromisedRequirement, the second call (function H) fails whether its a lambda or a function.

@jpfeil @hannes-ucsc can you look at this?

*As always pay no attention to the names of my files lol.

[2016-07-03 08:31] arkal commented on #1039
works if H is a followOn to G (kinda makes sense) but... and i say this in caps... WHAT THE ACTUAL FUCK.... it works if F2 is a followOn to F1 with H still being a child to G.

[2016-07-03 22:29] jpfeil commented on #1039
This works on my machine. What version of Toil are you using?

[2016-07-04 20:07] hannes-ucsc commented on #1039
@arkal, I edited your post. No swearing please.

[2016-07-05 00:23] arkal commented on #1039
haha sorry i was very exasperated.

@jpfeil i'm on 3.3.0a1. you?

[2016-07-05 05:55] hannes-ucsc opened #1041 "Encryption parameters should not be stored in config"
The AWS job store currently stores the path to the encryption key in the config. This is 1) chickeneggy, 2) dangerous as the chickeneggy workaround stores the config as an unprotected file, potentially risking information leakage, and 3) naive as it would require the same file system path to be valid on all workers.

An environment variable is probably the best way to handle this configuration ite

[2016-07-05 06:02] hannes-ucsc opened #1042 "Need test ensuring encryption"
I found out by accident that the encrypted AWS job store test passes even though the encryption key wasn't actually used and data was stored in the clear.

┆Issue is synchronized with this [JIRA Story](https://ucsc-cgl.atlassian.net/browse/TOIL-123)
┆Issue Number: TOIL-123

[2016-07-05 18:59] arkal commented on #1039
OK So this is a race condition and I believe it has something to do with a job creating a child to resolve the promises. @jpfeil will look into it.

[2016-07-06 20:22] hannes-ucsc opened #1044 "Streaming in AWS and Azure job stores masks exceptions"
The AWS and Azure job stores (haven't checked Google) use the following pattern to facilitate streaming:

[code]

If, during the yield, an exception is raised in the caller, the `with` statements will call close on the readable pipe even though the reader thread is still using it. This will cause

[code]

to be raised which masks the original exception.

[2016-07-06 20:27] hannes-ucsc opened #1045 "Azure job store doesn't use a connection pool"
The current Azure bindings have a way to pass a custom Requests session so we should utilize that.

[2016-07-06 23:59] adderan opened #1046 "Harbingerfile deletion race condition"
[code]

I haven't fully investigated this yet, but it looks like the harbinger file can be deleted by the asyncWrite thread after self.exists() is checked but before self.read() is called in waitOnDownload(). Maybe HarbingerFile.delete() should acquire the cache lock? Also, should line https://github.com/BD2KGenomics/toil/blob/edf86b5e253e9003a441a68773e79ecaded1a599/src/toil/job.py#L1613 be self.

[2016-07-07 09:39] arkal commented on #1046
I'll look into this. As for the second point, yes it is self.delete. Jacob and I found that yesterday and I was going to put it into my next PR.

Thanks for being patient with all this Alden

[2016-07-07 10:14] arkal commented on #1046
wow lol what a race. Yes, it is possible for the async write threads to delete the file between those 2 events in a very small probability.

[2016-07-07 10:23] arkal commented on #1046
Wrote in the fix. Good catch @adderan . From next time, could you please tag/assign cache-related bugs to me so they pop up on my unread notifications? I don't parse through the main Toil issues as often as I should

[2016-07-07 17:55] hannes-ucsc opened #1049 "Implement resume() and initialize() correctly in Google job store"
initialize() and resume() make up the new, deconvoluted job store creation protocol. In #1040, I've implemented it for File, AWS and Azure but deferred the Google implementation for later.

┆Issue is synchronized with this [Jira Story](https://ucsc-cgl.atlassian.net/browse/TOIL-91)
┆Issue Number: TOIL-91

[2016-07-07 22:50] jvivian commented on #922
Ok, here's the plan of attack:

- I'll push 2.1 out within the next week (or so) to satiate the production team
- After that, there will be one PR where I / we refactor out **toil_scripts.lib** and **toil_scripts.tools** into its own repo, **toil-lib**, which we import from as: `from toil_lib.urls import ...` and `from toil_lib.tools.aligners import ...`.
- After that, individual pipelines will mo

[2016-07-08 01:49] hannes-ucsc commented on #922
BTW: The reason we can't do `toil.lib` as we planned is that `toil` would then have to be a namespace package such that two distributions can contain it without conflict (Python is different there compared to, say, Java). This would mean that we could not have any modules in the `toil` package (only a special __init__.py) which in turn would require a largish refactor to Toil. I went that route be

[2016-07-08 02:29] fnothaft commented on #922
Overall, that sounds reasonable to me. I'm -0 on:

But I don't have well articulated reasons for being -0. Since there's at least two big steps that we have to get through before we get to the third bullet, let me think on that bullet a bit more and see if either my discomfort goes away, or if I can articulate what doesn't sit right with me.

[2016-07-08 03:42] hannes-ucsc commented on #922
The advantage of separating each pipeline into each project would be that each could have a different version of toil-lib and therefore toil that it depends on.

[2016-07-08 03:45] fnothaft commented on #922
Sure, and being able to release pipelines disparately. I think my discomfort stems from how "related" workflows would be treated here. E.g., the ADAM k-mer and ADAM germline pipelines. This might be more of a discussion topic, actually: how do we define a pipeline? Is a pipeline of pipelines (like the ADAM/GATK germline pipeline, which pulls in 4 sub-pipelines) packaged separately from its constit

[2016-07-08 03:47] #1010 closed

[2016-07-08 03:50] hannes-ucsc commented on #922
The ADAM pipelines should probably stay together in one project/repo.

[2016-07-08 03:53] fnothaft commented on #922
Sure, but the ADAM variant calling pipeline is hierarchically built out of:

* The überscript
** The core multi-sample ADAM pipeline
*** The batch alignment (bwakit) pipeline
*** The ADAM preprocessing pipeline
**** The Spark services bit (toil_lib, tho)
*** The GATK preprocessing pipeline
*** The GATK germline variant calling pipeline

So, where do the lines get drawn?

[2016-07-08 03:55] hannes-ucsc commented on #922
Do the GATK pipelines have merrit on their own? Do you find yourself frequently having to touch a GATK bit and followed by dependent ADAM bit?

[2016-07-08 03:58] fnothaft commented on #922
The somatic variant calling pipeline will also depend on the GATK preprocessing bit.

As in, modifying them? No, ideally that's well separated. However, if doing a bugfix in the end-to-end pipeline means that I do a bugfix in the GATK pipeline repository and then update the ADAM pipeline repository, that's a bit clunky.

[2016-07-08 04:49] #1039 closed

[2016-07-08 06:59] #785 closed

[2016-07-08 06:59] #789 closed

[2016-07-08 06:59] #834 closed

[2016-07-08 06:59] #869 closed

[2016-07-08 06:59] #891 closed

[2016-07-08 06:59] #904 closed

[2016-07-08 06:59] #1044 closed

[2016-07-08 07:03] #993 closed

[2016-07-08 17:23] #1046 closed

[2016-07-08 17:40] hannes-ucsc opened #1053 "Minor fix to CGCloud-in-a-nutshell section in docs"
Remove bullet 3 in http://toil.readthedocs.io/en/latest/installation.html#cgcloud-in-a-nutshell

-core is a dependency of -toil. Installing is explicitly is unnecessary. Installing it in separate command is potentially racy.

[2016-07-08 17:50] hannes-ucsc commented on #1011
I don't think I actually addressed this. Reopening.

[2016-07-08 18:06] hannes-ucsc commented on #1053
Actually, it's not racy.

[2016-07-08 19:36] hannes-ucsc commented on #875
Won't make it into 3.3.0.

[2016-07-08 20:53] #1028 closed

[2016-07-09 17:03] dyndna opened #1054 "s3cmd get returns permission denied"
First of all, impressive work and +1 for open-source code!

I have tried to download a recomputed TCGA samples from a recent biorxiv preprint using

[code]

It returned error 403

[code]

Using s3cmd version 1.6.1 on OS X 10.11.4 x86_64, Darwin Kernel Version 15.4.0

Thanks,
Samir

[2016-07-09 20:25] jvivian commented on #1054
Hi @dyndna — Thanks for checking out the paper!

I just tried the sample you're looking at with a few different credentials and I think the reason you're getting 403 forbidden is that `s3cmd` hasn't been configured.  Type `s3cmd --configure` and supply your AWS credentials in order to download the data.  If you don't have an AWS account, you can view / download the data from the Xena browser: http

[2016-07-09 21:22] dyndna commented on #1054
Not really! I have reconfigured s3cmd and tested on my s3 buckets to make sure I can do `ls`, `get` and `put` operations. Here is my `~/.s3cfg` How can I get GTEx RSEM and/or Kallisto counts?

Thanks,
Samir

[code]

[2016-07-09 21:38] jvivian commented on #1054
Hm, your s3cfg looks fine so I'm unsure what the issue is. I just helped someone outside our group download the data from S3 and it worked for them. I tried `s3cmd get --requester-pays s3://cgl-rnaseq-recompute-fixed/tcga/014ee344-2844-4bc4-842e-e6d6e1e8fd9b.tar.gz` using credentials from the account that owns the S3 bucket _and_ using credentials from a different account and both started the down

[2016-07-09 22:06] dyndna commented on #1054
limited credentials - got it!

I was using secondary and limited access key from my AWS IAM panel which was authorized to access billing part. Download works with primary key having full access to billing.

Cheers and appreciate reply over weekend:-)

Samir

[2016-07-09 22:06] #1054 closed

[2016-07-12 02:18] hannes-ucsc opened #1055 "Create integration tests"
Front-to-back execution of a Toil workflow in AWS. Run a real-world pipeline (probably @jvivian's rnaseq pipeline from BD2KGenomics/toil-scripts) on a set of minimal, fake samples. Install cgcloud, use cgcloud to create toil-box image, start a leader, install toil-scripts on it, rely on autoscaling to spawn the instance.

[2016-07-12 18:48] #770 closed

[2016-07-13 00:28] fnothaft opened #1059 "Clean should be more judicious"
Opening this "on behalf of a friend". Right now, `toil clean <jobStore>` calls the `JobStore.destroy()` method, which seems to do a [`rm -rf`](https://github.com/BD2KGenomics/toil/blob/master/src/toil/jobStores/fileJobStore.py#L79) indiscriminately on the directory passed to it. I presume that there is some structure to a job store; I haven't looked at the job store underbelly too much. If so, it'

[2016-07-13 06:24] hannes-ucsc commented on #1059
Makes sense.

[2016-07-13 17:49] fnothaft opened #1060 "Can FileStore.localTempDir cleanup be controlled by the --clean config flag?"
Currently, the directory returned by [`FileStore.getLocalTempDir`](https://github.com/BD2KGenomics/toil/blob/master/src/toil/fileStore.py#L132) is cleaned up at the end of each job. This is inconsistent with the behavior of the [--clean](https://github.com/BD2KGenomics/toil/blob/1ef0cfa72bf16c5bc2f8306d532825b1d8251664/src/toil/worker.py#L528) option and can make debugging more difficult. Is this

[2016-07-13 18:14] hannes-ucsc commented on #1059
For max robustness we could touch a `.toil` file right after `mkdir`-ing the job store directory.

[2016-07-13 18:18] fnothaft commented on #1059
Perhaps you could put it all in a `.toil` directory or something, so then you could just `rm -rf .toil`.

[2016-07-13 22:21] hannes-ucsc commented on #1060
We have `--cleanWorkDir` for that. I think we separated it because the association is mostly incidental when using singleMachine with file job store because then (and only then) do the job store and the work dir reside on the local file system. On a cluster, you might want to keep the AWS job store, but clean up the worker's work dirs. I'm open to rethinking that, though.

[2016-07-13 22:23] fnothaft commented on #1060
Oh, man! I can't believe that I mixed `--clean` and `--cleanWorkDir` up. That's my error. Let me close this.

[2016-07-13 22:23] #1060 closed

[2016-07-14 15:34] chapmanb opened #1061 "Move logging message for internal Toil job operations to DEBUG"
cc @arkal @hannes-ucsc

This PR is spun out of the discussion in #1048. In CWL runs we see a large number of logging messages devoted to internal Toil processes output to INFO:

[code]

From the discussion, the work plan is to only report these messages in INFO if called through the Toil API, and if called from internal Toil (or Toil/CWL) processes report them as DEBUG.

[2016-07-14 16:55] hannes-ucsc commented on #1061
Proposed solutions:

* add `=quiet=False` kwarg to the fileStore methods (@arkal)
* add wrappers, e.g. `deleteGlobalFile()` makes the log entry and calls `_quietDeleteGlobalFile()` which does the real work but doesn't log (@hannes_ucsc)
* add wrappers dynamically with magic methods (@hannes_ucsc)
* add command line flag, e.g. --fileStoreLogLevel (@arkal)
* use `inspect` to determine whether callin

[2016-07-15 07:01] hannes-ucsc opened #1062 "Higher-order job functions fail if their arguments are defined in __main__"
http://jenkins.cgcloud.info/job/toil-scripts/418/testReport/junit/src.toil_scripts.rnaseq_cgl.test.test_rnaseq_cgl/RNASeqCGLTest/test_with_manifest/

is a build for this change

[code]

which produces

[code]

Debugging reveals that the job function is `map_job` from `toil_script.lib.jobs`. It's argument is the `download_sample` function from `rnaseq_cgl_pipeline.py` which is invoked as `__main__`

[2016-07-15 17:30] hannes-ucsc commented on #677
Remove the changes introduced by #1048.

[2016-07-15 19:33] hannes-ucsc commented on #677
Proposal: Add the ability to supply a job name with each job. This could be as a pseudo-requirement (`disk='1G', name='foo', …`) and/or as parameter to the `addChild…` and `addFollowOn…` family of methods. The job name should default to the function name. Users would typically want to add the sample UUID. At the end of a workflow invocation, Toil should print the list of failed jobs along with the

[2016-07-15 21:03] jvivian commented on #677
@arkal and I +1 as well.

@Jeltje — Once this is integrated, the final output of Toil will list the name of the job that failed and what UUID, which means you can quickly ascertain what subset of samples failed.

[2016-07-19 16:38] #1055 closed

[2016-07-19 16:39] arkal opened #1063 "resource parsing can't handle nums in scientific notation"
A collaborator of mine is seeing this problem.
[code]

It arises from a resource request (in this case, disk) being passed a float in the scientific format.
The fix lies in modifying and updating bd2k-python-lib.

This PR should fix it: https://github.com/BD2KGenomics/bd2k-python-lib/pull/9

[2016-07-19 16:39] arkal commented on #1063
@hannes-ucsc could you look at this please?

[2016-07-19 16:50] hannes-ucsc commented on #1063
What's the user script that leads to this? Stuffing float literals down human2bytes' throat is probably just treating a symptom.

[2016-07-19 16:52] arkal commented on #1063
This comes from ProTECT. The result of dynamic disk resource requests can be floats.

[2016-07-19 16:54] hannes-ucsc commented on #1063
This should have been in the issue description.

[2016-07-19 16:56] arkal commented on #1063
d'oh!

[2016-07-20 17:56] #1063 closed

[2016-07-20 19:06] hannes-ucsc opened #1066 "False resource warning on worker"
[code]

I think there is a negation missing in the condition that guards this log statement.

[2016-07-22 05:08] hannes-ucsc opened #1069 "Honor preemptability when scheduling Mesos task"

[2016-07-22 05:17] hannes-ucsc opened #1070 "Auto-scaler's notion of # of nodes will deviate from reality"
First discrepancy occurs at start-up. If cluster already has nodes, auto-scaler will ignore them and scale as if they didn't exist.

But also during normal operations, node failures and spot-market terminations will inevitably lead to deviation.

[2016-07-22 05:18] hannes-ucsc commented on #1070
We need a test that starts an auto-scaled run on a cluster that already has workers.

[2016-07-22 05:56] hannes-ucsc opened #1071 "Better handle exceptions in auto-scaler threads"
At least we should log at the end if scaler died during exceptions. We may also want to swallow all exceptions in the provisioner.

[2016-07-22 10:48] brainstorm commented on #918
@cjfields, I heard from @ohofmann that you're interested in having SLURM support on Toil as well. Here are some pointers me and @chapmanb are working with should you (or anyone else) want to jump in on our testing/dev efforts:

https://forums.docker.com/t/docker-volumes-flapping-between-start-and-stop-states-while-the-container-is-running/10641

Ignore the docker parts for now, to run on your clus

[2016-07-22 22:06] hannes-ucsc opened #1072 "Add back ability to disable caching"
Create a second FileStore implementation that can fill in for the current caching one. Add `--disableCaching` and mention it in the error message that is raised when a BS is used that doesn't support the caching FileStore.

[2016-07-22 22:08] hannes-ucsc commented on #1072
Arjun volunteered! Due to his time constraints, we'll leave testing out of it for now if @chapmanb is willing to test it manually. Ultimately, it would be nice if we could run some tests agains both FileStore implementations.

[2016-07-22 22:12] hannes-ucsc commented on #987
Renaming to zombie as that is established Unix terminology for processes and Docker containers are processes.

[2016-07-23 02:32] hannes-ucsc opened #1073 "Consider auto-scaling the auto-scaling interval"
It should be short initially to allow for the cluster to quickly grow to a decent size, from 0 mind you. It could be a function of the amount of recent activity. Or a function of the cluster size. Discuss with @benedictpaten.

[2016-07-23 07:48] hannes-ucsc opened #1074 "Straggler nodes hold up auto-scaling"
http://jenkins.cgcloud.info/job/toil-pull-requests/lastCompletedBuild/testReport/src.toil.test.provisioners.cgcloud.provisionerTest/CGCloudProvisionerTest/testAutoScaledCluster/

The log filtered by `provisioners.` is:

[code]

There is one node that we wait to join the cluster for 25min while the cluster is running with 4 nodes. A typical auto-scaled run for the 10 samples in that test creates 12

[2016-07-24 09:56] chapmanb commented on #1072
Arjun and Hannes -- this is awesome, thanks so much for helping to put this in place. I'm happy to help with testing and anything else needed once you have an opportunity to look it.

[2016-07-25 18:53] hannes-ucsc commented on #1073
After discussing with @benedictpaten, we decided to keep constant for now, but change default to the 10s that have been working for me during the tests.

We'll need to gather more data before we can make a decision on this.

[2016-07-25 19:02] hannes-ucsc commented on #1072
@cket , this is the ticket I've been talking about in today's scrum. @arkal and I looked at the code and determined that the most difficult aspect of this is how worker and FileStore interact for the asynchronous aka background writing of local files to the job store. The new non-caching FileStore implementation should not do background writing so you only need to study that interaction up to the

[2016-07-26 20:41] cket opened #1076 "Missing documentation on ReadTheDocs"
toil.fileStore, job, jobWrapper, resource, toilState and version modules appear on ReadTheDocs as titles with no content.
http://toil.readthedocs.io/en/latest/generated_rst/toil.html#module-toil.fileStore
The other modules are visible down the linked page

[2016-07-27 15:29] hannes-ucsc commented on #1071
Switch scaler threads to subclasses of ExceptionalThread from BPL.

[2016-07-27 17:22] cket opened #1077 "Log level is permanently set at INFO"
Adjusting `--logLevel` had no effect. When I looked closer, it appears that the `--logLevel` flag has been removed completely.

Adjusting the log level within a toil script by manually setting `options.logLevel`  still works.

[2016-07-27 17:39] hannes-ucsc commented on #1077
`--logDebug` still works for me

[2016-07-27 18:04] JakeNarkizian opened #1078 "Excessive logging in clusters"
The logs from rna seq run contain too many repeated prints of the following message:
[code]
This is being logged once for every offer and therefore node in the cluster. Preventing this will cut down on excessive logging.

Manifest:
[code]

Config:
[code]

running with toil-script v2.0.1

See attached [log file](https://github.com/BD2KGenomics/toil-scripts/files/384865/log.txt).

[2016-07-27 18:43] cket commented on #1077
You're right, my mistake - the script I was trying to run used getDefaultOptions, which doesn't actually do any parsing from the command line.

[2016-07-27 18:43] #1077 closed

[2016-07-27 20:11] joelarmstrong opened #1080 "toil-sort-example broken"
I see that the typo in toil-sort-example in the docs (running.rst in the docs) was fixed in #1075, but there are several other issues, mostly related to caching, that cause it to be completely broken. This caused some confusion last week when someone from our group was trying to use the docs to learn Toil.

The first error is due to expecting the CWD to be same on the worker as it is on the leader

[2016-07-27 21:52] cket commented on #1076
This problem is caused by sphinx api-doc not being able to generate documentation for classes- it only works at a module level. Everything under file:///Users/cj/toil/docs/_build/html/generated_rst/modules.html has the same problem. We could try find a new tool to generate better documentation here or we could drop this section. Since the relevant classes are already documented in http://toil.read

[2016-07-27 23:05] hannes-ucsc commented on #1076
Are you sure? Is that a documented inability?

[2016-07-27 23:19] hannes-ucsc commented on #1080
How embarrassing. Yes, Sphinx or docrunner should be able to run the examples but I've never used it. We have #525 open on that.

[2016-07-27 23:20] hannes-ucsc commented on #1080
And by "it" I mean that feature of Sphinx.

[2016-07-27 23:21] #1080 closed

[2016-07-28 00:39] cket commented on #1076
The documentation is sparse but theres no mention of being able to generate the autoclass directives that I think are needed. I'd be more confident if this was explicitly addressed in either api-doc or in the automodule directive documentation but I'm still pretty sure api-doc won't do class level documentation.

[2016-07-28 01:03] hannes-ucsc commented on #1076
Looking at boto as an example. If I'm right, this .rst document

https://raw.githubusercontent.com/boto/boto/develop/docs/source/ref/dynamodb2.rst

is used to produce  this page:

http://docs.pythonboto.org/en/latest/ref/dynamodb2.html

I do see classes in the latter even though they are not explicitly mentioned in the former.

[2016-07-28 05:51] humburg commented on #730
+1 I'd be interested in this as well.

[2016-07-28 16:51] hannes-ucsc commented on #1076
It wouldn't be the end of the world if we didn't automatically generate the per-module `.rst` files and committed them to the source tree instead.

[2016-07-28 17:00] cket commented on #1076
Thanks for the boto reference, that narrowed the problem down to our configuration! Out conf.py was set up to skip classes. I'm not sure why it was set up like that but removing it fixes the issue.

It does introduce new problems though, there are now 160 warnings thrown vs. the 20 thrown before.

[2016-07-28 18:05] hannes-ucsc commented on #1076
Fix or suppress at your discretion.

[2016-07-28 18:09] hannes-ucsc commented on #1078
@JakeNarkizian, the link is great but to make it easier for 3rd parties, could you summarize in the issue description what we decided on that toil-scripts ticket?

[2016-07-28 18:46] #1072 closed

[2016-07-28 18:56] cket opened #1082 "Fix RST/sphinx syntax errors in docstrings"
There are lots of docstrings throughout the codebase that are formatted incorrectly and cause sphinx warnings or errors when building.

[2016-07-28 19:12] cket commented on #760
Given that this is most likely  a SDB issue, I like @joelarmstrong's solution. We can fix this particular symptom to curb the problem until we switch to DynamoDB, if/when that happens.

[2016-07-28 21:15] JakeNarkizian commented on #1078
The logs from rna seq run contain too many repeated prints of the following message:
[code]
This is being logged once for every offer and therefore node in the cluster. Preventing this will cut down on excessive logging.

Manifest:
[code]

Config:
[code]

running with toil-script v2.0.1

See attached [log file](https://github.com/BD2KGenomics/toil-scripts/files/384865/log.txt).

[2016-07-28 21:29] hannes-ucsc opened #1084 "Collect and periodically print auto-scaling stats"
… and expose a diagram in the monitoring web app. Depends on #1089.

┆Issue is synchronized with this [Jira Story](https://ucsc-cgl.atlassian.net/browse/TOIL-95)
┆Issue Number: TOIL-95

[2016-07-28 21:30] hannes-ucsc opened #1085 "Test auto-scaling with real world pipelines"
Depends on #1084, #1085 and #1086. Once those are fixed, we may ask @arkal, @jvivian and/or @jpfeil to test it on real data, in preparation of their big recomputes which should also use auto-scaling.

[2016-07-28 21:33] hannes-ucsc opened #1086 "Auto-scaling creates twice as many nodes as needed"
… because non-preemptable nodes are scaled up even though all jobs are preemptable.

[2016-07-28 21:34] hannes-ucsc opened #1087 "Write user facing documentation on auto-scaling"
Explain how to use it in general, what to expect from it and what to look out for in case of failures. Explain what the alpha, beta and scaling interval parameters do.

[2016-07-28 22:05] hannes-ucsc opened #1088 "Create Toil appliance"
Create a Docker image with Mesos and Toil in it. Ultimately we'll also need Docker inside the image but we'll ignore that fact for now. There also needs to be a wrapper.sh or wrapper.py that is set as the ENTRYPOINT of the image. That wrapper needs to determine if the container is invoked as a leader or worker and start mesos-master or mesos-slave accordingly.

Let's brainstorm this a bit on Monda

[2016-07-28 22:45] hannes-ucsc commented on #998
Look at provisioners.cgcloud for one way to get at the instance metadata and determine the regions. Or use boto's get_instance_metadata. This could be a property in the ToilTest base class and you could @memoize to cache the  return value.

[2016-07-28 22:58] hannes-ucsc commented on #1086
I think this is such an obvious problem that even without #1084, we should be able to diagnose and fix it. Assigning to @benedictpaten for a quick analysis and maybe pointers for a fix.

[2016-07-29 01:09] hannes-ucsc opened #1089 "Add monitoring web application"
Feature ideas:
- browse job store
- display a history of jobs run on a worker with duration and outcome
- display autoscaling statistics
- display all failed jobs with logs
- link to Mesos web app

[2016-07-29 01:11] hannes-ucsc commented on #1084
… and expose a diagram in the monitoring web app. Depends on #1089.

[2016-07-29 16:57] cket opened #1091 "Replace SDB with DynamoDB"
AWS is moving away from SDB in favor of DynamoDB. Switching would solve the inconsistency problems seen in #760 and increase scalability.

[2016-07-29 17:36] #600 closed

[2016-07-29 17:36] #1069 closed

[2016-07-29 17:36] #1070 closed

[2016-07-29 17:36] #1071 closed

[2016-07-29 17:36] #1074 closed

[2016-07-29 17:36] #1066 closed

[2016-07-29 17:48] hannes-ucsc commented on #1091
The way its written now, it would be a dupe of #964, but I will rewrite it.

[2016-07-30 00:41] #760 closed

[2016-07-30 00:46] hannes-ucsc opened #1093 "409 conflict in _bindBucket"
http://jenkins.cgcloud.info/job/toil-pull-requests/1699/testReport/junit/src.toil.test.jobStores.jobStoreTest/AWSJobStoreTest/test_testImportExportFile__otherCls_awsjobstoretest__size_one/

[code]

[2016-07-30 00:49] #1076 closed

[2016-07-30 00:49] #1082 closed

[2016-07-30 02:24] hannes-ucsc opened #1094 "`toil --version` freezes"
The backtrace is nuts. A simple `toil --version` shouldn't involve importing job stores implementations. I'm also wondering why importing the AWSJobStore decends into all this encryption stuff.

[code]

[2016-08-01 20:07] cmarkello opened #1097 "Global name 'config' not defined for getting azure job store"
`global name 'config' is not defined` error found in `toil/common.py` on line 617 in `getJobStore` when running toil version 3.3.1 on an Azure cluster. Error does not show up for toil version 3.2.1 and the toil script runs to completion. File `.toilAzureCredentials` is set properly.

Toil script command:
`./vg_evaluation_pipeline.py --batchSystem mesos --mesosMaster 10.0.0.5:5050 --realTimeLogging

[2016-08-01 20:20] hannes-ucsc commented on #1088
Use the Mesos dockerimage as a base.

[2016-08-01 20:21] fnothaft commented on #1088
Mesos publishes two images:

* https://hub.docker.com/r/mesosphere/mesos-master/
* https://hub.docker.com/r/mesosphere/mesos-slave/

[2016-08-01 20:23] fnothaft commented on #1088
I'll draft this up by EOD tomorrow; @cket can you help to test this out? Let's sync up after the pipelines-scrum tomorrow.

[2016-08-01 21:07] cket opened #1098 "CWL test_run_conformance connection time out"
http://jenkins.cgcloud.info/job/toil-pull-requests/1701/testReport/junit/src.toil.test.cwl.cwlTest/CWLTest/test_run_conformance/

I reran the test suite with no changes and everything passed the second time. It looks like the problem was just a failure trying to clone CWL.

INFO:toil.test:Setting up toil.test.cwl.cwlTest.CWLTest.test_run_conformance ...
Cloning into '/mnt/ephemeral/workspace/toil-

[2016-08-01 21:23] hannes-ucsc opened #1099 "Prefer preemptable nodes when scheduling preemptable jobs"
Non-preemtable jobs will not be scheduled on preemptable nodes but whether a preemptable job is scheduled on a preemptable or a non-premptable node is a coin toss currently. This needlessly increases the scarcity of non-preemptable nodes and reduces the chance of a non-preemptable job being scheduled.

I think this can be fixed by changing the offer acceptance code in the Mesos batch system to con

[2016-08-01 22:37] cket commented on #1088
Definitely, talk to you then!

[2016-08-02 08:35] zichner opened #1100 "Option --restart produces error when running CWL pipeline"
[code]

Is the restart feature implemented for CWL?

Thanks!

[2016-08-02 14:18] chapmanb commented on #1100
Apologies, `--restart` is not yet implemented for cwltoil but this is something we're actively working on. You can see the discussion in #1025 For the short term you'll have to remove the previous jobStore directory and re-run from the start.

[2016-08-02 15:50] zichner commented on #1100
Great to see that you guys are already working on this. And thanks for pointing me to the pull request discussion, I somehow overlooked it.

[2016-08-03 11:04] Jeltje opened #1104 "Missing module concurrent.futures"
I am attempting to run toil-bwa and toil-cgl, versions:
[code]
Test runs with either toil-cgl or toil-bwa fail with
[code]
see also [this issue](https://github.com/BD2KGenomics/toil-scripts/issues/400) for the full log

[2016-08-03 16:41] fnothaft commented on #1104
Hi @Jeltje! Which release of toil are you running? IIRC, this issue was fixed in https://github.com/BD2KGenomics/toil/issues/1005, which is in Toil 3.2.1 and later.

[2016-08-03 20:18] #1097 closed

[2016-08-03 21:46] fnothaft commented on #1088
TODO:
- [ ] Merge https://github.com/BD2KGenomics/cgl-docker-lib/pull/160
- [ ] Resolve https://github.com/BD2KGenomics/cgl-docker-lib/issues/162

[2016-08-09 18:14] arkal commented on #987
@benedictpaten and I had a long chat yesterday and we built on the chat @hannes-ucsc and I had last week. We will use the inherent caching mechanism to track pids of jobs and then use the filestore context manager to allow jobs to clean up behind themselves on completion in a finally clause. On entering the filestore, jobs will check for other jobs' integrity and purge any dead jobs. Users will ha

[2016-08-09 23:45] #1078 closed

[2016-08-09 23:45] #877 closed

[2016-08-10 07:30] zichner opened #1108 "JobStore problem when using GridEngine batch system"
Using the latest git version of Toil (last commit: 2ad4bad) with a gridengine batch system results in the following error:

[code]

Running the script locally (i.e., without `--batchSystem gridEngine --disableCaching`) is working without any errors.

NB: `HelloWorld.py` is taken from here: <http://toil.readthedocs.io/en/releases-3.3.x/running.html>

Thank you very much for your great work!

[2016-08-16 15:46] golharam opened #1109 "cgcloud register-key fails with us-east-1 and us-east-1a"
In the docs for cloud installation, the docs say to run:
[code]
When I do this, I get the error:
[code]

My  CGCLOUD_ZONE=us-east-1a, so I'm not sure what to do.   AWS docs says I should use us-east-1, but when I set that to CGCLOUD_ZONE, Toil can't determine the region.

[2016-08-16 21:22] arkal opened #1110 "Handle relative paths for --workDir"

[2016-08-22 17:10] hannes-ucsc commented on #1104
@Jeltje provided the version numbers in her OP. Is this still an issue?

[2016-08-22 19:06] hannes-ucsc commented on #1109
This should be filed against CGCloud, not Toil. Anyhow, this is a duplicate o of https://github.com/BD2KGenomics/cgcloud/issues/215 which has been fixed but the fix has not been released yet. On that ticket, there is mention of a work around that could tie you over until the next release is cut. The workaround is to temporarily change `CGCLOUD_ZONE` to any other region, like us-west-2a, run `cgclo

[2016-08-22 19:06] #1109 closed

[2016-08-22 21:24] hannes-ucsc commented on #987
Try to design this mechanism in a way that let's us do arbitrary per-job cleanup: Let's say we have a job function `foo`:

[code]

The particulars would have to be discussed further. For example, we might want Toil to guarantee that either the deferred function or the clean-up function are going to be invoked, but never both. Not sure.

`docker_call()` would then have to be extended to exploit thi

[2016-08-22 21:58] hannes-ucsc commented on #1108
The problem here is that the GridEngine batch system assumes that it gets a path, not a job store locator. I think this is a regression from when we started prefixing 'file:' to locators that look like file system paths for backwards compatibility. This is loosely related to #332.

[2016-08-22 22:00] hannes-ucsc opened #1113 "Create integration tests for GridEngine, SLURM and SingleMachine"
… so that embarrassing issues like #1108 are caught early.

┆Issue is synchronized with this [Jira Story](https://ucsc-cgl.atlassian.net/browse/TOIL-97)
┆Issue Number: TOIL-97

[2016-08-22 22:03] hannes-ucsc commented on #1108
It should work with `./jobStore` instead of `file:jobStore` as a workaround.

[2016-08-22 23:06] arkal commented on #987
can we discuss this tomorrow after lunch?

[2016-08-22 23:08] fnothaft commented on #987
@hannes-ucsc one thing to keep in mind is that the clean up function would need to run on the same node as the original job, right? This is hard to do on some batch systems, without "going around" the batch system (i.e., ssh'ing directly to the node).

[2016-08-22 23:21] arkal commented on #987
yes which is why we need to chat. We were thinking of a generic cleanup that could be registered with toil. Then any job on a node can check for failed jobs and handle them

[2016-08-22 23:45] hannes-ucsc commented on #987
If you find a crashed job (a job whose worker process crashed before being able to run the deferred functions), you can load its recovery function and run it. You are guaranteed to run it on the same node as the one the job was run on because otherwise you wouldn't have found the crashed job by looking at its left-over caching state. Note that this looking for crashed jobs is not happens whenever

[2016-08-23 07:48] fnothaft commented on #987
This generally sounds good. The one thing that I would make clear when this is actually implemented is that the cleanup function isn't guaranteed to be executed (that whole `BatchSystem.supportsWorkerCleanup()`) bit. Essentially, what we're providing isn't a _job_ cleanup function, it is a _job invocation_ cleanup function. In a job cleanup function, one might do something like try to clean up a f

[2016-08-23 08:00] arkal commented on #987
Then we need to think about "how failed is a job". Either that or we write a robust cleanup function.

[2016-08-23 08:01] fnothaft commented on #987
What exactly do you mean here? I didn't quite follow.

[2016-08-23 08:05] arkal commented on #987
you will clean up an upload  only if there was actually an upload that failed, right? Was there an upload in the job fn? what stage of the job did the job fail on? Did it reach an upload stage? If so, how do we find and handle the upload failure; If not what do we do?

Things like that.

[2016-08-23 08:09] fnothaft commented on #987
Oh yeah, I agree. That being said, you could imagine having a _job_ cleanup function that is guaranteed to run on _any_ host after the job fails (perhaps, guaranteed to run before the next retry of said failed job), and then having a _job invocation_ cleanup function that is guaranteed to run the next time a job starts on the host where said job invocation failed. The former would be sufficient fo

[2016-08-23 08:13] arkal commented on #987
That is what we are targeting, i believe. The plan is to have a check at every job start that looks at the state of all jobs on the worker, and deals with dead/killed jobs and their containers(through the cleanup fn). This sort of ties up to

as well

[2016-08-23 08:15] fnothaft commented on #987
SGTM!

[2016-08-23 15:48] zichner opened #1114 "HelloWorld pipeline doesn't terminate when using gridengine batch system"
Using the latest git version of Toil (last commit: dbbd4ed) with a gridengine batch system the HelloWorld pipeline runs, but does not terminate:

[code]

The last two lines get printed again and again. After ~15min, I killed the pipeline.

Do you have any idea what the problem might be?

Thank you very much for you help and the great work!

[2016-08-23 15:50] zichner commented on #1108
Thank you very much for your reply! Using `./jobStore` instead of `file:jobStore` works.
Now, the pipeline is starting, but unfortunately, it is not terminating. I opened another issue regarding this: #1114

[2016-08-23 17:49] hannes-ucsc commented on #987
Sounds like you guys don't think we need the distinction between deferred and recovery functions. I tend to agree.

[2016-08-23 21:25] arkal commented on #987
Hannes and I had a talk today and came up with a great idea of pickling/dilling job specific cleanup functions into the cache state file in the form of a list such that the cleanup of a job is on the node and is not integrated into the job store. Jobs detected to have been failed can be handled easily since the cleanup function is already defined on the node.

[2016-08-23 21:59] hannes-ucsc opened #1115 "`ImportError: No module named boto.sdb.domain` when `aws` extra isn't installed"
[code]

Regression from 4a2bd735d361966b7252f29c104d8c3bf6d4e50d which is why I'm assigning it to you, CJ.

[2016-08-23 22:06] hannes-ucsc commented on #1115
I would fix this like this:

[code]

[2016-08-23 22:23] hannes-ucsc opened #1116 "testInaccessibleLocation fails"
Someone hosed the bucket we were using for this test. Need to find another account to create the bucket in.

[2016-08-23 22:26] hannes-ucsc commented on #1114
Can't reproduce this:

[code]

Same commit. Only difference is that I need to set TOIL_GRIDENGINE_PE=smp which you might also want to try.

[2016-08-23 22:41] hannes-ucsc commented on #1114
Looking at the difference between your log and mine, I think the problem is in `getJobExitCode`.

Can you apply this patch (or make the change manually) and run again:

[code]

While `HelloWorld.py` is hanging at the end, can you run the `qacct` command line that the added debug statement prints out and post its output here?

[2016-08-24 16:47] zichner commented on #1114
Thank you very much for your input!
The problem was indeed related to `qacct`. On our SGE, `qacct` was not properly set up so that `qacct -j 123` returned `error: job id 123 not found` (even after the job finished).

With `qacct` working correctly, Toil is running properly.

Thanks again!

[2016-08-24 17:51] hannes-ucsc commented on #1114
Glad it works now.

I want to get that logging statement in permanently. Reopening for that reason.

[2016-08-24 21:43] #1114 closed

[2016-08-24 21:43] #1116 closed

[2016-08-24 22:01] #1115 closed

[2016-08-24 22:01] #998 closed

[2016-08-24 23:10] fnothaft commented on #987
+1, thanks for the update @arkal

[2016-08-25 18:36] jpfeil opened #1119 "Fix default resource attributes for JobFunctionWrappingJob"
We are now using JobFunctionWrappingJob resource attributes to configure function calls, but currently the resource attributes default to None when the job function is called.

@cket

[2016-08-25 18:50] ifiddes opened #1120 "Suppressing toil logs at all levels so that pipeline-specific logs can get to leader"
I am trying to figure out how I can have my toil pipelines log only statements I produce.

If I set `logLevel=INFO`, then my logs will get hugely spammed from toil internal logs. So, for my purposes, I set `loglevel=WARNING`. This means that when I write my own log messages, if I want the leader to report them even when a job does not fail, I have to set the `logLevel` higher than `INFO`. But then

[2016-08-25 20:43] hannes-ucsc commented on #1120
First of all, define "hugely spammed". Have you ever seen the `--logDebug` logs? I wonder what term you would use for those ;-) At INFO level it should still be possible to just grep the logs for the interesting bits.

Anyhow, the logging framework can be configured through a separate config file. Thresholds can be set per logger and each module in Toil uses a different logger. I think that should

[2016-08-25 20:47] hannes-ucsc commented on #1119
This description is incomprehensible (to me).

[2016-08-25 20:47] ifiddes commented on #1120
Hugely spammed is largely the result of the fact that I am running a dozen Toil pipelines concurrently, all logging to the same place (the same logging handlers instantiated by my Luigi wrapper).

I am trying to create a logging scenario that will allow me to provide informative logging to a user without the need to grep. One challenge here is that since this is wrapped in Luigi, Luigi already use

[2016-08-25 21:03] hannes-ucsc commented on #1120
Since each module's logger uses the module's package path as the logger name, you should just be able to specify a level for the `"toil"` logger. That should affect the `"toil.foo"` and `"toil.bar"` child loggers. I have only found scant evidence for this, though. The docs speak repeatedly about a "logger hierarchy" but never defines how that hierarchy is set up.

[2016-08-25 21:04] ifiddes commented on #1120
I will do some testing and let you know.

On Thu, Aug 25, 2016 at 2:03 PM Hannes Schmidt <notifications@github.com>
wrote:

[2016-08-25 21:12] ifiddes commented on #1120
A quick test so far. Setting a `toil` logging module does propagate the new log level to lower levels, but specifying a lower level does not override the higher one. Here is the config file I just tested with:

[code]

And a snippet of log:

[code]

Removing those last two loggers has no effect on the output. Removing the `toil` logger causes Toil to default to the `root` logger, which is at level

[2016-08-25 21:19] hannes-ucsc commented on #1120
Are you sure it's `toil-batchSystems` and not `toil.batchSystems`?

[2016-08-25 21:20] ifiddes commented on #1120
If you use a period, you get an error. I got the dash syntax from the luigi config, which you can see in the config file.

[2016-08-25 21:24] cket commented on #1119
When using the default resource values, job.cores (or job.disk, job.memory) will == None within a JobFunctionWrappingJob. This is because the default resources values have not been assigned yet.

[2016-08-25 21:37] hannes-ucsc commented on #1120
Must be a quirk of the configuration file syntax:

[code]

[2016-08-25 21:38] ifiddes commented on #1120
Interesting. Here is the traceback if I try to use a period:

[code]

[2016-08-25 21:38] hannes-ucsc commented on #1119
Still don't get it. Is this a bug or an enhancement.

[2016-08-25 21:42] hannes-ucsc commented on #1120
`logger_toil-batchSystems` occurs twice in the file. Did you change both?

[2016-08-25 21:46] ifiddes commented on #1120
Oops, you are right. It no longer crashes, and it works! I can successfully suppress the batchSystems log. I now get a warning about the realtime logger

`08-25 14:44:46 toil.realtimeLogger INFO  Real-time logging disabled`

I also get messages from `toil.lib.bioio` that appear contradictory:

`08-25 14:44:46 toil.lib.bioio INFO  Logging set at level: WARNING`

[2016-08-25 21:52] cket commented on #1119
This is a bug. If I'm understanding this problem correctly, job defined like this:
[code]
will fail that assertion despite the fact that the default 'cores' value should be 1 (2? at least not None).

This was discovered because @jvivian did some pipeline refactoring and is now modifying tool resource settings by referring to job.cores. Before that he was passing a separate job parameter 'numCores'

[2016-08-25 21:54] hannes-ucsc commented on #1120
The former is not a warning and is to be expected if you don't enable real time logging via the command line. The latter is indeed confusing.

[2016-08-25 21:57] hannes-ucsc commented on #1119
Now I get it. Thanks, @cket.

[2016-08-25 22:17] hannes-ucsc commented on #1104
Closing. Please reopen if still an issue.

[2016-08-25 22:17] #1104 closed

[2016-08-26 15:34] chapmanb opened #1122 "cwltoil non-clean job failures"
While debugging #1107 and responding to comments from @hannes-ucsc I realized the underlying issues with CWL restarts might be that cwltoil does not exit cleanly. Here is a small example with the test directory, forcing revtool to fail by messing up the `rev` command:

[code]

This fails with an assertion error during consistency checks at the end of `innerLoop` (https://github.com/BD2KGenomics/to

[2016-08-26 23:42] adamnovak opened #1124 "Job fails complaining there's not enough space for caching when there is plenty"
I'm trying to run a pipeline I used to run on older versions of Toil, and it seems that something about the caching feature addition broke it.

I'm running on a Mesos cluster on Azure, deployed through the big blue deploy-to-azure button that Toil provides.

The error I get looks like this:

[code]

[My script is here.](https://github.com/adamnovak/hgvm-graph-bakeoff-evaluations/blob/266362e6b4df3

[2016-08-26 23:52] adamnovak commented on #1124
Here's some more log info with debug on:

[code]

I definitely told Mesos to use `/mnt` as its `work_dir` for jobs: https://github.com/BD2KGenomics/toil/blob/f770353faa8355990834145ccda8bf1f64bd00db/contrib/azure/configure-mesos-cluster.sh#L339-L340 According to [the Mesos docs](http://mesos.apache.org/documentation/latest/configuration/), there are supposed to be executor sandboxes under there th

[2016-08-26 23:54] adamnovak commented on #1124
@arkal You wrote caching, right?

[2016-08-27 00:06] arkal commented on #1124
How are you running the program? Are you specifying `--workDir /mnt/somewhere` ?

[2016-08-28 19:50] adamnovak commented on #1124
Nope. I'm just pointing Toil at the Mesos master and telling it to use the
Mesos batch system. Do I have to give Toil a `--workDir` option to control
where it writes its temp files?

I figure that since Mesos is in charge of offering disk space to the Toil
jobs, Mesos should be telling the Toil executor where the disk space it was
offered actually lives on the node's filesystem, once it gets there

[2016-08-29 15:10] dleehr commented on #886
I updated my test case to CWL 1.0: https://github.com/dleehr/broken-valueFrom, but this still fails on cwltoil 3.5.0a1 (today's master)

[2016-08-29 15:34] dleehr commented on #886
@chapmanb I see you've done some work in cwltoil.py relating to CWL v1.0 and scatter c162e45f32486b4050a946be944e4ab1d9ef9c4f - would you mind taking a look at this issue?

[2016-08-29 16:58] arkal commented on #1124
I think that might be a decent feature to add in -- If `--workDir` is not specified but the batch system is Mesos, then get the workDir from Mesos.

Your problem in this issue is that your value for `$TMPDIR` is probably `/tmp` or something on the root directory, and not on the `/mnt` device. You can fix this by
a) specify `--workDir /mnt/somewhere` in your command line call on the leader
b) set t

[2016-08-29 17:14] adamnovak commented on #1124
Maybe we should work one of the environment variable based ones into the
Toil azure setup script under contrib; the default settings ought to be
smart.

I do think that the Right Way to do it is to grab workDir from Mesos,
though, in case someone is using their own Mesos setup.

On Mon, Aug 29, 2016 at 9:58 AM, Arjun Arkal Rao <notifications@github.com>
wrote:

[2016-08-29 18:03] hannes-ucsc commented on #1122
@chapmanb, can you add a log statement that prints `repr(toilState.successorCounts)`?

@benedictpaten wrote the assertion, maybe he can weigh in.

[2016-08-29 20:13] adamnovak commented on #1124
I've tried this and it looks like just setting TOIL_WORK_DIR to /mnt won't work, because the Toil jobs don't run as root and thus don't have permission to write to that directory. Setting up the permissions properly would require just as much dedicated scripting in the Mesos cluster setup as setting up a dedicated /mnt/tmp.

I think it might not be worth having a workaround in our Mesos setup scri

[2016-08-29 20:17] adamnovak opened #1125 "`toil clean` doesn't clean up job stores on Azure"
I've been running jobs with Azure job stores, and I've been wanting to restart them from scratch. I'm supposed to be able to do this with `toil clean`, but it doesn't work.

[code]

Thinking it could have been a timing thing with Azure, I've tried waiting a few minutes between the clean command and trying to re-use the job store name, but it hasn't helped. Clean is still reporting success, and Toi

[2016-08-29 20:26] adamnovak opened #1126 "Azure Mesos template spams log about missing `preemptable` attribute"
The Mesos batch system seems to expect its nodes to be tagged in Mesos with "preemptable" as either true or false. If not, it spams my logs with a lot of this:

[code]

1. Can it be made to be a little more quiet? I only have 4 slaves, and these messages are flooding my console output, and I don't care about them because I'm running in a cluster where nothing is ever going to be preempted by anyth

[2016-08-29 21:20] jvivian commented on #922
@hannes-ucsc and I discussed this and we think this is the way to go wrt version dependencies and conflicts.

Toil-lib will pin a specific version of Toil.  This will get updated roughly every time a new stable release of Toil comes out, complemented by a version bump in Toil-lib.

Pipelines relying on Toil-lib as a dependency should pin a specific Toil version as well as a version of toil-lib tha

[2016-08-29 21:21] hannes-ucsc commented on #1124
I think Mesos sets the current working directory to the sandbox before launching. Maybe we should default os.getcwd() for `TOIL_WORKDIR`? And its `TOIL_WORKDIR` not `TOIL_WORK_DIR`, btw.

[2016-08-29 21:21] hannes-ucsc commented on #1124
… before launching the executor, that is.

[2016-08-29 21:23] fnothaft commented on #922
At a quick glance, this SGTM.

Is this just pip dependencies? Or, when you refer to tool versions, are you saying docker container tags?

[2016-08-29 21:25] hannes-ucsc commented on #1125
Job store initialization and reinitialization in Azure and Google is currently broken.

[2016-08-29 21:27] jvivian commented on #922
Just pip dependencies, container tags should be hardcoded in the pipelines.

[2016-08-29 21:31] hannes-ucsc commented on #1126
If you implement 2, do you still need 1?

[2016-08-29 21:32] fnothaft commented on #1126
IMO, you'd want 1 anyways for people who are running Mesos _not_ through the toil/cgcloud scripts (i.e., most of the installed Mesos userbase).

[2016-08-29 21:39] fnothaft commented on #922
OK, that's what I thought. Just wanted to clarify I wasn't misreading.

[2016-08-29 21:42] hannes-ucsc commented on #1126
I added that warning because at some time in the past I broke the code that sets up that attribute in cgcloud and didn't have any indication in Toil that I did. OTOH, I also see that the flooding is an issue.

[2016-08-29 21:50] chapmanb commented on #886
Dan -- I'd need help from Peter on this one. I spent a lot of time with the scatter/valueFrom code and fundamentally don't understand all of the interactions and when it should resolve things. I'm happy to try and work with Peter when he has time to help school me on what should be happening here that is not.

[2016-08-29 22:20] hannes-ucsc commented on #1098
I don't think there's anything we can do. Feel free to reopen, if you disagree, @cket.

[2016-08-29 22:21] #1098 closed

[2016-08-29 23:08] adamnovak opened #1127 "Restarted job forgets about user script"
My script runs fine in a new job store (apart from some failing jobs due to errors from the tools they run), but when I go to restart the job, I get this:

[code]

It looks like Toil is trying to import the user script, and failing. But this only happens with `--restart`; it imports just fine on the first execution.

I'm running with the AzureJobStore and the MesosBatchSystem, if it matters, with

[2016-08-29 23:10] adamnovak commented on #1124
I've tried that in https://github.com/adamnovak/toil/commit/88d8cd481bdf3280a0853c8bcc8d425a2008b5b9 and I will see how it works, as soon as I get a chance to re-deploy the cluster.

[2016-08-29 23:12] adamnovak commented on #1126
I think https://github.com/adamnovak/toil/commit/6cbc4aac032eb577b091b7562d1842545230ecfb ought to solve point 2; it did when I ran it manually on all my worker nodes.

[2016-08-29 23:22] arkal commented on #1124
That might work. That might require us to rewrite parts of worker.py and put logic in there.

As @hannes-ucsc mentioned, it's `TOIL_WORKDIR` and not `TOIL_WORK_DIR`.

If you look at `cgcloud` and `toil-latest-box`, `/var/lib/toil` is mounted on `/mnt/ephemeral`. The `mesosbox` user doesn't  have access to `/mtn/ephemeral` however `/var/lib/toil` is fully accessible by `mesosbox`. I could suggest d

[2016-08-30 00:44] hannes-ucsc opened #1129 "Add AWS provisioner that uses Toil appliance"
Keep the cgcloud-based provisioner. Add a second, generic AWS provisioner. It will share a lot of functionality with the cgcloud provisioner. Pull that up into a shared base class. Add a static createLeader() method to the AbstractProvisioner class . Implement that in the cgcloud provisioner to raise NotImplementedError. Implement it in the appliance-based AWS provisioner to create an on-demand le

[2016-08-30 00:47] hannes-ucsc commented on #1088
@fnothaft, I copied your two TODO's to the description and added a third one.

[2016-08-30 04:31] #1053 closed

[2016-08-30 04:31] #1120 closed

[2016-08-30 05:41] hannes-ucsc opened #1132 "Create appliance-based provisioner for Google Compute"
Just as with AWS/EC2, use CoreOS: https://coreos.com/os/docs/latest/booting-on-google-compute-engine.html

[2016-08-30 18:45] hannes-ucsc opened #1134 "Create appliance-based provisioner for Azure"
https://coreos.com/os/docs/latest/booting-on-azure.html

[2016-08-30 19:00] hannes-ucsc opened #1135 "Auto-scaling"
This epic issue tracks the entire autoscaling effort, on all cloud providers.

All issues labelled `autoscaling`: https://github.com/BD2KGenomics/toil/issues?q=is%3Aissue+label%3Aautoscaling

General outline of our approach:

[2016-08-30 22:56] jvivian opened #1136 "Toil logs kinda suck"
Debugging Toil pipelines is harder than it needs to be because the stacktrace returned by Toil Worker Output Log has each line prepended by unnecessary log information.

[2016-08-31 18:30] hannes-ucsc opened #1138 "Improve pickling/unpickling of cache state"
Currently we pickle the cache state as dictionaries and convert to objects when needed.  This is a work-around for pickle not being able to handle nested classes. Some code uses the raw dictionaries while other code uses the objects. This is confusing and we should be able to use dill and eliminate the work around.

┆Issue is synchronized with this [Jira Story](https://ucsc-cgl.atlassian.net/brows

[2016-08-31 19:23] hannes-ucsc opened #1139 "Why do we have --cleanWorkDir=onError"

[2016-08-31 19:29] hannes-ucsc opened #1140 "Don't delete a job's files when cleanWorkDir says not to"
Depends on #1139

┆Issue is synchronized with this [Jira Story](https://ucsc-cgl.atlassian.net/browse/TOIL-99)
┆Issue Number: TOIL-99

[2016-08-31 21:51] hannes-ucsc commented on #1139
It was added in symmetry to `--clean=onError` which would leave the job store if the run succeeded. This makes sense if you may want to only look at the stats of a completed run. Similarly, you might only want to look at a job's local left-overs if it succeeded.

[2016-08-31 21:51] #1139 closed

[2016-08-31 23:26] hannes-ucsc commented on #1094
Might have been fixed along with #1115 (#1117).

[2016-09-01 05:15] hannes-ucsc commented on #1094
The backtrace shows the precise import that caused #1115, so I'm assuming that this is fixed.

[2016-09-01 07:15] chapmanb commented on #1122
Hannes -- thanks for the suggestions. I did dig into this but unfortunately it's not very useful since successorCounts is only a pointer to an internal toil directory:
[code]
Benedict -- if you have any tips or directions to try I'd be happy to dig into it further.

[2016-09-01 16:15] forrestzhang commented on #730
Yes, yes. Please add python3 support!

[2016-09-01 17:37] Jeltje commented on #1089
Toil workflows should have an occasional check to see if any `runtime errors` happened in the jobs and exit prematurely if any are found.

In the current setup, an early job failure will result in the program exiting with an error many hours later. This slows down debugging and burns through compute time unnecessarily.

[2016-09-01 18:15] nsjake opened #1141 "EC2 Instance becomes unresponsive on CPU soft lock up"
Here are the system logs:

[code]

┆Issue is synchronized with this [Jira Story](https://ucsc-cgl.atlassian.net/browse/TOIL-100)
┆Issue Number: TOIL-100

[2016-09-01 18:32] cket commented on #1141
Looks like #319 is back

[2016-09-01 18:48] jvivian commented on #1089
That's by design — If you're running multiple samples and one fails, you'd want the rest to finish. If one component of a workflow fails, the rest of the jobs will finish with the idea that you can restart the pipeline and finish the one failed job quickly.

[2016-09-01 23:13] hannes-ucsc commented on #1089
I could imagine scenarios where there is a systematic problem that would eventually cause all samples to fail. At the first sign of such a failure you might want to abort the run by hitting Ctrl-C. But right now the error scrolls past very quickly so its easy to miss. You can probably fix this with a clever arrangement of `tee` and `grep ERROR` but the monitoring web app should also expose failed

[2016-09-01 23:24] hannes-ucsc commented on #1141
https://github.com/docker/docker/issues/19758

[2016-09-02 18:41] #1094 closed

[2016-09-06 20:24] hannes-ucsc commented on #1140
Note to self: implement `shouldCleanWorkDir(config)`

[2016-09-06 21:01] hannes-ucsc commented on #1127
Reproduction according to @cket:

[2016-09-06 21:15] #922 closed

[2016-09-06 22:58] hannes-ucsc commented on #987
The commits should not have referred to this issue as (resolves ) but rather (connected to). We still need the fix to `docker_call` in `toil-lib` to ultimately resolve this.

[2016-09-06 23:00] arkal commented on #987
Hmmm.... my bad!

[2016-09-07 08:20] hannes-ucsc commented on #987
No worries. I think you can make cross-repo issue references in commits so the toil-lib commit can close a ticket in toil. The syntax is `(resolves #BD2KGenomics/Toil#987)` I believe.

[2016-09-07 19:35] hannes-ucsc opened #1142 "Toil build should create and optionally push Docker appliance"
Avoids chicken-eggyness of current approach where appliance is built in cgl-docker-lib and allows for building developer appliances from a dirty Toil working copy, including running the IT with those developer appliances.

[2016-09-07 19:49] hannes-ucsc commented on #1142
See  issue https://github.com/BD2KGenomics/cgl-docker-lib/pull/159 and PRs https://github.com/BD2KGenomics/cgl-docker-lib/pull/176 and https://github.com/BD2KGenomics/cgl-docker-lib/pull/160.

[2016-09-07 20:07] arkal opened #1143 "Put workdir in mesos executor sandboxes by default"
Feature request by @adamnovak

[2016-09-08 02:34] adamnovak commented on #1143
OK, I ran my big run and besides some errors from the Azure job store it seems to have worked fine.

Those errors looked like this:

[code]

They probably deserve their own ticket to add retry logic around whatever is timing out. This ticket here I think is fixed.

[2016-09-08 05:09] jvivian commented on #881
Wrong repo and will be addressed by future QC measures proposed by CKCC / Treehouse.

[2016-09-08 05:09] #881 closed

[2016-09-09 17:56] hannes-ucsc opened #1147 "Incorporate fix for tests leaking IAM roles and instance profiles"
https://github.com/BD2KGenomics/cgcloud/issues/219
http://jenkins.cgcloud.info/job/cgcloud/372/

[2016-09-09 18:38] cket opened #1148 "Autoscaling does not work with restarted pipeline"
After a pipeline is stopped & its nodes are terminated, rerunning the script with --restart will not spin up any more workers.

[2016-09-12 21:21] cket opened #1149 "Refactor CGCloud integration tests"
Make it easier to add new provisioner tests

[2016-09-13 01:22] hannes-ucsc opened #1152 "Hot-deployment fails with job functions spread over two top-level packages"
The following structure in a venv on the leader /path/to/virtualenv/lib/python/site-packages/toil_scripts
/path/to/virtualenv/lib/python/site-packages/toil_lib

causes hot-deployment to fail localization in a job function if parent job function is from toil_scripts.foo.bla while the other job function is from toil_lib.bar.fasel.

[2016-09-13 06:14] hannes-ucsc opened #1153 "Sporadic NoSuchFileError in processFinishedJob"
_From @hannes-ucsc on September 13, 2016 6:13_

[code]

_Copied from original issue: BD2KGenomics/toil-lib#24_

┆Issue is synchronized with this [Jira Story](https://ucsc-cgl.atlassian.net/browse/TOIL-101)
┆Issue Number: TOIL-101

[2016-09-13 17:12] #1108 closed

[2016-09-13 23:36] hannes-ucsc commented on #688
@cket and @jvivian this is the metadata caching hack I was referring to.

[2016-09-13 23:51] hannes-ucsc commented on #688
So we are starting to see the issue in the wild now:

[code]

Occurs the Mesos sandbox as the primary exception. There are also secondary backtraces but they are harder to read because multiple processes write to the same log file. A single backtrace must have these lines in it (arbitrary order):

[code]

[2016-09-14 01:35] hannes-ucsc opened #1154 "Workflow directories are not cleaned up"
@Jeltje reports in https://github.com/BD2KGenomics/toil-scripts/issues/447 that the workflow directories are not being cleared up /var/lib/toil/toil-UUID. In a subsequent run, I've also seen on one of her workers that a previous workflow's directory was left on disk, a workflow that was terminated via Ctrl-C on the leader. It is possible the left overs from https://github.com/BD2KGenomics/toil-scr

[2016-09-14 04:37] #1142 closed

[2016-09-14 04:37] #1149 closed

[2016-09-14 06:49] hannes-ucsc opened #1155 "`make docker` fails on docker >= 1.10"
… because their `docker tag` doesn't support `-f`.

[2016-09-14 17:33] #1155 closed

[2016-09-15 01:10] hannes-ucsc commented on #1124
Closing as duplicate of #1143. Please reopen if that is not correct.

[2016-09-15 01:10] #1124 closed

[2016-09-15 01:15] hannes-ucsc commented on #1154
I saw it with my own eyes. A failed workflow left the workflow directories around despite `--cleanWorkdDir` not being passed  and therefore at the default of 'always'.

[2016-09-15 18:28] arkal commented on #1154
But a successful workflow doesn't have this problem, right?

[2016-09-15 19:40] hannes-ucsc commented on #1154
We don't know for sure.

[2016-09-15 21:49] hannes-ucsc opened #1157 "Tag appliance images with Jenkins build number"
… and consider not pip-installing the sdist but the official release from PyPI. @cmarkello noticed that inside the image only `3.5.0a1` is reported by `pip list`. This may be confusing as there is no easy way quickly find the matching release on PyPI.

[2016-09-15 21:51] arkal commented on #1154
@hannes-ucsc and I ran multiple test workflows that were guaranteed to fail using the single machine, and mesos batch systems, with and without the cleanworkDir flag. Nothing seems out of the ordinary. Hannes will try to reproduce this and I'll look for the same when I run  some ProTECT workflows.

[2016-09-16 07:30] hannes-ucsc opened #1158 "Don't bump retried jobs to defaultMemory"
Makes no sense to me. If there is any bump at all it should be to maxMemory. The default for defaultMemory is 2GiB which is arbitrary and wouldn't be fulfillable on EC2 micro instances or  small Docker containers in conjunction with docker-machine on OS X (that's where I saw it).

Update from 9/22/16:

Add `--minRetryMemory` and switch the retry logic to use that instead of `--defaultMemory`. The

[2016-09-16 07:56] jvivian commented on #1158
+1 for removing this.

-1 on bumping it to maxMemory. Seems like a bad situation if a job fails for memory reasons and then we change something without notifying the user and it passes.

[2016-09-16 17:42] cket opened #1159 "Promised requirement tests may not be strict enough"
http://jenkins.cgcloud.info/job/toil-pull-requests/1814/

Despite a bug in my PR affecting resource requirements, most of the promised requirement tests still passed. All single machine tests passed but 2 mesos tests failed despite being mirrors of the single machine tests.

┆Issue Number: TOIL-110

[2016-09-16 18:10] hannes-ucsc commented on #1158
@benedictpaten, I believe this was intentional. What do you think?

[2016-09-16 18:15] cket commented on #1158
IIRC it was to handle scenarios where jobs with artificially low memory requirements overwhelmed nodes. If their memory was not bumped up the cycle would repeat and keep killing nodes.

[2016-09-19 21:53] cket opened #1160 "Toil appliance can't run other docker containers"

[2016-09-19 21:55] jvivian commented on #1160
`-v /var/run/docker.sock:/var/run/docker.sock` allows the host Docker process to spawn the Docker containers being called within the pipeline.

The versions of Docker inside the container and on the host must be identical.

[2016-09-19 22:42] hannes-ucsc commented on #1160
Installation from statically linked binaries is documented here:

https://docs.docker.com/engine/installation/binaries/

We will need to produce one appliance image per Docker API protocol version.

[2016-09-20 02:20] hannes-ucsc opened #1162 "Combine appliance images for leader and worker"
The base images for master and slave from mesosphere are only trivially different: only the entry point differs. We can easily eliminate that dichotomy. This would avoid having to alias the `toil-leader` images as `toil`, cutting three repos down to one. We already need one set of repos for the integration tests and the unit tests, respectively, so this would reduce the maintenance overhead consid

[2016-09-20 16:35] alaindomissy opened #1163 "Add support for PBS/Torque"
It looks like we would need to make a torque version of this module: https://github.com/BD2KGenomics/toil/blob/master/src/toil/batchSystems/slurm.py
This module includes 5 calls to slurm commands: sbatch, scancel, squeue, sinfo, sacct
which would need to be replaced with the equivalents: qsub, qdel, qstat, qstat -a, q?
A cheat sheet like this one might help: https://slurm.schedmd.com/rosetta.pdf
A

[2016-09-20 17:03] hannes-ucsc commented on #1163
High-quality PRs are always welcome. So TORQUE is yet another flavor of SGE, like SLURM? The SLURM batch system implementation in Toil is an almost identical copy of the GridEngine one. I would prefer it if we could consolidate all flavors by extracting a common, abstract base class.

Keep in mind that we test on a CI cluster managed by CGCloud and Jenkins. The CGCloud role for the Jenkins slave t

[2016-09-20 17:47] hannes-ucsc commented on #1127
Still need to cherry-pick into release/3.3.x.

[2016-09-20 18:03] #1143 closed

[2016-09-21 20:22] cket opened #1165 "Hot deployment localize() should catch EEXIST errors"
Code currently catches ENOTEMPTY but EEXIST can also be raised.

[2016-09-21 20:37] #1152 closed

[2016-09-21 22:10] hannes-ucsc opened #1166 "Write BAM validator function"
In `toil_lib.tools.validators` create

[code]

[2016-09-21 22:12] #1166 closed

[2016-09-21 23:37] cket opened #1167 "Implement FileIDs in NonCachingFileStore"

[2016-09-22 02:01] arkal commented on #1167
If you need me to look at something, let me know!

[2016-09-22 21:47] hannes-ucsc commented on #1158
Sounds good. The feature should be optional, however.

I'll add a spec to the description.

[2016-09-22 21:58] hannes-ucsc commented on #1154
@Jeltje, since you are running workflows right now, could you keep an eye out for this?

[2016-09-23 00:10] Jeltje commented on #1154
I would, but Amazon just confiscated my workers mid-run.... Will do on the next iteration.

[2016-09-23 01:51] hannes-ucsc commented on #1154
[code]

[2016-09-23 01:52] hannes-ucsc commented on #1154
The above is form after a workflow was Ctrl-C'ed.

[2016-09-23 06:58] #1147 closed

[2016-09-23 16:34] arkal commented on #1154
When you `Ctrl-C` the master, does the slave shutdown gracefully? Also i would call this a bug only if that was the state upon a regular Toil failure + shutdown.

[2016-09-23 16:38] arkal commented on #1154
I don't think they do, because simple searches of `mesos SIGINT` and `mesos SIGINT graceful` yield nothing useful about mesos. This guy however has implemented something we can think about putting into the batch system...
https://github.com/dropbox/changes-mesos-framework/issues/2

Catch sigint, remove any offers that were on the table, wait for all running jobs to finish then send shutdown the sy

[2016-09-23 17:25] hannes-ucsc commented on #1154
Just for the record: We didn't shutdown the master, we shut down the Toil leader process, and therefore the scheduler part of the framework. The Mesos master and slave are long running daemon processes that you don't typically Ctrl-C out of.

The link you posted is interesting but hitting Ctrl-C in Python simply raises KeyboardInterrupt which is an exception that can be caught without going having

[2016-09-23 17:30] arkal commented on #1154
My bad. Yes, I meant the leader process. and not the mesos master.

[2016-09-23 17:33] arkal commented on #1154
This could be annoying to implement because the task sent to the executor could be a jobwrapper of 100 jobs, or a wrapper of 1 job. We need to kill the running job on each executor, run the defer function and then exit the job wrapper, and finally shut down the batch system

Realistically, we only need to kill the job because its defer will already have been logged to the cache file and batch syst

[2016-09-23 17:43] hannes-ucsc commented on #1154
Don't quite understand what you mean.

So here's sth we have not tested in our attempts to reproduce this. What if we exceed the executor shutdown grace period simply because we wait for the worker children to terminate which won't happen if they are hosting longer running jobs. Did we ever try with long-running jobs?

[2016-09-23 17:54] arkal commented on #1154
We increased it to give the executor a chance to delete all files and run cleanup before shutting down. On graceful, normal shutdown, there are no running jobs.

what i mean is if we catch a sigint in the leader, we stop accepting offers, send a KILL signal to every currently-running job on every executor, and only then shutdown the batch system. On batch system shutdown, each executor will run th

[2016-09-23 18:00] hannes-ucsc commented on #1154
How? They run on different machines.

[2016-09-23 18:01] hannes-ucsc commented on #1154
Anyways. Before we discuss solutions, we need to discuss how we reproduce this.

[2016-09-23 18:32] cket opened #1171 "AWS Provisioner integration tests should use toil ssh-cluster"
Test setup should piggyback off the provisioner utils to test their functionality as well

[2016-09-23 19:49] hannes-ucsc commented on #1171
And can we rename the command to `ssh-leader`? In case we want to add a true `ssh-cluster` for running adhoc commands on a cluster.

[2016-09-23 20:22] #1119 closed

[2016-09-24 04:46] #1126 closed

[2016-09-26 21:42] hannes-ucsc commented on #1086
I'll be adding the tests for the slack feature.

[2016-09-26 21:47] #1167 closed

[2016-09-27 17:31] hannes-ucsc commented on #1127
5bf470b429c848b1512120bc5552da4fc4e0ef1f fixes this on 3.3.3

[2016-09-27 17:31] #1127 closed

[2016-09-27 22:55] hannes-ucsc commented on #1154
Next time this occurs, we need to look at the Mesos slave  logs in

/var/log/mesosbox/mesos

[2016-09-28 00:10] cket opened #1175 "Remove JobDispatcher class"
Only the IssuedJob named tuple is used from the entire file.

[2016-09-28 01:33] hannes-ucsc commented on #1175
Yes, but also https://github.com/BD2KGenomics/toil/blob/49fdd60bf649b7ad9c9df1740f8ada368e3f97b4/src/toil/leader.py#L122

[2016-09-29 22:51] fnothaft opened #1178 "Move Spark service jobs to toil-lib"

[2016-09-30 02:55] hannes-ucsc commented on #1154
I've gathered these files from a worker where this happened again. User Ctrl-C'ed the invocation.

[code]

Stuff for us to look at @arkal.

[2016-09-30 05:17] hannes-ucsc opened #1180 "FunctionWrappingJob breaks if `preemptable` requirement is passed"
… because it applies `human2bytes()` to the value of the `preemptable` kwarg.

[2016-10-01 00:17] hannes-ucsc commented on #1154
So @arkal and I think we figured it out:

TOIL_WORKDIR is not set in the executor process because /etc/environment isn't being considered by the init process and its children which includes mesos-slave and its child, the Toil executor. So initially TOIL_WORKDIR is not set in the worker process, a child of the executor. But as soon as the worker connects to the jobstore, it unpickles `environment.p

[2016-10-01 00:57] hannes-ucsc commented on #1154
@Jeltje, the workaround is to pass `--workDir=/var/lib/toil` which we recommend for future production workflows with Toil 3.3.x.

We should change ToilBox on cgcloud 1.5.x to use a different mechanism for injecting TOIL_WORKDIR: passing `--executor_environment_variables=VALUE` to the slave daemon.

Starting in Toil 3.5.0, the executor sets TOIL_WORKDIR to the sandbox. Once CGCloud starts to deploy

[2016-10-01 01:08] Jeltje commented on #1154
That's an easy workaround, thanks!

[2016-10-01 11:14] arkal commented on #1154
+∞ for all the time spent on this today.

[2016-10-02 17:22] Jeltje commented on #1154
Unfortunately I'm still getting the error, even with `--workDir=/var/lib/toil`
(large) [log file](http://hgwdev.cse.ucsc.edu/~jeltje/toil/rest.log)

Command:
`toil-rnaseq run aws:us-west-2:jeltje-rnaseq-rest82 --defaultCores=4 --workDir=/var/lib/toil --batchSystem=mesos --mesosMaster mesos-master:5050 --config /home/mesosbox/shared/sr_config.txt --manifest /home/mesosbox/shared/rest.manifest 2>&1

[2016-10-02 20:07] arkal commented on #1154
Can we get the whole log? The docker issues will be fixed by the defer logic in the latest toil-lib (backwards incompatible).

[2016-10-02 20:08] arkal commented on #1154
Oops I just saw the log

[2016-10-03 05:11] arkal commented on #1154
`No such file or directory: '/var/lib/toil/toil-38383c1f-814d-4144-8e58-0470811b35b5/tmpLRWzvG/fa2714ba-48be-43cf-91f9-5be26b754ab7/tGFCmd9/rnaSignal.UniqueMultiple.str1.out.bg`
If you look at the log, that is because something is wrong with the fastq files. Specifically: `EXITING because of FATAL ERROR in reads input: quality string length is not equal to sequence length`, `EXITING because of FAT

[2016-10-03 18:14] arkal commented on #1154
@jvivian, @hannes-ucsc  can you fill this out with what we talked about this morning?

This is very probably not related to using `--workdir=/var/lib/toil` and more related to using `--maxCores=4`

[2016-10-03 18:26] Jeltje commented on #1154
Correction, I use `--defaultCores 4`

[2016-10-03 20:43] hannes-ucsc opened #1181 "Log config at start"
Log every attribute in the config object once the leader and worker processes have fully populated it.  Also log the Toil version.

[2016-10-03 21:54] hannes-ucsc commented on #1154
@Jeltje, passing `--workdir=/var/lib/toil` should ensure that there are no left-over subdirectories in `/var/lib/toil` at the end of a run on any of the workers.

[2016-10-03 23:43] cjfields commented on #1163
@alaindomissy I've started work on this [in a fork](https://github.com/HPCBio/toil) along with tests.  It's incomplete however, I have basic job submission but job ID checks, deleting jobs, etc. still needs to be implemented.

What might be a better long-term option is a wrapper for DRMAA or similar that works across different schedulers.

[2016-10-04 02:22] cjfields commented on #1163
@alaindomissy Just a note, I'm working on moving the code to a branch in that fork so I can update to the latest toil.

[2016-10-04 04:59] cjfields opened #1182 "Docker now required for tests?"
I'm working on a fork that is adding PBS/Torque job manager support, and am attempting to run tests as I had in the past (and as described in the docs).  I noticed the following is now occurring:

[code]

Is there any way to run tests that do not require Docker, such as standard batch system tests like SLURM, etc?  Our local HPC doesn't implement Docker for security reasons (they are looking into

[2016-10-04 17:38] hannes-ucsc commented on #1182
Right now you'd have to modify the Makefile and remove the docker-related dependencies from the `test` target.

I agree that the Toil build should function at least partially on systems without Docker installed. The easiest way is to detect if `docker` is installed and just skip things in the Makefile based on that. Docker-related tests would then also need to be made conditional with a new `@need

[2016-10-04 19:26] cket opened #1183 "Remove usages of 'shell=True' in AWS Provisioner"

[2016-10-04 19:32] cket opened #1184 "Move shared node managing functionality into base class"
Right now the _removeNodes method in the AWS/CGCloud provisioners are almost identical to each other. Refactor them to move shared functionality into a base class.

The entire setNodes function may be able to be shared between the classes.

[2016-10-04 19:35] cket opened #1185 "Move rewritten CGCloud-lib code back into CGCloud"
Especially `create_spot_instances`. Other methods like `retryBoto` and the IAM role policies may also make sense to move into cgcloud lib.

[2016-10-04 19:39] cket opened #1186 "Eliminate unwieldy static methods from provisioner API"
`AwsProvisioner(…).sshMaster("foo")` instead of `AwsProvisioner.ssh(AwsProvisioner.getLeaderIP())`.
Possible solutions are
- partially initialized provisioner (make the provisioner constructor less demanding wrt to what it requires and only partially initialize the object depending on the paramters provided.
- change the provisioner API to be a factory for clusters: AwsProvisioner.getOrCreateClust

[2016-10-04 19:59] hannes-ucsc opened #1187 "Prevent simultaneous use of a job store"
A team mate was running a test with a hard-coded job store locator, both locally and on Jenkins. Unfortunately, the job store semantics work reasonably well in that scenario, causing both runs to progress for some time. There are only a few "global" files for which collisions will occur. The `config.pickle` file is one of them, and where collision causes subsequently launched a workers to switch t

[2016-10-04 20:38] hannes-ucsc commented on #1187
@cket brought up a good point. A second invocation would refuse to use an existing job store and that would have to be overridden with `--restart`. Unfortunately, the team mate in question did this programmatically.

Consensus is that we don't go to great length in accommodating this misuse of Toil by trying to protect the earlier run from being derailed by the later (but concurrent) run with `--r

[2016-10-04 20:40] arkal opened #1188 "Add logging for each job's disk resources used."

[2016-10-04 20:40] arkal opened #1189 "Add defer to inferior filestore"
Depended on by #987

The uncached filestore does not support defer and it should. Proposing to add a jobstate file to each job's working directory such that it can be used to store defer information

[2016-10-04 21:11] cjfields commented on #1182
@hannes-ucsc thanks, just removing the Docker-specific portion for the `test` target works for now.  I agree that having docker tests run conditionally with a decorator makes sense.

I also noticed that SGE jobs will try running on PBS/Torque (and fail), I think b/c the decorator is looking for the `qsub` executable, which PBS/Torque also has.  It might be better to use something like `qmake` for

[2016-10-04 22:17] arkal commented on #1187
Chances are, the second run (with `--restart`) will also fail due to `NoSuchJob` Errors but then the user will know exactly what the issue was. Can we have a variable in config object called hostIP such that when a worker sees `config.workflowAttemptNumber != command.workflowAttemptNumber`, It can print the IP of the worker that restarted the workflow.

[2016-10-05 02:38] fnothaft opened #1191 "Job.Service needs access to the underlying job instance"
We're running into this in https://github.com/BD2KGenomics/toil-lib/pull/46. Specifically, if the `Job.Service.start` method invokes a Docker container via [docker_call](https://github.com/BD2KGenomics/toil-lib/blob/master/src/toil_lib/programs.py#L20) that cleans up the ghost container via a [`defer`red method](https://github.com/BD2KGenomics/toil/blob/master/src/toil/job.py#L549), we need the wr

[2016-10-05 15:02] arkal commented on #1191
+1. Can you add a service job test  in toil?

[2016-10-05 16:09] Jeltje commented on #1154
I'm running a 22 sample rnaseq job, which hasn't fully finished (I think I am waiting for one more sample). Two of the workers do not appear to be running anything (`ps -ef`) but have full `/mnt/ephemeral` drives and a remaining workdir. Inside the workdir, the `worker_log.txt` shows this (note that it truncates at the end):

[code]

The other worker's log ends similarly:
[code]

The workers are s

[2016-10-05 17:41] arkal commented on #1154
Appears to be a [STAR issue](https://groups.google.com/forum/#!topic/rna-star/dr7Kb99E7OA) that he says he fixed. Has the version of STAR on `quay.io/ucsc_cgl/STAR` changed recently?

[2016-10-05 18:11] hannes-ucsc commented on #1154
@Jeltje,

This issue is about workflow directories being left over *after* a run ends. So let me ask you again:

1) Did you run with `--workDir=/var/lib/toil`?

2) Did you see anything in `/var/lib/toil` on any worker after `toil-rnaseq` exited?

Furthermore, your [previous comment](https://github.com/BD2KGenomics/toil/issues/1154#issuecomment-251721136) really belongs to https://github.com/BD2KGe

[2016-10-05 18:16] Jeltje commented on #1154
@hannes-ucsc  Like I said in the email the run isn't finishing; one worker appears hung. If I have your OK to ctrl-c out of the pipeline, I will report back on this.

I am running toil-scripts `2.0.11` like so:
`toil-rnaseq run aws:us-west-2:jeltje-rnaseq-af82 --defaultCores=4 --workDir=/var/lib/toil --retryCount 2   --batchSystem=mesos --mesosMaster mesos-master:5050 --config /home/mesosbox/share

[2016-10-05 18:21] arkal commented on #1154
This is normal behaviour. The cache will take up all the space on the disk and release space to Toil when new jobs are scheduled there. The remaining workdir will be cleaned up the next time a job is scheduled on that worker (in Toil 3.5.0). In Toil 3.3.0 it would have been cleaned up if the retry hit the same worker.

[2016-10-05 18:27] Jeltje commented on #1154
That makes sense. I do get 'out of space' errors from that run though (https://github.com/BD2KGenomics/toil-scripts/issues/467). Is there any way to see which worker issued a specific error? That would help a lot.

[2016-10-05 20:00] hannes-ucsc opened #1192 "Catch `termination flag is set` exceptions"
We should not let the following stacktrace be printed because it is benign:

[code]

[2016-10-05 20:29] fnothaft opened #1193 "Should be able to run `make test` without building appliance docker container"
I frequently develop while offline or on a tether. I think it'd be nice to have a target like `test_offline` that doesn't build the Docker containers for the appliance and that skips the tests for the Docker appliance. Thoughts?

[2016-10-05 22:55] hannes-ucsc commented on #1193
See also #1182

[2016-10-05 23:21] #1136 closed

[2016-10-05 23:21] #1175 closed

[2016-10-06 00:00] #1148 closed

[2016-10-06 07:33] hannes-ucsc opened #1194 "signed"

[2016-10-06 18:50] #1194 closed

[2016-10-06 19:58] cjfields commented on #1163
@alaindomissy see if the pull request #1195 works for you; it's passing batch system tests on our end currently.

[2016-10-06 23:11] cket opened #1196 "Retry pip installation failures in integration tests"
http://jenkins.cgcloud.info/job/toil-pull-request-integration-tests/198/testReport/src.toil.test.provisioners.cgcloud.provisionerTest/CGCloudRestartTest/testAutoScaledCluster/

[2016-10-07 22:17] jeremiahsavage opened #1200 "Document has DockerRequirement under 'requirements' but use_container is false."
Using the most recent git [1] and a local cwltool [2], I get the following error when running a simple cwl [3]

Error:

[code]

[1]
https://github.com/BD2KGenomics/toil/commit/196ba62d468963d57dc36be07e382c247551af62

[2]
https://github.com/jeremiahsavage/cwltool/releases/tag/1.0_gdc_e

[3]
md5sum.cwl:

[code]

ex.yml:

[code]

[2016-10-07 22:53] hannes-ucsc commented on #1200
I don't think we can expect Toil's CWL runner to work with any version of `cwltool`. In fact, Toil's `setup.py` explicitly pins the `cwltool` requirement to 1.0.20160714182449.

What's the reasoning behind upgrading `cwltool` to `1.0_gdc_e`?

[2016-10-07 23:46] jeremiahsavage commented on #1200
Sorry to confuse the issue. I see this problem even with the pinned version of `cwltool`
[code]

I am separately attempting to see if toil can run with other `cwltool` due to issues such as https://github.com/common-workflow-language/cwltool/pull/170 which are not yet fixed in upstream, but are patched in a local branch.

[2016-10-07 23:52] jeremiahsavage commented on #1200
With the patch https://github.com/BD2KGenomics/toil/pull/1201 :
[code]

[2016-10-08 05:00] arkal opened #1202 "Delete sdb domains if unable to create job store bucket"
refer [This log](http://jenkins.cgcloud.info/job/toil-pull-requests/1902/consoleFull). Take for example, the test with uuid `6cdc03f3-e1c1-4fab-97ea-19cc74fb1ea9`. The logs say

[code]

We've apparently reached the limit on number of buckets, so Toil fails..... without deleting the bound jobstore domains -- as evident by

[code]

[2016-10-08 05:23] hannes-ucsc commented on #1202
Good one. This should do it:

[code]

Just need a good way to test it.

[2016-10-08 06:39] arkal commented on #1202
I made a slightly different PR with a test

[2016-10-11 06:51] hannes-ucsc commented on #1196
Turned out to be a concurrency issue with pip: 85c71a712ae4a440bc8fe8347f44ad7356ead41e

[2016-10-11 06:51] #1196 closed

[2016-10-11 16:20] #1086 closed

[2016-10-11 16:21] #1099 closed

[2016-10-11 16:21] #1180 closed

[2016-10-11 18:02] arkal opened #1204 "Handle jobstore buckets existing in other regions"
Currently, if a Toil is attempting to create a jobstore in region A (not equal to `us-east-1`) and a bucket with the same name exists in region B, then SDB raises an SDBError that has a really weird error message. We should handle that with a better message and exception

[2016-10-11 21:43] jvivian opened #1205 "HTTP Error 400: Bad Request on Toil Restart"
`~/.boto` credentials were on the leader at the start of the run. The run finished with a few failed jobs (~24 hours later) so I ran it with `--restart`.  I then saw this identical error message 10 times (`retryCount=1`) for 24 failed jobs.

[code]

[2016-10-12 06:40] hannes-ucsc commented on #1205
Are you absolutely certain that `~/.boto` contained valid credentials? I started recommending moving credentials from `~/.boto` to `~/.aws/credential` a while back. Maybe you followed my advice and ~/.boto didn't have any credentials in it?

[2016-10-13 01:12] hannes-ucsc opened #1206 "Autoscaling improvements."
We've got-bare metal clusters that use SGE or a derivative covered because Toil has no native dependencies in that mode and can be installed on a shared filesystem which these types of clusters typically have.

For bare-metal clusters that lack a shared file system (for deployment) or a cluster manager (for task distribution), we would want to use the appliance. This is a very attractive deploymen

[2016-10-13 02:24] fnothaft commented on #1206
+1, this is how the original spark deployment scripts worked and that provided huge traction

[2016-10-13 18:45] cmarkello opened #1207 "Toil --restart option unable to hotdeploy on Azure"
[code]

[2016-10-13 18:53] cket commented on #1207
What version of toil is this?

[2016-10-13 19:09] cmarkello commented on #1207
3.5.0a1.dev241

[2016-10-13 21:35] cket opened #1208 "Failures in the cluster scaler thread aren't propagated"
If an exception is raised that kills the scaler thread Toil will try to continue running, potentially hanging until it is killed.

[2016-10-13 22:09] adamnovak opened #1209 "Import files from FTP"
It looks like there's a [fake JobStore that reads from http and https for file import](https://github.com/BD2KGenomics/toil/blob/master/src/toil/jobStores/abstractJobStore.py#L963) using urllib2. Since urllib2 can also do FTP, it would be easy to just add "ftp" to the list of protocols that this JobStore supports, to enable importing files from FTP.

Since many bioinformatics data sets live on FTP

[2016-10-14 10:56] hannes-ucsc commented on #1207
That build doesn't include the fix for #1152 of which this issue may be a duplicate of. Can you try again with .dev151 and reopen if it still occurs? BTW, *if* you are using development builds, you should try to keep up-to-date. I don't see a benefit in using a stale development build.

[2016-10-14 14:13] hannes-ucsc commented on #1209
+1

Pinging @JakeNarkizian, who's baby this is.

[2016-10-14 14:16] hannes-ucsc commented on #1208
We should probably add a hook into the scaler that attempts to join the scaler threads for a brief amount of time (join() takes a timeout). The threads are already ExceptionalThreads so any exception would be propagated through join.

[2016-10-14 14:17] hannes-ucsc commented on #1208
The hook would have to be invoked by the main loop.

[2016-10-14 23:06] joelarmstrong opened #1211 "Minor copy-paste error in worker.py"
I just stumbled across this:

https://github.com/BD2KGenomics/toil/blob/5ec9a2cd1fb081bd59a93a7aa0023d19cab6750b/src/toil/worker.py#L496

[code]

That should read `os.dup2(origStdErr, 2)` if you want to actually restore the original stderr to fd 2. I can't think of a way that this would ever cause a problem, though.

[2016-10-18 00:29] cswarth opened #1212 "Example in developing.rst has syntax error"
https://github.com/BD2KGenomics/toil/blob/master/docs/developing.rst#dynamic-job-creation

The example code in the dynamic-job-creation section has a syntax error:

[code]

[2016-10-18 18:06] cswarth commented on #1212
submitted PR #1215

[2016-10-18 18:21] adamnovak commented on #1209
I've reached the point where I actually want this to work now. I guess I will try to do it.

[2016-10-18 18:28] cswarth opened #1216 "Interrupting simplest example can hang process"
Interrupting the [simplest quickstart example](http://toil.readthedocs.io/en/latest/running.html#running-a-workflow) can hang the process such that it must be killed it from another shell.

I don't have a repeatable test case other than running the program and hitting ^C at various times.

[code]

No prompt came back and must be killed by sending `kill -9`

[2016-10-18 20:11] hannes-ucsc opened #1218 "Do workflows work from a virtualenv on a shared filesystem?"
Install a workflow and Toil in a virtualenv on the shared file system of a bare-metal cluster like PODK.

We need this for the Toil docs. Preliminary link here:

http://toil.readthedocs.io/en/issues-567-537-document-deployment/developing.html#relying-on-shared-filesystems

┆Issue is synchronized with this [Jira Story](https://ucsc-cgl.atlassian.net/browse/TOIL-106)
┆Issue Number: TOIL-106

[2016-10-18 20:12] hannes-ucsc commented on #1218
@adamnovak, did you ever try this?

[2016-10-18 21:56] cket commented on #1216
We tried to fix this via #1096 but googling around led me to https://bugs.python.org/issue1360 which makes sense given your traceback

[2016-10-19 11:18] hannes-ucsc commented on #1212
Usually we close issues when the corresponding PR is merged into master. In fact, GH does that automatically. I'm tempted to backport this one to 3.3.x.

[2016-10-19 12:53] hannes-ucsc commented on #1216
Why would `put()` block? Is the queue bounded?

[2016-10-19 12:56] hannes-ucsc commented on #1165
I think @arkal has a fix for this too in one of his PRs.

[2016-10-19 13:05] hannes-ucsc commented on #1162
Be sure to remove the de- and reinstallation of docker in the appliance Dockerfile that will land with https://github.com/BD2KGenomics/toil/pull/1145.

[2016-10-19 18:05] arkal commented on #1165
Are we talking about #517?

[2016-10-19 18:14] adamnovak commented on #1218
Nope, I have never tried this. I just have Toil installed to my personal Python installation's module directory. And I haven't tried it on Parasol in forever, or SGE at all.

[2016-10-19 20:24] cket opened #1219 "testCacheEvictionFailCase is too brittle"
The test relies on specific log messages being in the output to determine if an exception was raised. If those log messages are modified, the test breaks.

[2016-10-19 20:59] adamnovak opened #1220 "Toil in singleMachine mode not loading the same module versions in worker processes as in master process"
I have my own Python installation, meaning the Python global site packages directory, writable by me, is `~/python/lib/python2.7/site-packages`. I also have `~/.local/lib/python2.7/site-packages` where things installed with `pip install --user` go.

I recently set up a [new Toil-using pipeline](https://github.com/adamnovak/hgvm-builder), which requires Toil and some certain version of other packag

[2016-10-20 13:38] hannes-ucsc opened #1221 "Sporadic 403 when reading from job store"
I'm tempted to chalk this one up as an IAM outage. For the record:

http://jenkins.cgcloud.info/job/toil-pull-request-integration-tests/265/testReport/

[code]

┆Issue Number: TOIL-131

[2016-10-20 14:48] hannes-ucsc commented on #1165
I don't think so. I clearly remember looking at the same line of code that's touched by @cket's 	463b84f and discussing the fact that OS X raises a different errno compared to Linux. It was either with @arkal or with @cket. It's not important, if I am right, someone will get a conflict.

[2016-10-20 15:45] #537 closed

[2016-10-20 15:45] #567 closed

[2016-10-20 18:01] hannes-ucsc commented on #1220
It does.

AFAIK, it can't. I think this is not a bug in Toil but inherent in Python's module lookup mechanism. We work around all of those issues by only supporting virtualenv. The documentation for this was just merged. If you think Toil is doing something wrong or something is missing, could you be more specific on what concrete behavior is wrong or missing?

IOW, show me your sys.path and prove

[2016-10-20 18:03] hannes-ucsc commented on #1220
These are the docs I was referring to:

http://toil.readthedocs.io/en/latest/developing.html#deploying-a-workflow

[2016-10-20 18:12] #1129 closed

[2016-10-20 18:12] #1160 closed

[2016-10-20 18:12] #1165 closed

[2016-10-20 18:41] fnothaft opened #1224 "All jobs should have access to the underlying fileStore"
From #1198, [comment](https://github.com/BD2KGenomics/toil/pull/1198#discussion_r84343466). Right now, only `ServiceJob` and `JobFunctionWrappingJob` set `self.fileStore`. We should make this consistent across jobs.

[2016-10-20 18:42] cket opened #1225 "Add documentation for new cluster related utils"

[2016-10-20 18:48] #1209 closed

[2016-10-20 18:55] hannes-ucsc opened #1226 "Eliminate reliance on external servers for import tests"
HTTP and FTP. See also #1209 and #1217 and, in particular,

https://github.com/BD2KGenomics/toil/pull/1217#issuecomment-254801319

[2016-10-20 20:22] cket opened #1227 "Missing -t flag for AWS provisioner ssh-cluster util"
Without the flag the util is functional but very ugly

[2016-10-20 21:49] cket opened #1229 "Throw user friendly exception when TOIL_APPLIANCE_SELF is not set"

[2016-10-20 22:07] cket commented on #697
@fnothaft @hannes-ucsc what about an option to propagate the worker logs onto master in their own per job files? There is already a (broken) option to control the truncation of the worker log files, which would be easy for me to fix. Those options, potentially combined with log level debug to insure all worker output reaches master, seem like they would solve this issue. This wouldn't be as persis

[2016-10-20 23:14] fnothaft opened #1230 "Toil appliance must start docker after mounting volumes"
@cket and I ran into this bug this afternoon when testing out the autoscaler. On machines with multiple ephemeral volumes, the Toil appliance JBODs the volumes together and mounts them to `/var/lib/docker`, `/var/lib/toil`, etc. If this happens after the Docker daemon launches, docker fails sporadically when writing to `/var/lib/docker`, and the Toil appliance does an infinite failure loop.

[2016-10-21 04:23] fnothaft opened #1231 "AWSProvisioner/preemptable-scaler can be killed by 400'd spot request"
[code]

[2016-10-21 04:36] fnothaft opened #1232 "toil/resource.py throws uninformative assert"
It'd be useful to know what the `dirPath` is, at least:

[code]

[2016-10-21 10:47] hannes-ucsc commented on #1230
It's not the appliance that does this, it's the VM if I recall correctly.

We ran into this with cgcloud. The workaround was quite involved because you have to move the contents of /var/lib/docker into the new location and moving it with rsync or cp was infeasibly slow. I think that's because /var/lib/docker contains sparse files or stuff like that. Tarring it up and untarring it into the new loca

[2016-10-21 10:53] hannes-ucsc commented on #697
Great idea.

… but much more user friendly. If we do this, there must be some housekeeping, like a global limit on the overall size of all worker logs, LRU eviction etc. Gzipping the logs before they are sent to the leader will dramatically improve throughput and log storage capacity.

[2016-10-21 10:56] hannes-ucsc commented on #1231
One more eventual consistency problem to deal with. Adding a retry loop should fix this.

[2016-10-21 10:59] hannes-ucsc commented on #1232
But the assert firing is a bug in own right, correct? What triggered this?

[2016-10-21 12:10] hannes-ucsc commented on #1220
More thoughts:

That's not my experience. The entry point's wrapper script (but I only know about console script entry points) only verifies the specific version of the package defining the entry point. Dependencies are not verified. So at best you get an error, but only an error (it does  not magically load the correct version if it appears somewhere else on sys.path) or no error at all if the wr

[2016-10-21 14:09] fnothaft commented on #1232
No, I think the assert fired because I installed some `.egg-links` into a Virtualenv, which we officially don't support. That being said, I can't confirm that without fixing this first.

[2016-10-21 14:11] fnothaft commented on #1230
Agreed; I misspoke.

@cket has a patch that cleans this up (see https://github.com/BD2KGenomics/toil/tree/issues/1230-docker-container-race) that appears to work from some overnight testing.

[2016-10-21 14:12] hannes-ucsc commented on #1232
If an unsuspecting user can mess this up, maybe this is a case for `require()`.

[2016-10-21 14:13] fnothaft commented on #1232
Yeah, it should definitely be a `require()`, and with an error message that relates the bad path.

[2016-10-21 15:25] #1178 closed

[2016-10-21 15:32] #1191 closed

[2016-10-21 23:36] cswarth opened #1234 "Usage: Is there an example of using toil with slurm?"
Sorry to file this as an issue - is there a better forum for usage questions?

Can any one help me configure Toil for our local slurm-managed cluster?   Clearly I need something different than `file:JobStore ` that I used for the `onemachine` batch manager.

[code]

[2016-10-22 05:58] cswarth commented on #1234
Got it,

[code]

[2016-10-22 05:58] #1234 closed

[2016-10-24 17:52] cket opened #1237 "Update toil-scripts version used for AWS provisioner test"
http://jenkins.cgcloud.info/job/toil-pull-request-integration-tests/286/

[2016-10-24 19:13] cmarkello commented on #1207
@hannes-ucsc @cket So when using toil version `toil[azure,mesos]==3.2.0a2.dev151`. It now is not able to find the azure jobstore. There was a hotfix for this issue in the specific version of toil I was using (`toil-3.5.0a1.dev241`) which was why I was developing under that version of toil.
Below is the output when running `--restart` with toil version 3.2.0a2.dev151. Btw, the jobstore does exist.

[2016-10-24 19:23] cmarkello commented on #1125
@hannes-ucsc How soon might you guys be working on this issue? Right now the hgvm azure storage account is very cluttered with garbage jobstore blobs and I can't just clean the entire storage account since there are some jobstores which I am not the owner of.

[2016-10-24 20:25] cket commented on #1207
@cmarkello I believe @hannes-ucsc meant dev251, which has the fix, not 151, which doesn't. You can see all the dev release builds here http://jenkins.cgcloud.info/job/toil-branches/branch/master/ and they each will point you to the specific commit they are building for more info. Generally if something isn't working you can try updating your dev version to more recent versions to see if there is a

[2016-10-24 22:43] cmarkello commented on #1207
@cket Just attempted '--restart' again but with toil version `3.5.0a1.dev251` instead. I'm getting a `'Config' object has no attribute 'preemptableCompensation'` error. I'm trying to rerun a toil script that was run with toil version `3.5.0a1.dev241`. Could that cause the issue? If so, would I need to rerun the pipeline again from scratch?

[code]

[2016-10-24 23:04] cket commented on #1207
Yes, it seems like that attribute was added recently so it wouldn't have been in the config generated by the older version you were using before. Rerunning the pipeline will fix that issue

[2016-10-24 23:05] cmarkello commented on #1207
@cket Also getting the following error. It looks like I didn't pass the correct parameters for the `__new__()` constructor for the toil job class. It's when I'm making a `toil.start(root_job)` command where `root_job = Job.wrapJobFn(run_upload, options, uploadList, cores=2, memory="5G", disk="2G")` and `run_upload` is a job function.
[code]

[2016-10-24 23:37] cket commented on #1207
@cmarkello something weird is going on - I checked out a local copy of the commit for dev251 (5ec9a2cd1fb081bd59a93a7aa0023d19cab6750b) and the line numbers aren't matching up with your traceback. _loadJob starts at line 741 so the line
```File "/home/cmarkello/toil/src/toil/job.py", line 664, in _loadJob```
doesn't make sense to me.

Did you upgrade toil versions on all the workers? If you didn't

[2016-10-24 23:44] cmarkello commented on #1207
@cket No, I didn't upgrade toil on the other workers. I'd forgotten about that. That's likely the issue, thanks.

[2016-10-25 01:21] #1202 closed

[2016-10-25 01:21] #1204 closed

[2016-10-25 18:07] hannes-ucsc opened #1239 "Ensure that job store files created by a failed job attempt are deleted"
Write test first.

[2016-10-25 18:11] hannes-ucsc opened #1240 "FileStore shutdown should not happen in __del__"
**del** is not guaranteed to be called eagerly, or at all. Exceptions that occur are ignored. **del**  generally should not block but FileStore.**del** does block joining the async write threads.

It would be better to explicitly invoke that functionality.

https://docs.python.org/2/reference/datamodel.html#object.__del__

┆Issue is synchronized with this [Jira Story](https://ucsc-cgl.atlassian.ne

[2016-10-25 18:14] adamnovak commented on #1220
I think the real problem is that setup.py (through setuptools?) and pip
can't agree on where packages should be installed. If they did agree, I
would only have one version anyway, I think, and this wouldn't be a problem.

On Fri, Oct 21, 2016 at 5:10 AM, Hannes Schmidt <notifications@github.com>
wrote:

[2016-10-25 20:17] hannes-ucsc commented on #1125
It's not planned for the next three months.

[2016-10-25 20:20] #1230 closed

[2016-10-25 20:58] hannes-ucsc opened #1241 "`cwltoil --restart` does not work"

[2016-10-25 21:02] hannes-ucsc commented on #886
How do we move forward with this? Who should it be assigned to? AFAIK, this requires more in-depth CWL knowledge which no one on the core Toil team possesses.

[2016-10-25 21:29] cket opened #1242 "Use parse_version"

[2016-10-25 21:56] adamnovak commented on #1125
Support for Azure and Google is advertised on the front page of the docs,
so I would imagine this would need to be either fixed or hacked around with
some sort of not-supported-on-this-platform warning in `toil clean` before
the next release, right?

Is there someone on the actual Toil team who is responsible for the Azure
support, or is it all contributors who are supposed to be maintaining it?

[2016-10-25 22:15] cmarkello commented on #1125
@hannes-ucsc I don't remember if it was toil version 3.1.0 or something close to that version, but there was a previous version of toil where `toil clean` actually did work in azure. It was only until I had updated to 3.3.0 and later where I noticed the functionality was no longer there.

[2016-10-25 22:53] hannes-ucsc commented on #1125
Once a PR is merged the Toil team is responsible for maintaining the code. However, maintenance is subject to prioritization with the implementation and maintenance of other features.

A few months ago, the Azure tests were failing sporadically to a degree that was affecting our team's throughput. Basically every build was failing due to the Azure job store tests and no PR could be merged. So we d

[2016-10-26 01:48] hannes-ucsc opened #1244 "Improve tagging of the appliance image"
Supply the following tags:
- `latest` (but only if building on master and only if version is a release (no .dev suffix)
- semantic version `3.5.0a1.dev123` if building on jenkins
- git commit sha1 (abbreviated)
- git commit sha1 (full)

[2016-10-26 01:54] hannes-ucsc opened #1245 "Make bash the entry point of the appliance"
… so users can get an interactive shell environment with Toil installed:

[code]

Obviously, they should also be able to

[code]

[2016-10-26 01:57] hannes-ucsc opened #1246 "Use reasonable default for TOIL_APPLIANCE_SELF"
… such that we don't need to set it before invoking auto-scaling commands, e.g. toil create-cluster.

[2016-10-26 18:41] cket commented on #987
@arkal can this ticket be closed?

[2016-10-26 19:17] cswarth opened #1248 "Expose warnings from `cwltool` in cwltoil output"
I may be totally misunderstanding how cwltoil works, but I'm assuming it is running `cwltool` in most cases.

`cwltool` prints a warning if a config file looks like it uses javascript but does not require  `InlineJavascriptRequirement`.

[code]

This warning is never surfaced to the user by `cwltoil`, and execution continues, often with completely bogus parameter references.

[code]

It would be g

[2016-10-26 19:48] cmarkello commented on #1207
@hannes-ucsc @cket I've now attempted to update my toil script and restart a toil run and it appears to not have hotdeployed the script to the worker nodes of my toil cluster. I am using toil version 3.5.0a1.dev251.

[2016-10-26 20:30] hannes-ucsc commented on #1248
Toil suppresses the output of successful jobs unless you pass `--logDebug`. This is intentional. Consider a workflow that runs hundreds of thousands of tasks, most of them succeeding. The user is *typically* not interested in seeing the console output of that many jobs. If the console output of *every* task is important, passing `--logDebug` and parsing the leader output is certainly an option, ho

[2016-10-26 20:35] hannes-ucsc commented on #1207
Could you come by my office and demonstrate?

[2016-10-26 20:37] cswarth commented on #1248
Not interested in reopening, but I was presuming only warnings would be exposed in the default case.  Warnings should be in a different class of message from the tons of innocuous verbiage cwltool generates.

[2016-10-26 20:44] hannes-ucsc commented on #1248
Does passing --logDebug emit the warning?

[2016-10-26 20:54] arkal commented on #987
Not yet. This was partially resolved in #1128 but will be completed in #1189 .

[2016-10-26 21:15] cswarth commented on #1248
yes, --logDebug shows the warning, but it is buried in the output that is literally 10x more than the default case.

[code]

My concern is that `cwltoil` commits a cardinal sin when it fails to carry out the user intent but provides no indication of failure.   In this example `cwltoil` succeeds but makes output files like,
[code]
It's easy to overlook the need for `InlineJavascriptRequirement` bec

[2016-10-26 21:51] hannes-ucsc opened #1250 "Document the cases in which installing Toil in a virtualenv works"

[2016-10-26 22:19] hannes-ucsc commented on #1250
It works as long as the path to the venv is the same on leader and workers. The venv still needs to be created with `--system-site-packages` to expose the Mesos Python binding

[2016-10-26 23:05] hannes-ucsc commented on #1248
For CWL is there a way to turn warnings into errors, like gcc's `-Werror`?

[2016-10-26 23:57] cket opened #1251 "Discover AWS provisioner base coreOS AMI instead of relying on an ID"
The current hardcoded AMI ID is only valid in us-west-2

[2016-10-27 00:20] hannes-ucsc commented on #1207
This is legit. I'm a dummy. PR coming up.

[2016-10-27 17:19] hannes-ucsc commented on #1248
I recognize that this is a problem but I don't have a good grasp on what a solution might be. I have to weigh the cost of such a solution against the cost of asking users to `… --logDebug | grep -i warn`.

[2016-10-27 17:31] hannes-ucsc commented on #1122
@cket, would you be able to take a look at this? This is blocking Brad. I would like prioritize this highest, even before autoscaling.

[2016-10-27 17:50] cswarth commented on #1248
I don't see anything like `-Werror` for the current version of `cwltool`.
In `cwltool-1.0.20160714182449`  the warning is generated by `log.warn()`, but that same warning is entirely missing from the current version of `cwltool`

So there is no way to easily pick out the warning from cwltool output, and the warning might not even be there.

Maybe a tighter integration with the cwltool package woul

[2016-10-27 19:06] cket opened #1253 "Advertise mesos slave public IP to make web UI usable"
┆Issue is synchronized with this [Jira Story](https://ucsc-cgl.atlassian.net/browse/TOIL-108)
┆Issue Number: TOIL-108

[2016-10-27 19:34] hannes-ucsc opened #1254 "Consolidate parsing of JobWrapper.command"
I am aware of three places where JobWrapper.command is parsed: createBatchSystem() in common, loadJob in Job and the NonCachingFileStore constructor. Those `jobWrapper.command.split()[1]` all over the place are brittle.

┆Issue is synchronized with this [Jira Story](https://ucsc-cgl.atlassian.net/browse/TOIL-109)
┆Issue Number: TOIL-109

[2016-10-27 21:33] #1227 closed

[2016-10-27 21:45] #1231 closed

[2016-10-28 01:53] #1188 closed

[2016-10-28 23:46] cket opened #1257 "Use new disk-usage monitoring to adjust disk requirement on failure"
If a job fails its disk requirement is set to a minimum of 2GB. We should instead set it to some value greater than the observed max of the failed job if that max was above the job's claimed disk requirement.

[2016-10-29 00:12] #1207 closed

[2016-10-29 00:16] #1229 closed

[2016-10-29 01:20] hannes-ucsc commented on #1257
I'm not a fan of the requirement bumps. I believe the memory bump was for one particular script and that use case is long gone. We always emphasize the importance of specifying accurate requirements and then we encourage sloppyness with these half-baked heuristics.

[2016-10-31 16:29] cket commented on #1257
The current 2GB bump is probably obsolete but I think this enhancement would be valuable, and is low hanging fruit now that we have both the disk usage data and the requirement bump mechanism already in place.

IIRC most of the existing pipelines' resource requirements are heuristics and I imagine we come across edge conditions where those requirements fail. Currently, the only thing to do in thos

[2016-10-31 17:45] hannes-ucsc commented on #1257
That is correct. But they are supposed to be heuristics for an upper bound.

I want to give users a clear message: If your requirements are wrong, your jobs will fail. In the long run, this is more sustainable. If we patch one bad heuristic with another bad heuristic, the benefits you mention are only short term. If we encourage users to improve their heuristics we will be in a better place in the

[2016-10-31 19:05] cket commented on #1257
Summarization of conversation with @arkal and @hannes-ucsc:
This should not be the default behavior. We should enable it with a command line flag
`--safeMode=scalingFactor`
(names to be decided later). The scaling factor is used to calculate the new resource requirement after a job fails in this following way:
`newRequirement = scalingFactor * diskUsageAtJobsEnd`
if and only if the final disk usag

[2016-10-31 21:51] hannes-ucsc opened #1258 "Add `toil rsync-cluster`"
We currently have `toil ssh-cluster` but we should also have `toil rsync-cluster` to easily copy files to a cluster leader. This is similar to how `cgcloud` has `ssh` and `rsync`.

[2016-10-31 23:21] hannes-ucsc opened #1259 "Worker fails to unpickle job if job arguments refer to user-defined types"
A JobFunctionWrappingJob/FunctionWrappingJob instance refers to

1) the user module
2) the user function
3) the args and kwargs for the function invocation

While 1) and 2) are symbolic references, 3) is not. The reason they are symbolic is to allow for the instance to be unpickled without having to load the user module. Once the job instance exists, we can use 1) to load the user module and 2) to

[2016-10-31 23:34] hannes-ucsc commented on #1259
Work-arounds are A) to pickle the arguments explicitly or B) to use and define custom subclasses of `JobFunctionWrappingJob` or `FunctionWrappingJob` in the user script. The former will avoid embedding type references in the pickled job that point at user-defined types. The latter will cause the user script to be loaded before the instance is unpickled, thereby ensuring that user-defined types are

[2016-11-01 00:05] cket commented on #1122
@hannes-ucsc  @benedictpaten @chapmanb I was able to reproduce this with a simpler script.

The pipeline has a job is the child of 2 different parents. One parent finishes so the job is added to that parent's successorCount but the job can't be actually be issued until its other parent finishes. However, the other parent fails & the pipeline ends. That job is still listed as a successor of its fir

[2016-11-01 09:35] chapmanb commented on #1122
Thanks so much for the diagnosis, that's exactly right. We have an initial run with a failed job due to external reasons (in this case, a missing program on the command line) and then re-run the same pipeline and want to resume where we left off, reusing the working steps and starting with a run of the failed step. Supporting this type of re-use in general would be very helpful, as we often have l

[2016-11-01 18:41] hannes-ucsc commented on #1259
@jpfeil, could you paste a backtrace so @fnothaft can compare it to his records? He may have run into it on his side, too. In a nutshell, it boils down to a worker exception indicating that the GermlineSample class can not be loaded during the unpickling of a job.

[2016-11-01 19:16] jpfeil commented on #1259
https://gist.github.com/jpfeil/7779998b9ba4b38ff07d117c14561da9

[2016-11-01 19:18] jpfeil commented on #1259
Sorry, wrong gist. Use this one: <script src="https://gist.github.com/jpfeil/fcfefb8c5ec5b1bb3643d612403b845d.js"></script>

[2016-11-01 19:20] cswarth opened #1261 "Failure when running CWL on slurm"
I'm having trouble getting a simple CWL definition to execute on slurm.  Can someone help me understand what I'm messing up?

The error is ` IOError: [Errno 2] No such file or directory: 'file:/working/cwarth/cft/toil/jobStore/results.txt'`

This looks very similar to #1108 when using the GridEngine batch system, but the workaround of using ` --jobStore ./jobStore` does not help.
&nbsp;
      * [`

[2016-11-01 19:26] jpfeil commented on #1259
Okay, this is the last time. https://gist.github.com/jpfeil/fcfefb8c5ec5b1bb3643d612403b845d

[2016-11-01 19:37] cgcloud-jenkins commented on #1122
Hey CJ, I need a couple more details, but this looks like a silly bug. I'm
surprised that the underlying toil code is not dealing with it properly.
Swing by my office when you have a second.

On Tue, Nov 1, 2016 at 2:35 AM, Brad Chapman <notifications@github.com>
wrote:

[2016-11-01 19:41] fnothaft commented on #1259
That looks similar to what I was seeing, let me see if I still have my logs around...

[2016-11-01 20:22] hannes-ucsc commented on #1259
I just added an update to the description.

[2016-11-01 21:02] cket opened #1263 "Make disk logging messages debug level"
Right now we get an info level message for every job describing the disk usage & then another warning level message if the job exceeded its requirement.

IMO the info level message should be debug level but we can keep the warning message at its current level.

[2016-11-01 21:38] cswarth commented on #1261
FWIW, I patched `batchSystems/slurm.py` to remove the `file:` prefix from the resultsFileName, just like the `batchSystems/gridengine.py` does.   There might be another workaround because back in June @guillermo-carrasco was able to get CWL jobs working with slurm (#918) without this patch.

[code]

[2016-11-01 22:23] hannes-ucsc commented on #1261
@JakeNarkizian fixed #1108 for GridEngine in 455603de9b59a6852948ae926b315fdd286f1e90.

Regressions like this are the reason I insist on removing the duplication between SGE, Slurm and TORQUE. See https://github.com/BD2KGenomics/toil/pull/1195.

[2016-11-01 22:24] hannes-ucsc commented on #1261
@JakeNarkizian can you copy your fix to Slurm?

[2016-11-01 22:31] cswarth commented on #1261
I think the right thing may be to override `_getResultsFileName()` as I did in `slurm.py` rather than fixup the results afterward as in `gridengine.py`.  There may be other consumers of _getResultsFileName()` (tomorrow, if not today) that also need the fixed result.

[2016-11-01 23:15] hannes-ucsc commented on #1261
Agreed

[2016-11-02 00:53] #1208 closed

[2016-11-02 01:00] arkal commented on #1263
I think @hannes-ucsc and I discussed this and decided in INFO instead of DEBUG but you can double check with him.

[2016-11-02 01:12] hannes-ucsc commented on #1263
What was our reasoning for INFO?

[2016-11-02 17:28] arkal commented on #1263
That given the amount of logs that show up normally, this won't really add all that much and it's important information for the user to tweak parameters for future runs.

[2016-11-02 18:50] hannes-ucsc commented on #1263
Talked to @cket. We should leave this at INFO. When we clean up logging, we should clean it up in a way that lets us make WARNING the default. INFO will be for power users or people who are just interested in knowing whats going on. DEBUG is for developers.

[2016-11-02 19:01] arkal commented on #1263
Is that normal? WARNING as a default?

[2016-11-02 19:24] hannes-ucsc commented on #1263
Good software just does what its supposed to and only prints an error message if something goes wrong. So really, ERROR should be the default. WARNING is already a deviation from the norm.

[2016-11-02 19:35] natanlao opened #1266 "Documentation does not require `docker_registry` to be set"
The [installation page](https://toil.readthedocs.io/en/releases-3.3.x/installation.html#basic-installation) in the documentation does not specify that `docker_registry` must be set when building from source.

[code]

Can reproduce with cd1a02f on:
* `Linux raspi 4.4.13-v7+ #894 SMP Mon Jun 13 13:13:27 BST 2016 armv7l GNU/Linux`
* `Linux ip-172-31-8-38 4.4.0-45-generic #66-Ubuntu SMP Wed Oct 19 14:

[2016-11-02 21:25] cket opened #1268 "Improve consistency of log level usage"
Continued from #1263. We should improve logging output by consistently using each log level appropriately. This ticket entails reviewing log messages in leader.py to insure only useful messages (messages containing the job's name) are logged at level INFO. It also entails insuring that no job store or batch system implementation logs at anything above 'debug' so our output is consistent across pla

[2016-11-02 21:27] cket commented on #1263
Continued in #1268 - I was going to just repurpose this ticket by renaming it but we also have several comments here.

[2016-11-02 21:27] #1263 closed

[2016-11-02 21:31] cket opened #1269 "Improve worker output propagation"
Connected to #1248. Right now we only get worker output if a job fails or if log level is set to DEBUG. We should attempt to propagate worker output whenever that output contains logging messages above the current level.

For example, if we have logging set to INFO and we have WARNING level output in our worker we should propagate that output to the leader.

┆Issue is synchronized with this [Jira

[2016-11-02 21:56] hannes-ucsc opened #1270 "Workaround pip issue 4059"
Symptom:

http://jenkins.cgcloud.info/job/toil-pull-requests/2029/testReport/src.toil.test.src.resourceTest/ResourceTest/testVirtualEnv/

Upstream ticket:

https://github.com/pypa/pip/issues/4059

We should prevent the latest pip from being installed in the virtualenv.