[2015-10-05 22:23] hannes-ucsc opened #457 "Use fractions instead of floats for core requirements"
In SingleMachine, for example, three jobs with .2 and four with .1 will not fit into one core:

[code]

┆Issue is synchronized with this [Jira Story](https://ucsc-cgl.atlassian.net/browse/TOIL-314)
┆Issue Number: TOIL-314

[2015-10-05 23:39] #435 closed

[2015-10-06 07:51] #451 closed

[2015-10-06 18:58] hannes-ucsc commented on #427
First step is to reproduce this in a test.
[code]

Second step is to move to JSON for logs.

[2015-10-06 19:16] adderan opened #460 "Make killBatchJobs consistent between batch systems"
Currently, the leader treats killed batch jobs separately from jobs that ended by themselves. JobBatcher.killJobs kills jobs and then sends them to JobBatcher.processFinishedJob, with the exit status manually set to 1. Also, in each iteration of the main loop, processFinishedJobs is called on the latest updated job. This means that if batchSystem.killBatchJobs adds the killed jobs to the updated q

[2015-10-06 20:13] hannes-ucsc commented on #352
See #439

[2015-10-06 20:19] hannes-ucsc opened #461 "Investigate per-enrollment core limit on Azure"

[2015-10-06 20:26] hannes-ucsc opened #462 "Test Jason's Spark/HDInsight template"
Run NA 12878 on a 1000 cluster

[2015-10-06 20:53] hannes-ucsc opened #463 "Clean up containerization standards document"

[2015-10-06 20:57] benedictpaten opened #464 "Make caching optional"

[2015-10-06 21:06] hannes-ucsc commented on #226
This mostly consists of coming up with

[2015-10-06 21:16] hannes-ucsc commented on #226
@jpfeil come find @jvivian and me after scrum to discuss this.

[2015-10-07 00:53] #403 closed

[2015-10-07 02:31] #171 closed

[2015-10-07 02:31] #376 closed

[2015-10-07 02:31] #379 closed

[2015-10-07 02:31] #402 closed

[2015-10-07 02:31] #443 closed

[2015-10-07 02:31] #444 closed

[2015-10-07 02:31] #445 closed

[2015-10-07 02:31] #450 closed

[2015-10-07 08:20] hannes-ucsc opened #465 "Caching broke CWL test"
http://jenkins.cgcloud.info/job/toil-branches/branch/master/32/testReport/junit/src.toil.test.cwl.cwlTest/CWLTest/test_run_revsort/

[2015-10-07 08:49] hannes-ucsc commented on #464
What commit resolves this?

[2015-10-07 09:05] hannes-ucsc commented on #82
PR was merged.

[2015-10-07 09:06] #82 closed

[2015-10-07 09:22] #465 closed

[2015-10-07 19:37] cket commented on #356
Readthedocs now builds new documentation whenever we push to master or 3.0.x branch. The default documentation shown is from the 3.0.x branch.

[2015-10-07 19:37] #356 closed

[2015-10-07 20:06] #383 closed

[2015-10-07 20:11] arkal opened #467 "Why does job.fileStore.writeGlobalFile() delete local copy of file?"
I just updated to the latest build of toil (34) and writeGlobalFile now "safely removed (the local file) at the end of the job by placing it in a location returned by getLocalTempDir". This would not be acceptable if the user is running the  pipeline on on files not downloaded to a local temp dir but, from their original locations.

[2015-10-07 20:16] arkal opened #468 "job.fileStore.readGlobalFile() should have an option to write to a specific temp dir obtained using job.fileStore.getLocalTempDir()"
if a tool requires n inputs, we need them all to be in the same dir so the dir can be mounted to /data in a docker image. We cannot assume that job.fileStore.readGlobalFile() as it is right now will read all n files into the same directory

[2015-10-07 20:47] jvivian commented on #127
Issue:
Successfully running make on a tool doesn’t do anything to ensure that the tool actually does anything meaningful.

Only solution I've thought of yet is to write a companion unittest for each tool that gets run when that tool gets rebuilt.

[2015-10-07 22:07] arkal opened #469 "writeGlobalFIle() not returning jobStoreFileID"
writeGlobalFile should be returning a jobStoreFileID that can be passed on to readGlobalFile for retrieval. I've tested this and wGF appears to be returning the value of localFileName instead. Code to follow...

[2015-10-07 22:26] arkal commented on #469
test code:
[code]

aux.py contains
[code]

TL;DR summary -
1. Take files and put them into the file store.
2. Print the returned jobStoreFileIDs for both files
3. Retrieve the files from the jobstore
4. Print the returned filepaths for both passed  jobStoreFileID

EXPECTED OUTPUT (/data1/temp_dir/cachepaths.txt
[code]
Actually, I don't know what to expect in the last 2 lines with the new readGloba

[2015-10-07 22:35] joelarmstrong commented on #469
Hey Arjun,

I think the problem here is that, in jobTree/toil semantics, all the parameters to a job get saved *at job creation time* and not at job run time. Functions like `write_to_filestore` won't work, because they modify a reference that's been passed. That self.fastqs reference is actually to pickled data and isn't, at job run time, the same reference that is passed to the other functions.

[2015-10-07 22:35] #469 closed

[2015-10-07 22:36] arkal commented on #469
Hi Joel, I just caught that! Thanks for the post though.

[2015-10-07 23:32] hannes-ucsc opened #470 "Link from README to Read The Docs"
Using the badge and a textual link.

[2015-10-07 23:33] hannes-ucsc opened #471 "ReadTheDocs: Rename latest to stable and master to unstable"
If that's possible.

[2015-10-07 23:39] hannes-ucsc commented on #468
If you need the file in a different place, you should hard-link into that place.

Come to think of it: Why don't we do that in readGlobalFile() as a service. Sounds like most users will run into this problem. @benedictpaten what do you think?

[2015-10-07 23:47] hannes-ucsc commented on #127
Re: Smoke testing each container: I think that's a good idea. That should happen for every modified tool, and before the image is pushed such that nothing is pushed if the test fails. A test failure in one tool should prevent any tool from being pushed, it shouldn't prevent other modified tools from being tested.

It's now pretty easy to pull Docker into a role. See ToilJenkinsSlave.

[2015-10-07 23:58] #433 closed

[2015-10-08 01:29] arkal commented on #468
When you use readGlobalFile you get one of 2 return values,
1. The absolute path to the cached file
2. The relative path to the file retrieved from the filestore

This means the user needs to test whether the file path is absolute before making the hard link ( I ran into this when i kept getting  OSError 18 about cross-device links).  I agree with @hannes-ucsc that it would be great if readGlobalF

[2015-10-08 07:38] hannes-ucsc commented on #468
Independently of whether readGlobalFile() should offer to hard-link the file, it should always return either absolute or relative paths, but not a mix. If the returned paths are relative, they should be relative to a well-known, fixed directory.

[2015-10-08 07:57] arkal commented on #468
They are currently relative to the jobstore directory.
I'm thinking of doing something like
[code]

[2015-10-08 17:18] cket commented on #471
Not currently possible. There is an open issue against rtfd to support version renaming

[2015-10-08 17:18] #471 closed

[2015-10-08 17:45] adamnovak opened #473 "Can't import `toil.jobStores.azureJobStore` on Parasol workers"
I have a Toil script I want to run on ku, via Parasol, to download some stuff from Azure. It cheats and uses the credential-finding function from `toil.jobStores.azureJobStore` to find the Azure credentials. When I run the script, the nodes are unable to import `toil.jobStores.azureJobStore` (or indeed any of the Azure storage modules).

To investigate this further, I make a small minimal example:

[2015-10-08 17:47] adamnovak commented on #473
This is happening to me on commit 5dc041253c of Toil.

[2015-10-08 18:56] joelarmstrong commented on #473
Did you compile your own Python? If so, make sure it was compiled with SSL support.

If you're using the system python, that's had issues with SSL support for ages. Sometimes changing your LD_LIBRARY_PATH so it gets a more recent version of openssl fixes things.

[2015-10-08 20:16] adamnovak commented on #473
I did in fact build my own python, but I'm pretty sure it has SSL support.
Like I said, it works fine on the same systems when not running under
Parasol.

I modified my script to log some info about the process after an attempt to
import the module. Here it is:

When it fails:

[code]

When it works:

[code]

On Thu, Oct 8, 2015 at 11:56 AM, Joel Armstrong <notifications@github.com>
wrote:

[2015-10-08 20:18] benedictpaten commented on #468
The relative / absolute path is a bug.

The path thing could be solved partially if the specified user path is always a location within a directory of subdirectory returned by getLocalTempDir(), or is a location returned by getLocalTempFile().

I am going to proceed with adding that as an option, and fix the relative/absolute path bug.

[2015-10-08 20:22] benedictpaten commented on #467
You can solve this by first copying the file, although that some what defeats the purpose. I think instead we should have two methods, one which is writeAndReleaseGlobalFile(), which acts like the current method. Secondly, a method that blocks and is not asynchronous, which can be used when you need access to the file after you've copied it, or if it is a globally mounted file, as per Arjun's exam

[2015-10-08 20:22] benedictpaten commented on #464
None, but I don't think it's worth putting in. It adds complexity for really no point.

[2015-10-08 20:25] adamnovak commented on #473
Not sure what's wrong with markdown today, but it looks like it is loading different libraries under parasol. Instead of `/cluster/home/anovak/.local/lib64/libssl.so.1.0.0`, for example, I am getting `/usr/lib64/libssl.so.1.0.0`.

However, my environment looks to be the same in both cases.

Is Toil maybe not setting up sys.environ early enough to control where the Python process loads its librarie

[2015-10-08 20:43] adamnovak commented on #473
OK, so I went and looked at https://users.soe.ucsc.edu/~kent/src/parasol/parasol/paraNode/paraNode.c and found this for the code where Parasol sets up your user:

[code]

Parasol just takes its environment it was running with as root, fixes up a few variables related to the user, and jumps right into your process. Even if Toil updates os.environ later with settings copied from my master's environm

[2015-10-08 21:16] joelarmstrong commented on #473
Yeah, the `dlopen` man page says:
[code]

So there's no os.environ tomfoolery that can get rid of this problem, even if the import is delayed.

Toil should manually propagate environment variables important to python like PATH, PYTHONPATH, LD_LIBRARY_PATH. I think this should just be done when writing the command to issue to batchsystem rather than messing around with #441.

[2015-10-08 21:29] adamnovak commented on #473
Hiram sends the following recommendation:

[code]

The Parasol batch system could potentially ship a Bash script that loads up the user's .bashrc or .bash_profile before running Python for the actual job.

-Adam

[2015-10-08 21:32] hannes-ucsc opened #474 "Eliminate usage of threading.Event for thread termination"
The new caching code uses threading.Event to request Thread termination. There are two problems: One is that threading.Event is overkill unless you intend to block until the event is signalled. Thanks to GIL, a simple boolean flag suffices. Second problem is that threads raise a runtime error in order to bail out. This causes every thread to print a stacktrace which is noise distracting from the r

[2015-10-08 21:35] joelarmstrong commented on #473
What if they use zsh? :)

I think it's best to replicate the exact same behavior on every batch system. The single-machine batchsystem uses the same environment for each process, so rather than assuming the proper variables are all in ~/.bash_profile, ~/.bashrc, or whatever the zsh equivalent is, we should just propagate any of the currently set environment variables that could affect the main Pyt

[2015-10-08 23:52] benedictpaten commented on #467
Hi Arjun, on reflection I  fixed this. Now (in my PR) if your file is not a path within the local temporary directory structure it will not be added to the cache (because doing so is complicated), and will not get deleted(!).

However, the write is still asynchronous, so if you want to modify it after this call you should make a copy or, if you prefer, I can add a blocking flag or blocking method

[2015-10-08 23:53] benedictpaten commented on #468
This is now done. I have added a few tests for it. I'd appreciate any feedback.

[2015-10-09 00:05] hannes-ucsc opened #478 "Azure job store should validate names of shared files"
See readSharedFileStream() and writeSharedFileStream() in the file and AWS implementations.

[2015-10-09 00:58] arkal commented on #467
Thanks Benedict.

So if i have a job A that (say) aligns 2 fastqs to a bam and then a  job B that does mutation calling. If
[code]

Does the readGlobalFile in B get affected by the asynchronous write?

[2015-10-09 01:21] hannes-ucsc commented on #473
So is the problem that LD_LIBRARY_PATH is not propagated?

Too invasive and [ba]sh-specific, as @joelarmstrong points out.

It is hard to decide which environment variables should be propagated. I think the best solution is to make the environment manipulation a responsibility of the concrete batch system class. Then have a user-configurable set of environment variables to be propagated. The set c

[2015-10-09 01:23] hannes-ucsc opened #479 "Non-deterministic regression in Azure job store"
http://jenkins.cgcloud.info/job/toil-pull-requests/519/testReport/junit/src.toil.test.jobStores.jobStoreTest/AzureJobStoreTest/testMultipartUploads/

I highly doubt that the changes in that PR contributed to the failure.

Maybe Azure isn't as strongly consistent as we thought?

[2015-10-09 04:49] #409 closed

[2015-10-09 06:41] hannes-ucsc commented on #391
Link is dead.

[2015-10-09 06:44] hannes-ucsc commented on #353
https://github.com/BD2KGenomics/cgl-docker-lib/issues/12

[2015-10-09 06:44] #353 closed

[2015-10-09 06:45] hannes-ucsc commented on #353
https://github.com/BD2KGenomics/cgl-docker-lib/issues/13

[2015-10-09 06:47] hannes-ucsc commented on #226
Jacob to start with the creation of minimized input files.

[2015-10-09 06:53] hannes-ucsc commented on #251
They are tagged with Jenkins build # which records the commit.

[2015-10-09 06:53] #251 closed

[2015-10-09 06:59] hannes-ucsc commented on #265
Failures in worker.py should now be covered by random kill  added in caching PR #453.

[2015-10-09 07:00] #265 closed

[2015-10-09 07:35] hannes-ucsc opened #480 "bioio.getTempDirectory is redundant"
There is nothing in bioio.getTempDirectory that can't be achieved with tempfile.mkdtemp. If a root dir is passed in, we can just use tempfile.mkdtemp( ..., dir=... ).

[2015-10-09 07:39] hannes-ucsc commented on #446
We'll enforce the mode to 755 for localWorkerTempDir.

[2015-10-09 07:39] hannes-ucsc commented on #446
Related to #480.

[2015-10-09 07:52] hannes-ucsc commented on #378
This issue should be associated with toil-scripts, not toil.

[2015-10-09 17:36] #467 closed

[2015-10-09 17:36] #468 closed

[2015-10-09 17:52] hannes-ucsc opened #481 "Minimize use of abspath in file store"

[2015-10-09 21:47] arkal opened #482 "RuntimeError in writing threads in asyncwrite doesn't quit job immediately"
If a RuntimeError is raised by a thread, the program should quit immediately instead of waiting for remaining data to be written to the fileStore.

If the reasoning behind it NOT doing so is that other non-error data is written to filestore and picked up on restart, then there (might be) a bug in the code because --restart did not detect the files written in the previous attempt and rewrote all fi

[2015-10-09 21:52] arkal commented on #482
This is a ```watch tree-fh /path/to/jobstore``` and the two 4.5G and the 25G objects are my fastqs and my index.tar.gz respectively. The 4.0 and 4.1G objects are the rewritten fastqs in the --restart ed job and the 5.0 is the rewritten index
![tree structure of filestore]
(http://i58.tinypic.com/ejbvrs.png)

[2015-10-09 22:26] adderan opened #483 "Job.asyncUpdate assigns int to jobWrapper.filesToDelete"
jobWrapper.filesToDelete should be a list. https://github.com/BD2KGenomics/toil/blob/master/src/toil/job.py#L602
[code]
I believe this caused the testAzureSingle crash in this build: http://jenkins.cgcloud.info/job/toil-pull-requests/525/console

[2015-10-09 22:46] arkal opened #484 "writeGlobalFile probably needs a block if the input is a not-local file and won't be put into cache"
I have a test pipeline as follows
[code]
F1 writes two 4.5G fastqs to the jobstore
F2 writes a 24G tar.gz file to the jobstore
G in this example will attempt to retrieve the index.tar.gz from jobstore and untar it.

aux.write_to_filestore is
[code]
PI.get_files_from_filestore is
[code]

If i comment out the ```F2.addChild(G)``` line then the data is successfully written to the filestore and the pr

[2015-10-10 00:10] benedictpaten commented on #482
Hi Arjun,

I'm unclear on this. Are you saying it's a bug? Yes, it's true that the
asynchronous writes won't quite immediately when another thread terminates,
but that doesn't/shouldn't matter, aside from being a bit annoying having
to wait. There is no reliable "thread kill" in python (apart from
sigkill!), so getting a asynchronous file transfer to exit immediately is
non-trivial.

Can I see the

[2015-10-10 00:33] benedictpaten commented on #484
Oops, yes. Bugger - this is what happens if you try to do ten things at
once. I agree, the simple thing is to just block for files in the temporary
store.

On Fri, Oct 9, 2015 at 3:46 PM, Arjun Arkal Rao <notifications@github.com>
wrote:

[2015-10-10 00:44] arkal commented on #484
Doesn't look like it's a blocking problem on the write. I ran it on a 1.5G tarball with a 15s sleep function
[code]
that returns a temp working directory. The main script is modified to
[code]

So TL;DR - write a 1.5G bam into jobstore, wait 15s (ample time to write the entire file to jobstore), then attempt to read it back from filestore. This is the trace ( --logDebug)
[code]

I honestly don't u

[2015-10-10 00:48] arkal commented on #482
Ok cool. I marked it as both bug and enhancement depending on which paragraph above was relevant.

I could see this being annoying to wait if the bamfile is 300G (especially if we're paying for compute time and marked it for enhancement.  It would be a bug if you were doing the --reset thing i spoke about.

The stack trace will have something like this pop up
[code]
Then you have to wait for all t

[2015-10-10 01:34] hannes-ucsc commented on #482
We should start factoring out flow control functionality like killable threads. Then we can get fancy without spewing that stuff all over the code. A pseudo-killable Thread could be implemented neatly in a custom Thread subclass. To use it, you would need to sprinkle your code, especially loop bodies with call to threadKilled(). The loop that copies to/fro the cache should check every megabyte or

[2015-10-10 01:39] hannes-ucsc commented on #483
@adderan it looks like that field can be either a list or an int. A little further down below the line you link to it's actually compared as an int and then converted to a list.

@benedictpaten The console output Alden links to actually has the EOF during unpickle trace that @arkal and I mentioned this morning:

[code]

[2015-10-10 02:53] arkal commented on #484
My guess is that the OSError is being thrown because the failed threads cause the program to crash and localTempDir to get deleted before the untargz is called hence the folder 'doesn't exist'. What is weird is that the threads crash but the tarfile in the jobstore extracts without error (when i manually attempt it) so there's no data corruption. So this begs teh question, why are those threads er

[2015-10-10 04:03] adderan commented on #483
Okay, maybe I'm missing something. It seems like this will always leave self.jobWrapper.filesToDelete as an int if len(self.filesToDelete) is zero. And that's what happened here:
[code]
I'm not sure why there's an if statement checking whether len(self.filesToDelete) is greater than zero if that's always required to be true.

[2015-10-10 17:21] benedictpaten commented on #482
Hi Arjun, I still don't think the restart case is a bug, it just wastes a bunch of time - but it does not lead to a crash. It is absolutely intended that if a job fails all files written by it are essentially ignored, even if they were needlessly written after a crash is detected. The only aspect I consider a "bug" here is that the partially written files are not cleaned up. It would be good to ha

[2015-10-10 17:26] benedictpaten commented on #480
Yes, +1 to cleanup bioio, which is generally full of cruft.

[2015-10-10 17:34] benedictpaten commented on #483
Alden is correct, this is a bug. I'm assigning to me and putting into my latest fix. I'll close Alden's PR.

[2015-10-10 18:18] cgcloud-jenkins commented on #483
Sorry, not close Alden's PR, but I made a line note for him to remove his
change to this, at is slightly incorrect.

On Sat, Oct 10, 2015 at 10:34 AM, Benedict Paten <notifications@github.com>
wrote:

[2015-10-10 19:32] benedictpaten commented on #484
Arjun, John, this is now fixed, I've also made readGlobalFile more flexible, which I think you'll like.

[2015-10-10 21:03] arkal commented on #482
Yes, Thanks!

[2015-10-10 21:14] arkal commented on #484
The changes look great. Thanks Benedict. Do we know when this will be merged?

[2015-10-11 01:13] #483 closed

[2015-10-11 01:13] #484 closed

[2015-10-11 01:13] #464 closed

[2015-10-11 01:15] hannes-ucsc commented on #484
If in a hurry, @arkal you can always checkout the source branch of a PR without having to wait for it to be merged.

[2015-10-11 21:00] hannes-ucsc commented on #482
Sounds good.

[2015-10-12 00:41] arkal opened #486 "Caching is not compatible with files contained in folders called by getLocalTempDir"
For example,
[code]

job B receives the cached copy of samfile which is in a folder returned by getLocalTempDir. While B starts its processing, A is actively deleting the temp local dir and B effectively processes a truncated version of samfile.

Using cache=False in readGlobalFile doesn't help because of line 544 in job.py
[code]
Even if i say don't use cache it copies the cached version of the f

[2015-10-12 13:40] benedictpaten commented on #486
Obviously this is a bug. cleanLocalTempDir is only supposed to remove non cached files and to prune the cache BEFORE b is run, and nothing should be removed subsequently. Chasing down this bug now. Bit confused because test fileStore test should have caught this bug.

[2015-10-12 13:47] benedictpaten commented on #486
Hi arjun, I can't reproduce this logic. The temporary file directories are not deleted concurrently with b, they are deleted before b is run. Can you please make a regression test with the bug and I will fix. I'm still confused how this could occur, given that the file store tests pass.

[2015-10-12 13:48] benedictpaten commented on #486
Assigning to arjun to create a test case.

[2015-10-12 13:54] benedictpaten commented on #486
PS, beefed up test/src/jobFileStoreTest.py to handle Arjun's case of using getLocalTempDir in associated pull request. However, this does not fix Arjun's error, just improves the test. Note I can not reproduce Arjun's error.

[2015-10-12 17:29] arkal commented on #486
I'm running the test now. Will post it ASA it checks out

[2015-10-12 21:28] arkal opened #488 "Toil default cache size is too small"
The default 2.14G cache is too small for most purposes. Suggestion for enhancement could be to dynamically allocate it to 50%(or whatever fraction) of the free space on the volume that holds the localTempDir

[code]

Code was obtained from

http://stackoverflow.com/questions/51658/cross-platform-space-remaining-on-volume-using-python

[2015-10-12 21:32] arkal commented on #488
#486

[2015-10-12 21:36] hannes-ucsc commented on #488
Looks got. We can safely delete the windows part since Toil does not support it. When computing the default value for the cache size,  the directory  where the cache will be created should be passed to the above function.

Beware that statvs is deprecated

https://docs.python.org/2/library/statvfs.html

As an alternative, checkout psutil which Toil already depends  on for Mesos.

[2015-10-12 21:40] arkal opened #489 "Caching logic will fault if file_size > cacheSize"
Lines 680-686 in _cleanLocalTempDir
[code]
show that if totalCachedFileSizes > cacheSize the filePath is removed.

If a file larger than cacheSize is created, it is added to jobStoreFileIDToCacheLocation and it starts getting ```os.link```ed however the _cleanLocalTempDir will delete the file before the link is complete. If the first thing in the next job is to retrieve this file from filestore (

[2015-10-12 21:46] arkal commented on #488
i think ```--workDir``` is the cache location.  However, this will have to happen AFTER input arguments have been parsed since we cannot assume what folder the user will use for ```--workDir``` when the help is being generated and hence cannot print an accurate value in the default field.

[2015-10-12 21:57] arkal opened #490 "Reconsider cache ejection strategy"
If cache is full, throwing out the smallest items first might not be the best strategy. Maybe removing least recent will be better? Argument for latter

[code]
of the three files, samfile > bamfile > sorted_bamfile in terms of size. If cacheSize < (samfile + bamfile), bamfile will be removed and not samfile and then you get a similar situation to issue #489 when C runs.

[2015-10-12 22:00] arkal commented on #489
#486

[2015-10-12 22:01] arkal commented on #490
Also related to #486

[2015-10-13 04:46] cgcloud-jenkins commented on #488
Hi Arjun,

Intentionally the cache is set small by default, because a large cache
could exhaust space on the users local disk, if we're not quite careful.
Your heuristic setting in a race condition of multiple workers per node is
pretty dangerous.

My preferred option is to create a system that monitors the total size of
the files on the users disk and dynamically reduces the cached files to
stay

[2015-10-13 04:52] benedictpaten commented on #489
Hi Arjun,

You are incorrect, I think, in thinking that this code will cause an error.
It is only run after a job is run, and before a new job is run. So it can
never occur that a file is being deleted while a link is being created. As
to the asynchronous write, it does not matter in a unix file system if the
file being read from through a file stream is deleted, as the file handle
will keep it va

[2015-10-13 04:53] benedictpaten commented on #490
Yes, better. Feel free to take this one on. Should be a one-liner!

On Mon, Oct 12, 2015 at 5:57 PM, Arjun Arkal Rao <notifications@github.com>
wrote:

[2015-10-13 05:24] arkal commented on #489
My code ran fine when i increased my cacheSize >> totalCachedFileSizes but kept crashing before. I tested with smaller fastqs and managed to recreate it by reducing cache size appropriately. I didn't post my code since it required a 4.5G bwa index that you don't want in a test. I'll look at the reg tests and make a new one in a similar format to yours that picks up this issue.
Sorry about that.

[2015-10-13 13:10] benedictpaten commented on #489
Hmm, that's odd. I thought the tests were testing this case. Something is
definitely up, but not sure what. What platform were you were working on?

On Tue, Oct 13, 2015 at 1:24 AM, Arjun Arkal Rao <notifications@github.com>
wrote:

[2015-10-13 17:15] arkal commented on #489
centos
[code]
If it helps you, I can write tests for this during my flight and get back to you later today. I just need to figure out how to catch the RuntimeError from the thread functions.

[2015-10-13 17:18] arkal commented on #490
Will do

[2015-10-13 17:28] arkal commented on #489
The Issue might be related to writing a tempfile in a localworking directory . I add this to tests/src/jobFileStoreTest.py
[code]

at line 95 and everything goes wrong. I'll work on this and get back to you.

[2015-10-13 22:59] #460 closed

[2015-10-14 16:15] hannes-ucsc opened #494 "Azure job store hangs in testLargeFile()"
I recently added coverage for writeFile() with large files. It turns out that Azure job store hangs on it. If've observed this on my personal machine and on Jenkins:

http://jenkins.cgcloud.info/job/toil-pull-requests/543/console

I'm moving the test into AWSJobStoreTest but ultimately it should be in the abstract base class.

To reproduce, move testLargeFile() to AbstractJobStoreTest and run it o

[2015-10-14 19:01] hannes-ucsc opened #495 "Consolidate static pipeline inputs on S3 into a single bucket"
Bucket name should be `cgl-pipeline-inputs`

[2015-10-14 19:17] hannes-ucsc commented on #495
And use the name of the pipeline as top-level "directory" inside the bucket.

[2015-10-14 19:39] #490 closed

[2015-10-15 04:22] hannes-ucsc commented on #471
The intent behind this was that by default the visitor is sent to the latest stable release. I think I got that  working.

[2015-10-15 05:59] hannes-ucsc commented on #125
@cket, check out Expando and MagicExpando:

https://github.com/BD2KGenomics/bd2k-python-lib/blob/master/src/bd2k/util/expando.py

[2015-10-15 06:39] jvivian commented on #127
credential files were placed in the jenkins master home directory and the global jenkins configuration was modified to include those credentials when creating slaves.

[2015-10-15 17:15] hannes-ucsc commented on #127
Fixed by https://github.com/BD2KGenomics/cgcloud/commit/f8b675b1c2ed0412f83cd00b38db4e121ce9a5a7

[2015-10-15 17:15] #127 closed

[2015-10-15 17:19] #354 closed

[2015-10-15 23:00] adderan opened #496 "Single-machine batch system doesn't re-acquire cores from killed jobs"
If maxCores = 2, it should be possible to issue two jobs that require one core each, kill them, and then issue another job that requires one core. In single machine, issueBatchJob hangs on the third job, waiting for the cpu usage to go below 2.
[code]

[2015-10-15 23:21] adderan commented on #496
Nevermind, sorry.

[2015-10-15 23:21] #496 closed

[2015-10-16 05:32] #355 closed

[2015-10-16 16:30] arkal commented on #488
So should we close this?

[2015-10-16 16:32] cgcloud-jenkins commented on #488
No, I have a way to improve this.

On Fri, Oct 16, 2015 at 12:30 PM, Arjun Arkal Rao <notifications@github.com>
wrote:

[2015-10-16 19:17] jvivian commented on #380
Inbound is free.

| Outbound Data Transfer            	| Price         	|
|-----------------------------------	|---------------	|
| First 5 GB /Month                 	| Free          	|
| 5 GB - 10 TB 2 /Month             	| $0.087 per GB 	|
| Next 40 TB (10 - 50 TB) /Month    	| $0.083 per GB 	|
| Next 100 TB (50 - 150 TB) /Month  	| $0.07 per GB  	|
| Next 350 TB (150 - 500 TB) /Month 	| $0.05 p

[2015-10-16 23:30] hannes-ucsc commented on #380
We have a special price sheet with slightly lower prices.

https://docs.google.com/spreadsheets/d/18upIPRHEXy2VlcMeB-eFK7uXS-41csMXkwkbig06XrA/edit#gid=0

Service|Part|Price|Unit|Included|Overage|OveragePrice
-------|--------------------|-------------------|-------------|----------------|-----------------|-------------
Data Transfer Out - Zone 3|Q5H-00014|$1.67|10 GB|0|Q5H-00015|$1.67
Data Transfe

[2015-10-16 23:30] #380 closed

[2015-10-17 07:52] hannes-ucsc opened #497 "Makefile should only work in virtualenv"
We should remove support for --user installs and force the use a virtualenv. This will make it a lot easier to diagnose build problems. We can't force virtualenv for regular installs, we can only recommend it, but for developers this is a acceptable constraint.

[2015-10-18 00:24] #497 closed

[2015-10-19 05:50] hannes-ucsc commented on #423
@adamnovak could you provide the user script?

[2015-10-19 17:52] hannes-ucsc commented on #423
I think this is it:

https://github.com/adamnovak/hgvm/blob/a0e9be6f544984cff3b6d8622783de8700ab42f2/parallelMappingEvaluation.py

@adamnovak, let me know if that is wrong. The commit above is the one before the one where you switched from sticking  the IOStore instance in the options instance in the root job.

[2015-10-19 18:25] hannes-ucsc opened #499 "Change cgcloud-toil to use new docker deploy method"

[2015-10-19 22:05] hannes-ucsc commented on #423
I can reproduce this.

[2015-10-20 00:12] benedictpaten commented on #486
This bug is not accurate, closing.

[2015-10-20 00:12] #486 closed

[2015-10-20 00:15] benedictpaten opened #500 "Caching fails for large-ish files being written asynchronously to the jobStore"
Following on from Arjun's tests we established that if a file was being written to the file store then it's local file could be cleaned from the cache, resulting in subsequent jobs trying to retrieve an incompletely written file from the jobStore.

[2015-10-20 00:26] benedictpaten commented on #488
To deal with the above problem Adam suggested with split the requested disk size into two (optionally).

For a job let "diskRead" be the number of bytes the job will read from the job store. Let "diskWrite" be the number of bytes the job will write to the job store. diskRead + diskWrite = disk, where "disk" is the variable used to request disk space for a job.

If we make these two optional parame

[2015-10-20 01:16] hannes-ucsc opened #502 "AWS job store tests fail sporadically with 400 error on inlined files"

[2015-10-20 01:17] hannes-ucsc commented on #502
For example:

http://jenkins.cgcloud.info/job/toil-pull-requests/572/

which is a build for PR #500.

[2015-10-20 01:25] hannes-ucsc commented on #488
I like it but I doubt it is going to be just an hour. It sounds more involved. We are still trying to get a release out ASAP. If you are ok pushing the release out until next week then I'd be ok including this.

[2015-10-20 17:19] #423 closed

[2015-10-20 17:21] hannes-ucsc commented on #346
See also #345

[2015-10-20 17:22] hannes-ucsc opened #504 "Add PEP-8 checker to build"
Also: Enforce presence of license header and newlines at EOF.

┆Issue is synchronized with this [Jira Story](https://ucsc-cgl.atlassian.net/browse/TOIL-316)
┆Issue Number: TOIL-316

[2015-10-20 18:29] #302 closed

[2015-10-20 18:31] jvivian commented on #226
This ticket should fall under toil-scripts not Toil.

[2015-10-20 20:41] benedictpaten commented on #488
I have simplified it and pushed it into my PR for #500. I simply added a cache parameter to job. This equivalent to my proposal. The cache value must be smaller than the disk value, and is the number of bytes of the total disk ask used for caching.

A smarter way to do this would be to have the file IDs accessed by the job be listed as parameters of the job, that way caching could be much smarter.

[2015-10-20 22:19] hannes-ucsc commented on #226
There's only noisy here. Just create a new issue in toil-scripts, link to this one from there and close this one.

[2015-10-20 23:46] #446 closed

[2015-10-20 23:46] #480 closed

[2015-10-21 02:16] hannes-ucsc commented on #502
Boto for some reason uses GET instead of POST for put_attributes. This means that the GET request size limit hits us first, before we hit the 256 * 1024 limit for attributes, explaining why I was unable to use 256 attributes, but only 228, a limit that I determined experimentally. The inlining tests use random data which is then base64-encoded resulting in a random number of characters that have t

[2015-10-21 02:42] #396 closed

[2015-10-21 02:42] #429 closed

[2015-10-21 02:42] #456 closed

[2015-10-21 06:55] #502 closed

[2015-10-21 20:28] #500 closed

[2015-10-21 20:28] #488 closed

[2015-10-22 01:04] #489 closed

[2015-10-22 01:18] hannes-ucsc commented on #391
With the link being dead there is not information to pursue this issue. Closing. In the future please paste logs directly into the issue between using an line with triple backquotes before and after.

[2015-10-22 01:18] #391 closed

[2015-10-22 02:20] hannes-ucsc commented on #319
We haven't observed this in a while.  Unassigned.

[2015-10-22 02:22] hannes-ucsc commented on #332
This should be an enhancement. I'll tweak the title a bit.

[2015-10-22 02:34] hannes-ucsc commented on #378
This issue was moved to BD2KGenomics/toil-scripts#33

[2015-10-22 02:34] #378 closed

[2015-10-22 02:43] hannes-ucsc commented on #482
Should be resolved together with #481 and #474.

[2015-10-22 02:48] hannes-ucsc opened #508 "Test a pipeline run on the spot market"

[2015-10-22 02:52] hannes-ucsc opened #509 "Test s3am-ing from PODK"
@arkal mentioned that PODK has an FTP server that is accessible from the outside. We should totally use that for getting data into S3 with s3am.

[2015-10-22 17:21] jvivian opened #510 "Create poster for BD2K all-hands meeting"

[2015-10-22 18:53] adamnovak commented on #427
@cket did this happen to get fixed while I was away?

[2015-10-22 18:57] adamnovak commented on #441
@cket how is this one going, too? I kind of need this in, so I don't have to use my own patched Mesos executor on Azure to distribute the Azure Storage credentials for the JobStore.

[2015-10-22 21:10] jvivian commented on #509
I misunderstood Arjun's workaround to fetching files off PODK and can't really use it with S3AM.

Here are the steps I took to get S3AM up and running on PODK   (Thanks to a hotfix by Hannes that fixed an SSL issue during S3AM execution).

1. Install python2.7 from source
2. Install Pip
    1. `https://raw.github.com/pypa/pip/master/contrib/get-pip.py && python get-pip.py --user`
3. Install virtua

[2015-10-22 21:13] hannes-ucsc commented on #427
No.

[2015-10-22 21:17] hannes-ucsc commented on #441
There is no need to ask for status updates in tickets. It's a waste of time. If you want to push for certain tickets to be prioritized please feel free to join our daily scrum meetings at 11am.

[2015-10-22 21:36] hannes-ucsc commented on #441
There should also be a toil command line option to set/export arbitrary environment variables using ``batchSystem.setEnv()``. The method signature should be ``setEnv(name,value=None)`` instead of just ``setEnv(name,value)``. If no value is provided, it will be looked up from the current environment. That way we prevent secrets from leaking out via the command line.  Optionally, the Azure job store

[2015-10-23 02:02] #499 closed

[2015-10-23 16:50] jvivian commented on #509
While my test with a `touch test` file worked, when I tried to S3AM the fastq data I encountered an error:

[code]

[2015-10-23 16:56] hannes-ucsc commented on #509
Try setting LD_LIBRARY_PATH to the directory containing that file.

[2015-10-23 17:49] jvivian commented on #509
could not replicate.

[2015-10-23 18:42] hannes-ucsc commented on #441
This *must* be implemented  in single machine and Mesos, and we *should* implement it for Parasol and GridEngine.

[2015-10-23 19:10] hannes-ucsc opened #511 "Document job.py"

[2015-10-23 19:11] hannes-ucsc opened #512 "Document abstractBatchSystem.py"

[2015-10-23 19:11] hannes-ucsc opened #513 "Document abstractJobStore.py"

[2015-10-24 00:09] #416 closed

[2015-10-27 17:52] hannes-ucsc opened #516 "ToilBox: Make Toil version configurable"
via command line option

[2015-10-27 18:22] #509 closed

[2015-10-27 23:51] arkal opened #517 "Better error needed if job is not encapsulated by the user"
If the statically defined child of a job F (that should be encapsulated but isn't) is passed a return value that was obtained from a dynamically defined child of F, then and EOFError is thrown. @hannes believes the error should rather be an unfulfilled promise error.

Toy code below reproduces error.

[code]

[2015-10-28 00:06] hannes-ucsc commented on #517
The EOFError occurs during unpickling of a job and it is completely baffling. @arkal, if you happen to have a stack trace, can you paste it here?

The problem might be more wide-spread than what the title suggests. @jpfeil ran into this, too, in a slightly different scenario. The general condition is that promises are wired in a way that is inconsistent with the job wiring, leading to a failure of

[2015-10-28 17:34] #407 closed

[2015-10-28 18:29] arkal commented on #517
@hannes, here's the stack trace

[code]

[2015-10-28 22:25] hannes-ucsc commented on #425
I can reproduce this. It happens when Toil is installed via pip *and* the tests are run from a separate working copy on which `make develop` was *not* run. The pip-installed copy originates from the sdist at PyPI and sdists by default exclude the test code. By printing __file__ in worker.py and run.py I confirmed that worker.py is loaded from the checkout while job.py is loaded from the pip-instal

[2015-10-29 01:12] hannes-ucsc commented on #517
Promises are resolved by unplickling them during the unpickling of a job. IOW, nested unpickling. Hence the confusing error message.

In today's scrum it was decided that we split this up: this issue will be resolved by making a quick and dirty try-except and raising an exception with a more appropriate message. Benedict thinks that this can be caught even earlier by "adding a few more edges". Tha

[2015-10-29 01:22] hannes-ucsc opened #519 "'make docs' falls back to an installed toil rather than the source"
_From @hannes-ucsc on October 22, 2015 23:1_

Benedict ran ``cd docs && make html`` without having run ``make develop`` first. He also had installed an older version of toil. Sphinx then fell back to using that older version to generate the docs. This should not happen. The build should either produce an error or it should hardcode the path to the src directory so it doesn't fall back to an extern

[2015-10-30 01:42] benedictpaten opened #522 "Running toil without __main__ check causes it to crash and burn!"
This example causes Toil to fail:

[code]

[2015-10-30 01:44] benedictpaten opened #523 "readme.md should point at read-the-docs documentation prominently"
More thought needs to be put in to readme.md

I personally think more of the info in it should be in the documentation itself.

[2015-10-30 06:59] hannes-ucsc opened #524 "ToilBox: Make Toil version configurable"

[2015-10-30 17:15] benedictpaten opened #525 "Add Sphinx doctest support to test run documentation examples"
┆Issue is synchronized with this [Jira Story](https://ucsc-cgl.atlassian.net/browse/TOIL-318)
┆Issue Number: TOIL-318

[2015-10-30 19:00] hannes-ucsc commented on #508
Depends on BD2KGenomics/toil-scripts#33

[2015-10-30 19:14] hannes-ucsc commented on #440
Depends on BD2KGenomics/toil-scripts#33

[2015-10-31 00:44] hannes-ucsc commented on #522
I think I know why this happens. The worker imports the user script first, then unpickles the job at which time the HelloWorld instance will be deserialized and the HelloWord class will be referenced from the imported script. Without the `__main__` check, you will end up attempting to start another Toil instance in the worker context as soon as you import the user script. Clearly not what you want

[2015-10-31 01:33] hannes-ucsc commented on #420
Unfortunately, by the time setup.py is invoked, it is almost impossible to interrogate what extras were specified on the pip command line. This is because pip invokes setup.py without passing that information along. It can be done, of course, by interrogating the parent process' command line but I am hesitant to implement it.

Once installed, it is also impossible to determine the requested extras

[2015-10-31 18:41] benedictpaten commented on #522
Fair enough, is it possible to print a warning about this case? Currently it's totally inscrutable.

[2015-11-01 18:32] benedictpaten opened #526 "Document utilities"
In the tutorial document we should cover how to use the utilities.

[2015-11-01 18:33] benedictpaten opened #527 "Better document Job.Runner and options to invoking a workflow"
The current documentation for Job.Runner in the tutorial has a number of todo items

[2015-11-01 20:10] arkal opened #528 "Job constructor doesn't seem to accept cache as keyword argument"
As mentioned in the title, passing cache as a keyword argument to Job.wrapJobFn() does not work.
TOY CODE
[code]
STACK TRACE FOR ```test_pass_disk_lt_cache()```
[code]
Which is as expected since disk < cache. However, you cannot provide a different value for cache as shown in ```test_pass_cache_val()```
[code]

[2015-11-01 22:16] hannes-ucsc commented on #522
I think so. Every user-facing Toil API (or at least the job factories and startToil()) would have to check whether it is being invoked during module import. The only way to do this is to set a global variable before the import and unset it after the import. The job factories and startToil() would then check that global variable and raise an exception. We'd have to consider thread-safety, too.

[2015-11-01 23:00] cgcloud-jenkins commented on #528
Oops, I believe this is fixed on my documentation PR branch. Sorry for
doubling up the commits. Should be merged tomorrow or Tuesday.

On Sun, Nov 1, 2015 at 12:10 PM, Arjun Arkal Rao <notifications@github.com>
wrote:

[2015-11-02 00:15] arkal commented on #528
Cool. Thanks!

[2015-11-02 00:35] #420 closed

[2015-11-02 00:35] #425 closed

[2015-11-02 01:39] hannes-ucsc commented on #461
We now have 3500 cores on the pancan subscription.

[2015-11-02 01:39] #461 closed

[2015-11-03 00:05] jvivian commented on #510
I need to get this to the printing folks by wednesday.

[2015-11-05 23:28] #510 closed

[2015-11-06 01:40] #511 closed

[2015-11-06 08:22] #524 closed

[2015-11-08 00:18] hannes-ucsc opened #530 "Test collection fails if boto isn't installed"
[code]

[2015-11-08 00:55] #530 closed

[2015-11-10 23:25] hannes-ucsc opened #532 "AWS job store: inconsistent handling of '' vs None in version field"
@cket found this while working on #521

The code doesn't properly distinguish between version being None (new FileInfo object) or '' (FileInfo object with inlined content).

[2015-11-11 01:24] hannes-ucsc opened #534 "Azure job store occasionally fails due to missing x-ms-meta-encrypted header"
http://jenkins.cgcloud.info/job/toil-pull-requests/617/testReport/junit/src.toil.test.jobStores.jobStoreTest/AzureJobStoreTest/testFileDeletion/

[2015-11-11 09:43] hannes-ucsc opened #535 "Need `toil --version`"

[2015-11-11 09:54] hannes-ucsc opened #536 "resolveEntryPoint() fails on a system-wide installation of Toil"
Python is installed in `/usr/bin` while pip installed the entry points in `/usr/local/bin`. That's why the lookup logic does not work.

[2015-11-11 18:46] hannes-ucsc opened #537 "Explain installation of Toil in a distributed environment"
For starters, see toil.resolveEntryPoint.

[2015-11-11 18:47] hannes-ucsc commented on #537
See also #536

[2015-11-11 18:49] hannes-ucsc opened #538 "Check that Toil version matches between leader, executor and worker"
Mesos scheduler should pass current version along in task structure. Mesos executor should compare agains own version and complain. Same with leader and worker.

┆Issue is synchronized with this [Jira Story](https://ucsc-cgl.atlassian.net/browse/TOIL-319)
┆Issue Number: TOIL-319

[2015-11-11 19:56] hannes-ucsc opened #539 "Add option to prevent cleaning of work directories"

[2015-11-11 20:44] #536 closed

[2015-11-11 20:57] arkal commented on #539
I'm not sure really how useful this will be. Hannes and I had a conversation about this and were talking about maybe adding a clean-temp option to toil, or maybe using a combination of --clean and --logDebug to understand that the user is debugging and would need the tempdir contents.

I, however, realized that this isn't really all that useful. Between the error logs in logDebug and the error thr

[2015-11-11 22:51] hannes-ucsc commented on #539
@arkal comment should form the base of a troubleshooting section in the Toil documentation.

[2015-11-12 02:58] hannes-ucsc commented on #539
I still think there may be a valid use case for this.

[2015-11-12 19:00] benedictpaten commented on #349
I am taking this on with a draft PR to be made very shortly.

[2015-11-12 21:26] hannes-ucsc opened #542 "AWS job store name is not being validated"
Regression from e60e396d0ce6523bc153fe3de2f5a8876e12785d

[2015-11-12 21:46] hannes-ucsc opened #543 "Azure job store name isn't being validated"
See #542 and the associated PR.

[2015-11-12 22:54] hannes-ucsc commented on #543
The names are being transliterated but the length isn't enforced.

[2015-11-13 00:46] hannes-ucsc opened #545 "--masterIP should be --mesosMaster and accept host names"

[2015-11-13 02:03] hannes-ucsc opened #547 "Parasol, GridEngine: Ability to communicate environment variables from leader to worker"
Follow-up on #441 and implement for GridEngine and Parasol what we did for Mesos and SingleMachine.

[2015-11-13 02:25] #545 closed

[2015-11-13 21:56] almussel opened #548 "Toil hangs on service initiation"
When I run the attached script with the command:
[code]
it non-deterministically hangs, sometimes after starting the first service, sometimes after starting the second service. Sometimes it runs successfully to completion.

[code]

[2015-11-13 23:13] hannes-ucsc commented on #473
Depends on #441
Depends on #547

[2015-11-14 08:34] hannes-ucsc opened #550 "Mesos and single-machine treat default requirements differently"
The following user script

[code]

passes with single machine and hangs with Mesos.

Command lines used:

[code]

[2015-11-14 08:41] hannes-ucsc opened #551 "Can't specify disk requirement without specifying cache also"
Running the following user script

[code]

using this command line

[code]

Produces the following exception.

[code]

The user shouldn't need to specify cache. It should have a sensible default derived from the disk requirement.

[2015-11-14 08:42] hannes-ucsc commented on #551
Adding `cache=1e6` prevents the exception.

[2015-11-14 09:08] #532 closed

[2015-11-14 10:40] arkal commented on #551
Maybe modifying [these two lines in job.py](https://github.com/BD2KGenomics/toil/blob/master/src/toil/job.py#L1099-L1100) to
[code]
will help?

I.e. if cache isn't provided, use the lower of disk, and default cache.

[2015-11-16 02:26] #421 closed

[2015-11-16 02:26] #441 closed

[2015-11-16 21:32] #542 closed

[2015-11-16 22:10] hannes-ucsc commented on #452
Resolved by 2116f2fcf410dd12fc0a7a7e69cfa658d0bd6c2b

[2015-11-16 22:10] #452 closed

[2015-11-16 23:20] almussel commented on #548
Issue is reproducible with SingleMachine on 3.1.0, but the script runs correctly on Mesos with 3.1.0.

[2015-11-16 23:21] hannes-ucsc opened #554 "Silence boto logs with --logDebug"
When running with --logDebug against AWS job store, there's just too much noise from boto.

This should also suppress the expected error caused by eventual consistency that happen when creating the job store.

[2015-11-17 01:50] benedictpaten commented on #548
Is there a test PR for this? I'm ready to pick it up - but quick please.

[2015-11-17 09:32] hannes-ucsc commented on #470
@cket Please don't just close issues. In a comment, link to the commit that resolves it. If there is no such commit, explain in a comment why you think the issue should be closed.

[2015-11-17 09:35] #393 closed

[2015-11-17 09:38] hannes-ucsc commented on #548
Since its SingleMachine only I should probably take this.

[2015-11-17 13:15] scottfrazer opened #556 "cPickle serialization problem for WDL Task objects"
I get a stack trace when trying to pass a [Call object](https://github.com/broadinstitute/pywdl/blob/master/wdl/binding.py#L178) into a wrapped function in Toil:

[code]

This is the code to reproduce: (requires `pip install wdl`)

[code]

I imagine there's something about `cPickle` that I don't understand that I need to change in PyWDL

[2015-11-17 18:28] cket commented on #470
Closed by commit 19a72a61779e80f0ad88ff5ee4ce9120ccba9309 and merged into master by commit d342cd333c0ccbc7121c4fdd7e919f92b4aa75e4

[2015-11-17 18:28] #470 closed

[2015-11-17 22:52] cket commented on #550
Assuming this is on a t2.micro instance, we expect the batch system to hang/fail. Micros have 1 core while the default core value is 2.

To communicate this behavior to the user we should keep track of the max resource offer per resource type and log a warning if we get a job with a resource requirement greater than that max offer.

[2015-11-18 00:53] #473 closed

[2015-11-18 00:53] #547 closed

[2015-11-18 02:32] hannes-ucsc opened #557 "Service jobs cause excessive polling on file store"
The polling loop in ServiceJob.run() polls for a file in the job store once per second and service job. I feel that this is too frequent. We should consider switching to a capped, exponential back- strategy for the polling interval. It wouldn't be too bad for a 1 hour job to be artificially extended by 30 seconds on average if the polling interval had increased to one minute.

[2015-11-18 02:46] hannes-ucsc commented on #548
If a job doesn't specify any core requirements, the default core requirement will be applied. The default core requirement can be configured via command line option `--defaultCores` but defaults to 1. On a two-core machine, two such jobs can run in parallel but the above DAG has three concurrent jobs: two services and the hello_word job at the end.

@almussel can you try to confirm this by reducin

[2015-11-18 02:55] hannes-ucsc commented on #550
Sort of related to #548. That issue describes SingleMachine to actually do the right thing of hanging when a three-core workload is being run on a two-core machine.

Also, it looks like the default defaultCores is 1, not 2 as @cket claims.

Is it possible that Mesos or the framework subtracts some fraction of a core (say .1) for itself, leaving only .9 for Toil?

[2015-11-18 17:09] almussel commented on #548
I just tried this:

[code]

and got the following error:

[code]

[2015-11-18 20:04] hannes-ucsc commented on #548
The above backtrace is indicative of another, unrelated bug which I'll just fix in the PR #588.

[2015-11-18 20:08] hannes-ucsc commented on #548
Audrey and I confirmed that reducing the requirements to .1 prevents the hang, rendering the primary issue invalid.

[2015-11-18 22:28] hannes-ucsc opened #559 "Can't use --defaultCores=0.1"
https://github.com/BD2KGenomics/toil/issues/548#issuecomment-157781028

[2015-11-18 22:40] hannes-ucsc opened #560 "Option handling is messy"
Inconsistently formatted help strings, convoluted language, job store parsing and validation is spread over setOptions and loadJobStore.

┆Issue is synchronized with this [Jira Story](https://ucsc-cgl.atlassian.net/browse/TOIL-252)
┆Issue Number: TOIL-252

[2015-11-18 23:28] #559 closed

[2015-11-18 23:29] #548 closed

[2015-11-18 23:53] hannes-ucsc commented on #528
This is a little confusing since no value for `f()`'s `test_val` argument is being provided. IOW, both scenarios are always going to fail, just for different reasons. It would have been helpful if the test script passed when running against a version of Toil that fixes the problem. However, given the fact that Benedict says that the issue is fixed and that I cannot get the `TypeError: f() got an u

[2015-11-18 23:53] #528 closed

[2015-11-19 16:48] cket commented on #550
The executor and framework currently don't reserve any cores for themselves, although the executor used to reserve 0.1 cores for itself.

Is this still running on mesos 0.22? The original reason for setting executor resource reqs was that future versions of mesos would require them, but they were so inconvenient that we removed them.

If we updated to a more recent version of mesos, its possible t

[2015-11-19 18:21] cket commented on #550
It looks like we are now using 0.25 but looking through the list of changes here:

http://mesos.apache.org/documentation/latest/upgrades/

doesn't seem to list mandatory executor resource requirements as a change. Probably still worth testing on an actual cluster, however.

[2015-11-19 18:51] #551 closed

[2015-11-19 20:32] hannes-ucsc opened #563 "Prioritize big jobs in single machine"
Single machine batch system is artificially enforcing FIFO semantics on the jobs submitted to it.

Consider a priority queue that orders jobs based on the jobs' requirements (either a weighted sum or just the number of cores) such that we can prioritize big jobs reducing the chance of small jobs preventing big jobs from running, leaving cores underutilized.

┆Issue is synchronized with this [Jira

[2015-11-19 22:07] #535 closed

[2015-11-19 22:39] hannes-ucsc opened #564 "Add support for --cores='all'"
... to claim all cores on a node.

[2015-11-20 22:49] adamnovak opened #565 "Imported files in the same directory as the user script not available on Mesos nodes"
I have a particular user script that imports my own library code I have written for running on Toil, called `toillib.py`, which I keep in the same directory as the user script. I import it thusly:

[code]

On the master, my script can import `toillib.py` just fine, but when running on Mesos on Azure, when there is no shared filesystem and Mesos has to take care of copying the user script out to th

[2015-11-20 23:08] hannes-ucsc commented on #565
Yes. But we may have to help Toil a little bit. I needs to recognize that the user script and the imported module are part of a package hierarchy and it needs to be able to identify the hierarchy. Can you send an `ls -lR` of your working directory on the leader? I will work on replicating this issue.

[2015-11-20 23:09] hannes-ucsc commented on #565
s/identify the hierarchy/identify the root of the hierarchy/

[2015-11-20 23:13] adamnovak commented on #565
This is what it looks like:

[code]

It may be relevant that I'm running my script as `scripts/parallelMappingEvaluation.py`, and it's importing `toillib.py` next to the executing file, but not directly from the working directory.

[2015-11-20 23:21] hannes-ucsc commented on #565
Try running the script as `PYTHONPATH=. python -m scripts.parallelMappingEvaluation` and changing the import to `from scripts.toillib import *`

[2015-11-20 23:59] hannes-ucsc commented on #565
I can reproduce this. The above workaround doesn't seem to work. Stay tuned.

[2015-11-21 09:35] hannes-ucsc commented on #565
@adamnovak, once this lands on master you will need to remove the `__init__.py` from the scripts directory. After that it should work.

[2015-11-22 03:26] #565 closed

[2015-11-22 03:28] hannes-ucsc opened #567 "Document how to use Toil scripts with dependent modules"
Also see #565

[2015-11-22 22:21] adamnovak opened #569 "Azure/Mesos Failure With No Log"
Sometimes jobs on Azure with Mesos will fail without leaving any log.

Here is an example of the first job in my script, which makes a bunch of child targets, successfully making all its child targets and then failing without leaving a log.

[failNoLog.txt](https://github.com/BD2KGenomics/toil/files/41157/failNoLog.txt)

[2015-11-22 22:33] adamnovak opened #570 "Azure File Store Very Slow Download Speed"
My jobs that run on the Azure file store are hanging when downloading large files (where "large" is about 30 or 40 megabytes).

Here is a log on a singleMachine batch system with the Azure job store. It can run 2 jobs at a time (since I've set max cores to 32 and set it to use 16 cores in all my jobs), and right now those two jobs are both stuck trying to pull files out of the global file store: t

[2015-11-23 02:49] hannes-ucsc commented on #570
Is it just slow or outright hanging? Or is something preventing you from telling the difference? Can you see the local copy grow over time?

[2015-11-23 02:56] hannes-ucsc commented on #569
Mesos redirects stderr and stdout of each task to a file of the same name. Depending how Mesos gets installed, these files could be in `/tmp`, `/var/log/mesos` or `/var/lib/mesos`.

[code]

Looks like you are using Mesos 0.22.0. We're on 0.25.0 now.

[2015-11-23 03:03] hannes-ucsc commented on #570
Looks like the code path through the Azure job store branches depending on if the file is below or above 4194000 bytes in size.

[2015-11-23 03:28] adamnovak commented on #570
I'd describe it as hanging. It didn't finish even after about an hour.

On Sun, Nov 22, 2015 at 7:03 PM, Hannes Schmidt <notifications@github.com>
wrote:

[2015-11-23 03:54] adamnovak commented on #570
Eventually (i.e. after a few hours) it gave two message about retriable
exceptions in the job store:

NFO:realtime:Done making children
INFO:realtime:Queueing alignment of HG00096 to snp1000g lrc_kir
INFO:realtime:Uploading indexes/lrc_kir/snp1000g.tar.gz to output store...
INFO:realtime:Downloading global file c1225cca_ef85_47e0_aecb_31070889638d
INFO:toil.leader:Reissued any over long jobs
INFO:

[2015-11-23 06:41] hannes-ucsc commented on #570
Yes

[2015-11-23 07:27] hannes-ucsc commented on #570
I was wrong, there is no branching around the max blob size (4194000). It's a simple loop.

I ran the tests with coverage to confirm that this code is covered by tests.

Next steps: we should create a reduced example that exhibits this behavior. We need to eliminate Mesos and caching as possible causes. A stack trace would be nice too (https://wiki.python.org/moin/DebuggingWithGdb).

@benedictpate

[2015-11-23 07:29] hannes-ucsc commented on #570
Running lsof on the worker process would also be helpfule.

[2015-11-23 18:55] adamnovak commented on #570
I've managed to reproduce this with the following script:

[code]

It writes the file, and then hangs reading it.

Interestingly, when the script hangs and I kill it, candy.txt exists and has 4 MB of data in it.

I think the problem is probably here: https://github.com/BD2KGenomics/toil/blob/master/src/toil/jobStores/azureJobStore.py#L189-L195

[code]

It looks like there's no loop in this functio

[2015-11-23 19:09] adamnovak commented on #570
If we want to use the Azure bindings' built-in stream methods, we want `put_block_blob_from_file` which can take a ython file object to upload as described in http://azure-sdk-for-python.readthedocs.org/en/documentation/storage.html

All the get blob methods work fine on block (i.e. up to the 195 GB) blobs, and there's a `get_blob_to_file` that (presumably) can write to a Python file object.

[2015-11-23 21:18] melissacline opened #572 "Toil doesn't work with GridEngine on PODK"
I was trying to run the UNC RNASeq pipeline on podk, with gridEngine.  It failed almost immediately, with the following output in the error log:

-bash-4.1$ cat launch_ispy.11.23.15.errout
No handlers could be found for logger "toil.resource"
INFO:toil.lib.bioio:Logging set at level: INFO
INFO:toil.common:Using the grid engine machine batch system
INFO:toil.jobStores.fileJobStore:Jobstore director

[2015-11-24 03:43] hannes-ucsc opened #576 "CWL test fails with "Unsupported requirement InlineJavascriptRequirement""
http://jenkins.cgcloud.info/job/toil-pull-requests/653/testReport/junit/src.toil.test.cwl.cwlTest/CWLTest/test_run_revsort/

[2015-11-24 03:45] #576 closed

[2015-11-24 03:55] hannes-ucsc commented on #449
Still happening. Unfortuntately, I noticed this after merging it onto the master branch. So I disabled SortTest.testFileParasol again but left the other changes in (96d291ab8d792e35ae5c76ef7015d9278c8914c5).

[2015-11-24 07:43] #570 closed

[2015-11-24 07:43] #550 closed

[2015-11-24 18:37] adamnovak opened #577 "Maximum Job Data Size on Azure Too Small"
Upon trying to scale up my pipeline from one sample to hundreds of samples on Azure, I am met with errors like the following:

[code]

I think, since I'm passing around lists of hundreds of sample names, and since I'm adding hundreds of grandchild jobs to one of my child jobs, that I might have jobs that are too big.

I think the offending code may be here: https://github.com/BD2KGenomics/toil/blo

[2015-11-24 22:19] adamnovak opened #579 "Conflict errors on Azure after retrying `insert_entity` (because original insert really succeeded)"
I've noticed Toil producing an occasional Conflict error when trying to write things to the Azure JobStore (with my #578 patch) when creating a new job:

[code]

And previously, when associating a file with a job:

[code]

Both of these are instances of `insert_entity` throwing a retriable error, being retried, and failing the retry attempt due to a conflict. I think that the original insert is ta

[2015-11-25 01:07] #577 closed

[2015-11-25 08:48] hannes-ucsc opened #582 "Occasional KeyError during testJobFileStoreWithSmallCache"
http://jenkins.cgcloud.info/job/toil-branches/branch/master/77/testReport/junit/src.toil.test.src.jobFileStoreTest/JobFileStoreTest/testJobFileStoreWithSmallCache/

[code]

[2015-11-25 18:24] adamnovak opened #583 "Azure JobStore doesn't retry when it gets a "server is busy" error"
I had my master running against the Azure jobstore crash overnight with this log:

[code]

It looks like when Azure is temporarily overloaded it throws a `WindowsAzureError` with the message "Unknown error (Service Unavailable)" and a bunch of XML actually explaining that the server is busy--presumably too busy to handle the request now, but perhaps it will be less busy later.

Toil should re-try

[2015-11-25 18:59] adamnovak opened #584 "AzureJobStore.clean() is very slow"
I'm attempting to restart a run with somewhere between several tens of thousands and hundreds of jobs in an AzureJobStore.

The first step of the restart process appears to be to "clean" the job store, which involves walking the entire job graph, in serial, before scheduling any jobs. With 100,000 jobs, and one (or more, with chunking) round-trip HTTP request to the strongly-consistent-but-slow Az

[2015-11-25 20:35] adamnovak commented on #584
It looks like the `jobs()` method on the AzureJobStore is actually only returning the first 1000 jobs; someone didn't implement a paging loop.

[2015-11-25 20:55] adamnovak commented on #584
It also looks like jobs may all be stored in a single partition. Since a partition may only return 500 entities per second maximum according to the Azure docs, there may be a top speed at which we can read our job store.

[2015-11-25 21:22] hannes-ucsc commented on #584
I suggest we write a unit test that demonstrates the slowness and the incompleteness. We can skip the test on regular builds if necessary.

[2015-11-25 21:58] adamnovak commented on #584
Alright. I'll figure out how to set up an environment that can actually run the unit tests (since they fail when they find my global user install of Toil that I use in all my scripts).

[2015-11-25 22:56] hannes-ucsc opened #586 "Eliminate cache requirement"
Resulting from a conversation with @arkal and @jvivian.

@arkal can explain in more detail but he's running into issues where cached files are evicted prematurely. All input, output and intermediate files involved in a single sample run of his pipeline can fit onto the disk space of a single beefy EC2 instance, yet the current caching implementation doesn't utilize that.

The cache should be share

[2015-11-26 03:05] #125 closed

[2015-11-26 03:05] #427 closed

[2015-11-26 18:13] arkal commented on #586
I was working on this yesterday and I was thinking of the file idea as well. Possibly, worker acquires a mutex on the file just before cleaning up the cache from a previous job (https://github.com/arkal/toil/blob/master/src/toil/worker.py#L269), it reads the last line of the file which describes the remaining usable disk space. worker then adds a new line to the file with the value of ```usable sp

[2015-11-27 23:36] arkal commented on #586
@hannes-ucsc @benedictpaten I worked on this and I might be really close to an implementation. I hope i'm not shooting myself in the foot by showing you guys this but would you look at https://github.com/arkal/toil/commit/28518bd4b895ed45ddd055c19b792663a6542b72 and comment? I believe if  ```fileStore._jobStoreFileIDToCacheLocation``` is made global, this strategy will work.

[2015-11-30 16:18] scottfrazer opened #587 "os.sysconf('SC_PHYS_PAGES') is throwing an exception"
I just rebased my code on top of the latest master branch today... and I'm getting this error:

[code]

It seems that for my machine SC_PHYS_PAGES is not defined:

[code]

Any ideas about what I should do?

[2015-11-30 16:51] arkal commented on #587
I saw the same error yesterday on my Macbook. I believe that variable isn't
set on osX and we should be using sysctl('HW_REALMEM') instead.. However
python os doesn't have a module for that. Ill get  ask to you if I find a
workaround.

Arjun
On Nov 30, 2015 8:18 AM, "Scott Frazer" <notifications@github.com> wrote:

[2015-11-30 17:25] scottfrazer commented on #587
Thanks @arkal, for now I just hard coded a value for `os.sysconf('SC_PHYS_PAGES')`

[2015-11-30 17:54] arkal commented on #587
This is a good reference. What value did you give SC_PHYS_PAGES?

http://nadeausoftware.com/articles/2012/09/c_c_tip_how_get_physical_memory_size_system

[2015-11-30 20:06] scottfrazer commented on #587
I hard-coded a value of 600,000 for SC_PHYS_PAGES.  A stop-gap, for sure, but it works

[2015-12-01 17:59] #587 closed

[2015-12-01 18:01] hannes-ucsc commented on #587
Thanks to @scottfrazer for the bug report, and to @arkal for the references.

[2015-12-01 20:41] hannes-ucsc commented on #564
So we don't need logic like this:

https://github.com/BD2KGenomics/toil-scripts/blob/48d613bd13314fc2a5417660720f7d8ac94003e7/rnaseq-unc/rnaseq_unc_pipeline.py#L342

which gives mapsplice as many cores as are available on a machine.

[2015-12-01 20:49] hannes-ucsc commented on #579
The simple fix, which is to substitute `insert_entity` with `insert_or_replace_entity` produces very surprising test failures, mostly with deletions failing. Need more time to look into this.

[2015-12-02 01:38] hannes-ucsc opened #593 "Azure job store retries forever and without delay"
Number of retries needs to be limited and there should be an exponential back-off in between. Just copy the logic from the AWS job store.

[2015-12-02 04:10] hannes-ucsc commented on #586
Arjun's proposal is hosted here: https://docs.google.com/document/d/1JvzZ1h3eyvoXP6gXwe6Ji9xWgUt75VR3KSoAFp9FXIA/edit#

[2015-12-02 05:37] #371 closed

[2015-12-02 08:03] hannes-ucsc opened #594 "Building Sphinx docs generates warnings"
[code]

[2015-12-02 20:51] hannes-ucsc opened #596 "Caching test fails sporadically"
http://jenkins.cgcloud.info/job/toil-pull-requests/696/testReport/junit/src.toil.test.src.jobFileStoreTest/JobFileStoreTest/testJobFileStoreWithOverLargeCache/

[code]

[2015-12-02 20:55] #519 closed

[2015-12-03 19:46] hannes-ucsc opened #598 "Running into some resource allocation problems"
_From @dgaston on December 3, 2015 17:11_

Since there is no general help forum for Toil or Toil scripts and it is in heavy development, I thought this would be the best place to ask. I have been working on porting over my existing pipeline work to Toil due to its broad support for Mesos. I am currently running this pipeline just locally. I wanted to do something a little different because I re-us

[2015-12-03 19:50] hannes-ucsc commented on #598
Hi Daniel,

If you are using Toil 3.0.7, you are probably running into #435. We just released 3.1.0 with a fix for that issue. Could you try with that version?

[2015-12-03 20:03] dgaston commented on #598
Thanks, I was running 3.0.7. Just upgraded and something in the update gives me an error that I wasn't getting before that halts setting up the workflow (RuntimeError: Trying to pass a promise from a promising job that is not predecessor of the job receiving the promise) so I'll have to make some additional tweaks to get some values moved between jobs in a different way than I was before. I'll let

[2015-12-03 21:48] hannes-ucsc commented on #187
We updated to 0.25.0 recently making this obsolete.

[2015-12-03 21:48] #187 closed

[2015-12-03 22:13] hannes-ucsc commented on #495
Continued in #61

[2015-12-03 22:13] #495 closed

[2015-12-03 22:17] hannes-ucsc commented on #406
Obsoleted by BD2KGenomics/toil-scripts#34

[2015-12-03 22:18] #406 closed

[2015-12-03 22:20] hannes-ucsc commented on #495
Continued in BD2KGenomics/toil-scrips#61

[2015-12-03 22:20] hannes-ucsc commented on #495
Continued in BD2KGenomics/toil-scripts#61

[2015-12-03 22:23] hannes-ucsc commented on #319
Never occurred again. Closing.

[2015-12-03 22:23] #319 closed

[2015-12-03 22:27] #262 closed

[2015-12-03 22:30] hannes-ucsc commented on #494
`testLargeFile` is now part of `AbstractJobStoreTest` and has not hung since.

[2015-12-03 22:30] #494 closed

[2015-12-03 22:34] hannes-ucsc opened #600 "Implement provisioner for EC2"

[2015-12-03 22:40] hannes-ucsc commented on #479
Duplicates #579

[2015-12-03 22:40] #479 closed

[2015-12-03 22:42] hannes-ucsc commented on #130
Obsoleted by #349

[2015-12-03 22:42] #130 closed

[2015-12-03 22:48] hannes-ucsc commented on #440
@benedictpaten, @jvivian, do we still want to do this now or should this wait until @arkal's caching improvements in #586?

[2015-12-03 22:51] cgcloud-jenkins commented on #440
Would still be good to test the current implementation, which is useful if
tuned correctly. Given @arkal's timeline, we may have to use the current
aching implementation in the toil scaled runs.

On Thu, Dec 3, 2015 at 2:48 PM, Hannes Schmidt <notifications@github.com>
wrote:

[2015-12-03 22:53] #523 closed

[2015-12-03 22:53] hannes-ucsc commented on #523
This is done.

[2015-12-03 23:07] hannes-ucsc commented on #543
Also see #478

[2015-12-03 23:27] hannes-ucsc commented on #582
Duplicated by #596.

[2015-12-03 23:28] hannes-ucsc commented on #596
Duplicates #582.

[2015-12-03 23:28] #596 closed

[2015-12-04 02:21] hannes-ucsc opened #601 "Test and scale-test support for draft-3 of the CWL 1.0 specification"
Due end of December 2015

[2015-12-04 02:23] hannes-ucsc opened #602 "Prototype support for WDL"
Due end of December 2015, implemented by Broad/UCSC

[2015-12-04 02:27] hannes-ucsc opened #603 "Test and scale-test support for WDL"
Due end of January 2016, implemented by UCSC

[2015-12-04 02:33] hannes-ucsc opened #604 "Test and scale-test Apache Spark workflows within Toil"
Due end of January 2016

┆Issue is synchronized with this [Jira Story](https://ucsc-cgl.atlassian.net/browse/TOIL-321)
┆Issue Number: TOIL-321

[2015-12-04 02:34] hannes-ucsc opened #605 "Implement GCS job store"
due end of January 2016) as a storage medium (see https://github.com/BD2KGenomics/toil/blob/master/src/toil/jobStores/abstractJobStore.py for API that needs to be implemented)

[2015-12-04 02:37] hannes-ucsc opened #606 "Implement GCE provisioner"
Support for the Google VM provisioning (due end of January 2016) to create worker nodes within which containers are run (see https://github.com/BD2KGenomics/toil/blob/issues/349-autoscaling/src/toil/provisioners/abstractProvisioner.py for prototype provisioning API)

[2015-12-04 02:38] hannes-ucsc opened #607 "Test and scale-test Google cloud support"
due end of February 2016

[2015-12-04 02:39] hannes-ucsc opened #608 "Support for the Rawls API"
Due end of February 2016

[2015-12-04 02:46] hannes-ucsc commented on #603
Due end of January 2016, implemented by UCSC

[2015-12-04 13:24] scottfrazer opened #609 "AttributeError: 'Expando' object has no attribute 'workers'"
When I run:
[code]
I get this:
[code]

It was actually working for a little while and then suddenly it started giving back this error and I don't quite know why.  Any ideas?

[2015-12-04 16:02] dgaston commented on #598
Definitely fixed the issue. I also discovered that because no additional info comes with the RuntimeError message for promises it can make it hard to debug, particularly with the way I am constructing the workflow. I made a quick local dev version of toil and printed the value of self.userFunctionName in the error message in the Job.rv() method. Definitely made it easier to debug in my case. Not s

[2015-12-04 18:22] dgaston commented on #609
I'm getting this error as well with toil version 3.1. It also seems as if now I am only running a single job at a time on my local machine when it should have enough resources allocated/requested to be running several

[2015-12-04 19:47] hannes-ucsc commented on #598
Could you file a PR with your improvement to Job.rv()? It sounds like a good idea.

[2015-12-04 19:54] #583 closed

[2015-12-04 20:41] hannes-ucsc commented on #609
As this is a bug in a release. We'' fix this ASAP.

[2015-12-04 21:21] benedictpaten opened #611 "Module Index link is broken on Sphinx docs index page"
http://toil.readthedocs.org/en/latest/py-modindex.html

This link is broken. We should have a way of browsing all the modules in the docs.

[2015-12-04 21:54] hannes-ucsc commented on #598
PR #610

[2015-12-04 23:05] hannes-ucsc commented on #598
Thank you for the PR. Will take a look shortly.

It looks like upgrading to 3.1.0 fixed this issue. Closing.

[2015-12-04 23:05] #598 closed

[2015-12-04 23:58] #609 closed

[2015-12-05 02:11] hannes-ucsc commented on #609
The fix for this is included in the 3.1.1 release. Running `pip install --upgrade toil` will install it.

[2015-12-05 17:50] scottfrazer commented on #609
Thanks!!
On Fri, Dec 4, 2015 at 9:11 PM Hannes Schmidt <notifications@github.com>
wrote:

[2015-12-06 02:27] kellrott opened #615 "CWL secondaryFiles need to be copied into working directories"
Secondary files defined in CWL files (as part of the inputBinding) need to be copied into place.
For example in the case of a tool that defines a BAM file, and its index .bai file:

[code]

Will give the error:

[code]

[2015-12-07 15:04] dgaston opened #616 "Single machine batch system should schedule based on fit rather than age of jobs"
I have been running toil on just a single machine (until my personal cluster finally arrives). My current pipeline script can be found here: https://github.com/dgaston/ddbio-ngsflow/blob/master/workflow-somatic_amplicon.py

I am currently executing this script with --maxCores 8 and --maxMemory 12884901888 (12G). As you can see I create per sample jobs when constructing the job tree. The first job

[2015-12-07 22:06] hannes-ucsc commented on #616
The single machine batch system enforces a stronger ordering than necessary. It has strict FIFO semantics because it only uses a single job queue. IOW, it will only look at the head of the queue and wait until it can ran that job with the available resources, even if there are jobs later in the queue that could run with the currently available resources. This is dumb and needs to be changed. I pro

[2015-12-08 12:04] dgaston commented on #616
Yes that's correct. I just need to reinstall mesos on my local machine. I had it running previously for some testing I was doing. Thanks for the suggestion, it's a good idea.

[2015-12-08 16:24] jvivian commented on #508
Closed thanks to @hannes-ucsc!

[2015-12-08 16:24] #508 closed

[2015-12-09 00:08] diekhans opened #617 "Documentation examples don't explain need for if name=="__main__" idiom"
very low priority

The toil examples waste mental bandwidth and continues to brainwash young minds into thinking programming means cut-n-paste instead of actually understanding what you are doing.

This is done by repeating the pointless python idiom
   if __name__=="__main__":

Which is only use when a single file is both a python module and a python command line program.  This is almost never a

[2015-12-09 00:11] hannes-ucsc commented on #617
User scripts fall into that category. It's run by the user from the command line and imported into the worker process on each worker node.

See also #522.

[2015-12-09 00:59] diekhans commented on #617
Ah, so in that case, it's still a documentation bug, because this isn't explained.
Since I avoid doing unnecessary things, it's wouldn't have worked.

Suggest both a paragraph explaining this and a comment in the example following
the if __main__
    # only excuted in command, not on import to worker process

protect the world from people who think they know what is going on ;-)

Hannes Schmidt <n

[2015-12-09 01:52] hannes-ucsc opened #618 "Add jobStore.importFile() and .exportFile()"
Signatures should be

[code]

Every concrete job store would be required to support `file:` URLs and URLs pointing to its native storage mechanism, e.g. `s3:` for the AWSJobStore.

[2015-12-09 01:55] hannes-ucsc opened #619 "Exposes job store to user script in the context of the leader process"
Needed for CWL support. CWL is typically invoked with files present on the local disk, expecting output to end up there, too.

Related to #618 which implements import and export of files.

[2015-12-09 18:44] hannes-ucsc opened #620 "GridEngine BS should not redirect stderr and out to /dev/null"
A lot of interesting (and brittle) stuff happens in the worker before it sets up its own log redirection. We should both reduce the the amount of that stuff and have GridEngine redirect the log to a temporary file, possibly even in the file store.

[2015-12-09 20:07] hannes-ucsc opened #621 "cwltoil raises schema-related ValidationException"
Tests started failing just now.

http://jenkins.cgcloud.info/job/toil-pull-requests/lastCompletedBuild/testReport/src.toil.test.cwl.cwlTest/CWLTest/test_run_revsort/

It would be nice if the schema didn't change underneath a particular cwl version. IOW, if I pin my cwl version, the schema used by it should never change. But that's just my hunch. I don't understand the intricacies involved here.

@

[2015-12-10 02:42] arkal commented on #586
If anyone is interested, you can find my working source at https://github.com/arkal/toil/tree/issues/586-eliminate-cache-requirement

[2015-12-11 07:47] hannes-ucsc commented on #240
Just learned that Mesos supports cgroups which can be used for this very purpose.

[2015-12-11 17:44] benedictpaten commented on #240
Would be great to get this in there!

On Thu, Dec 10, 2015 at 11:47 PM, Hannes Schmidt <notifications@github.com>
wrote:

[2015-12-14 18:54] #621 closed

[2015-12-15 07:06] hannes-ucsc opened #624 "--stats is missing certain job functions"
_From @jvivian on December 14, 2015 19:29_

Stats output:
http://pastebin.com/piy7dWSz

Script being run:
https://github.com/BD2KGenomics/toil-scripts/blob/master/rnaseq_cgl/rnaseq_cgl_pipeline.py

So in this case, STAR and RSEM functions didn't show up in the output.  Given the times, you can tell certain jobs got "merged".

_Copied from original issue: BD2KGenomics/toil-scripts#70_

[2015-12-15 07:06] hannes-ucsc commented on #624
_From @cgcloud-jenkins on December 15, 2015 2:18_

Okay, looking now.

On Mon, Dec 14, 2015 at 11:29 AM, John Vivian <notifications@github.com>
wrote:

[2015-12-15 07:06] hannes-ucsc commented on #624
_From @benedictpaten on December 15, 2015 6:25_

So this is a bug created in the switch from xml to json for the stats logging. I'm assigning to CJ to fix as he is most familiar with the new code and also created the bug ;)

Previously in Job._execute we had the lines:

if stats != None:
            stats = ET.SubElement(stats, "job")
            stats.attrib["time"] = str(time.time() - startTime)

[2015-12-15 07:06] hannes-ucsc commented on #624
Wrong project. I'll move this.

[2015-12-18 06:17] hannes-ucsc opened #625 "Mesos batch system doesn't favor bigger tasks"
https://github.com/BD2KGenomics/toil/blob/d08fe8c43d0d18d4d4bdafb9c9c921fd937557bd/src/toil/batchSystems/mesos/batchSystem.py#L298

Sort is ineffective as it sorts by the property descriptor, not the value of the property.

[2015-12-18 07:00] #625 closed

[2015-12-19 03:18] hannes-ucsc commented on #579
Consider 5b33d1cbf2d452b3bb52545ee34bb3152b0be5c6 as part of a solution.

[2015-12-19 09:59] #584 closed

[2015-12-22 00:38] adamnovak opened #630 "Indexable Promises"
I have job functions that have multiple return values (i.e. return tuples). I would like to pass one return value to one follow-on, and another return value to another follow-on. However, I can't (I don't think) take a promise for the tuple, and extract a promise for one of the elements of the tuple. I have to pass the whole promised tuple, and then extract only the item I am interested in in the

[2015-12-23 00:58] hannes-ucsc commented on #630
I'm sure you have a point, but I don't completely get it. Unless @benedictpaten already knows what you mean, It'd be helpful to have sample code of what you currently have to do and what you would like to be able to do instead.

[2015-12-23 17:40] adamnovak commented on #630
Right now I have to do something like

[code]

And I want to do:

[code]

On Tue, Dec 22, 2015 at 4:58 PM, Hannes Schmidt <notifications@github.com>
wrote:

[2015-12-24 01:24] diekhans opened #631 "Toil script as a program generates assertion"
Take and example Toil program from the documentation, turn it into a python program `tryIt', with

    #!/usr/bin/env python

as the first line.

     ./tryIt
    Traceback (most recent call last):
      File "./tryIt", line 10, in <module>
        j1 = Job.wrapJobFn(helloWorld, "first")
      File "/cluster/home/markd/opt/centos6.0/x86_64/lib/python2.7/site-packages/toil/job.py", line 238, in wra

[2015-12-24 18:05] diekhans opened #632 "test failure and apparent hang on CentOS 6.6"
On UCSC CentOS timeshare
- CentOS release 6.6 (Final)
- Linux hgwdev 2.6.32-504.3.3.el6.x86_64 #1 SMP Wed Dec 17 01:55:02 UTC 2014 x86_64 x86_64 x86_64 GNU/Linux
- custom compile python:  2.7.6
- checkout of master: a53ed6fb9ee83895575c1f2ae1ccc9e27197f4f7

Test run with several failures (see attached) and then appear to hang with not more output and process using a small amount of CPU

    USER

[2015-12-25 00:25] diekhans commented on #632
user misunderstanding : forgot to do a make develop

[2015-12-25 00:25] #632 closed

[2015-12-25 02:52] jvivian commented on #572
I've run into a reproducible issue running the rna-seq pipeline on PODK.   It handles several jobs, then fails with:

[code]

which comes from this line:
https://github.com/BD2KGenomics/toil/blob/master/src/toil/batchSystems/gridengine.py#L208

I tried a few different environments, but changing `shm` to `mpi` fixed it on podk.  I've looked around but I'm unsure of the most appropriate way to check

[2016-01-05 21:46] hannes-ucsc opened #636 "Azure job store should support multiple storage accounts"

[2016-01-05 23:00] #624 closed

[2016-01-06 14:19] scottfrazer commented on #556
It seems as though I was able to get around this issue by adding this line as the last line to all places where I implement `__getattr__` in the PyWDL code:

[code]

[2016-01-06 19:45] hannes-ucsc commented on #556
Return `super(Scope, self).__getattr__(name)` would be more logical IMHO.

[2016-01-06 20:36] scottfrazer commented on #556
Yeah, I'll try that.  I may have spoke too soon, because soon after I tried my solution I got some infinite loops

[2016-01-06 22:46] cket opened #639 "Sporadic sortTest failure"
self = toil.test.sort.sortTest.SortTest testMethod=testFileMesos

src/toil/test/sort/sortTest.py:134: in _toilSort
    Job.Runner.startToil(firstJob, options)
src/toil/job.py:425: in startToil
    for jobWrapper in jobStore.jobs()}
src/toil/job.py:424: in <dictcomp>
    jobCache = {jobWrapper.jobStoreID: jobWrapper
src/toil/jobStores/fileJobStore.py:137: in jobs
    yield self.load(self._getRelati

[2016-01-06 22:56] cket commented on #639
Discovered in #594. This test failed after making only documentation changes. I retested and it failed again. While looking through the changes for an explanation I found a couple typos in my comments, and when I pushed these fixes the test passed on this 3rd try.

I didn't touch any code or even anything in the Mesos batchsystem, so it seems to me like this may be an issue in the master branch

[2016-01-09 01:02] adamnovak opened #640 "Parasol jobs can't find _toil_worker"
If I run a parasol job to run `_toil_worker` in the same way the Parasol batch system does, it seems like it can't find `_toil_worker` on the other end:

[code]

This is because `_toil_worker` isn't in Parasol's PATH. I can't use the `-e PATH` option to Toil to fix this, because that makes the Toil commands longer than 256 characters, and Parasol limits the command length.

Perhaps Toil should do

[2016-01-09 01:05] hannes-ucsc commented on #640
Is Toil installed in a virtualenv on ku?

[2016-01-09 03:05] adamnovak commented on #640
I'm not in a virtualenv when I'm running this command, nor am I in a
virtualenv when I'm trying to run the Toil script that was giving me
trouble and made me want to try this command. I have Toil installed both
with pip install --user and in a virtualenv for running the tests.

On Fri, Jan 8, 2016 at 5:05 PM, Hannes Schmidt <notifications@github.com>
wrote:

[2016-01-09 03:17] hannes-ucsc commented on #640
If you use a virtualenv, Toil will use an absolute path to the worker entry point (`_toil_worker`).

We could always use an absolute path but then users of heterogeneous clusters will complain if their Toil is installed in different places on the cluster nodes.

You should file a bug against Parasol. 256 bytes is a joke, IMHO. There is an kernel-defined limit to command line length and Parasol sho

[2016-01-09 03:47] arkal commented on #586
Progress has been moved to a new branch at
https://github.com/arkal/toil/tree/issues/586a-eliminate-cache-requirement

[2016-01-11 00:08] adamnovak commented on #640
I don't know that Parasol has a bug tracker.

On Fri, Jan 8, 2016 at 7:17 PM, Hannes Schmidt <notifications@github.com>
wrote:

[2016-01-13 00:15] #594 closed

[2016-01-13 02:08] #582 closed

[2016-01-13 02:56] hannes-ucsc commented on #640
Closing. Feel free to reopen if the virtualenv workaround doesn't work.

[2016-01-13 02:56] #640 closed

[2016-01-13 07:19] #636 closed

[2016-01-13 07:33] hannes-ucsc commented on #639
Another case?

http://jenkins.cgcloud.info/job/toil-branches/branch/releases%2F3.1.x/lastCompletedBuild/testReport/src.toil.test.sort.sortTest/SortTest/testFileSingle10000/

[2016-01-13 21:26] arkal opened #643 "Enforce the maximum disk Toil is allowed to use for a run"
Currently config.maxDisk is used not at all or only to limit a disk requirement of a single job. It should in fact, like maxCores, limit the amount of disk that is in use by all concurrently running jobs on any worker at any time. It (and the other maxXyz options) should also support a ratio of initially free space.

[2016-01-13 22:31] almussel opened #644 "Services are not stopped on Toil script failure"

[2016-01-13 23:57] #359 closed

[2016-01-14 00:19] hannes-ucsc commented on #643
Currently config.maxDisk is used not at all or only to limit a disk requirement of a single job. It should in fact, like maxCores, limit the amount of disk that is in use by all concurrently running jobs on any worker at any time. It (and the other maxXyz options) should also support a ratio of initially free space.

[2016-01-14 09:02] hannes-ucsc commented on #644
From looking at the code I can't explain why this is happening. There's not much going on between service.start() and service.stop() in ServiceJob.run(). It would be trivial to add a `finally:` clause before service.stop() but I don't think that's it.

[2016-01-15 22:05] hannes-ucsc opened #645 "Write S3 multipart copy function"
Write a standalone Python function (and unit tests of that function) that copies large files from one bucket to another or within a bucket. The function should have the following signature:

[code]

Use Python's built-in urlparse [1] module to parse the url. Use boto [2] to interface with S3. Use [3] as a reference.

[1]: https://docs.python.org/2/library/urlparse.html
[2]: http://boto.cloudhacker

[2016-01-15 22:05] hannes-ucsc commented on #618
Depends on #618

[2016-01-15 22:06] hannes-ucsc commented on #618
Depends on #645

[2016-01-15 22:46] hannes-ucsc commented on #618
Initially, at least FileJobStore and AWSJobStore should implement these methods. Job.FileStore should then expose these two methods to user scripts.

We should also consider adding `exportFile(sourcePath, destUrl)`. A naive implementation of that methods would use `writeFile` followed by `exportFile` but a more efficient implementation would  use the mechanics of writeFile but  with a different ta

[2016-01-17 16:54] benedictpaten opened #646 "Service class start method should have Job.FileStore argument"
To allow services to have temporary files in a consistent manner we should add Job.FileStore instance argument to Job.Service.start.

[2016-01-17 17:01] benedictpaten commented on #644
I know why, it's because if the service crashes when being setup then the polling job that is waits until it sees the service established deadlocks. I'm assigning this to me.

[2016-01-20 00:11] hannes-ucsc opened #647 "Add config.workflowId"
Workflows and therefore job stores should have their own unique ID such that we can distinquish between jobstore names that have been resumed.

[2016-01-20 00:12] hannes-ucsc commented on #586
Depends on #647

[2016-01-20 02:03] hannes-ucsc opened #649 "Test atomicity of renames of non-empty directories"

[2016-01-20 02:05] hannes-ucsc commented on #586
Depends on #649

[2016-01-20 03:08] #647 closed

[2016-01-20 04:02] #649 closed

[2016-01-20 19:01] jvivian commented on #572
I tried again on Toil 3.1.1 and this was the error I got using gridEngine.  I was able to ssh into a single node (ssh jvivian@podk-1-2) and run it in single machine mode.

[code]

[2016-01-20 19:39] melissacline commented on #572
So does this mean that Toil and GridEngine seem to be working together, and
the error was with the input file?

On Wed, Jan 20, 2016 at 2:02 PM, John Vivian <notifications@github.com>
wrote:

[2016-01-21 05:15] hannes-ucsc commented on #572
@jvivian, this may mean progress. The key is that the job failed without producing output. So it failed early, possibly before being able to launch the worker process. Unfortunately, bot stderr and out are sent to /dev/null in prepareQsub(). Maybe if we removed that redirection we would get the $jobID.OUT and .ERR files with more info on what's going on?

[2016-01-22 01:13] arkal opened #651 "Add support for worker clean-up to single-machine and Mesos batch systems"
1. Put config.workDir and config.workflowID into a namedtuple in AbstractBatchSystem.
2. Pass this to executor
3. add a cleanup method in AbstractBatchSystem that uses this info.

[2016-01-22 01:35] hannes-ucsc commented on #651
I modified the title a bit. Hope you don't mind. I also propose that we add a supportsWorkerCleanup() method to ABS that returns False. Mesos and SingleMachine would override it to return True. setupToil() would then ensure that CacheFileStore is only used on BSs where that method returns True. Sounds good?

[2016-01-22 02:14] diekhans opened #652 "User tutorial has no documentation of debugging pipelines"
Users moving to Toil will often have no experience debugging in a cloud environment.  There needs to be a chapter on how a user approaches debugging.  print and pydb don't exactly work.

[2016-01-22 02:46] arkal commented on #651
Then it would wait till the batch system is set up to fail with an error. Can probably return sooner with an
[code]
the `batchsystem in set()` can probably be a static method in abstractbatchsystem that does the same thing if you'd like to keep the logic there.

[2016-01-22 20:05] hannes-ucsc opened #654 "Investigate "Shutdown failed on fd" errors with Mesos"
I am frequently seeing these. I think since we upgraded to 0.25.0 They seem to be benign.

[code]

[2016-01-23 00:59] #651 closed

[2016-01-25 18:52] Jeltje opened #657 "No log file is present, despite jobWrapper failing"
I get this error, but not consistently.
Specifically, I'm trying to figure out why my docker container doesn't change ownership of its output files. Last time I ran [my launch script](http://hgwdev.cse.ucsc.edu/~jeltje/toil/launch_zygosity_hg19_mesos.sh) calling [my python wrapper] (http://hgwdev.cse.ucsc.edu/~jeltje/toil/toil_adtex_zygosity.py), it died with a 'cannot remove file' complaint:
[cod

[2016-01-25 23:39] cgcloud-jenkins commented on #657
Do you have John's wrapper script in your container?

https://github.com/BD2KGenomics/cgl-docker-lib/blob/master/rsem-1.1.13/wrapper.sh

If not, that could explain why you're getting permission denied in your
Toil script.

On Mon, Jan 25, 2016 at 10:52 AM, Jeltje <notifications@github.com> wrote:

--
Hannes Schmidt
Software Engineer
Center for Biomolecular Science and Engineering
University of Cal

[2016-01-26 01:01] hannes-ucsc commented on #657
Regarding the `leader:No log file is present, despite jobWrapper failing` error. Search /tmp on the worker for files named `stderr` or `stdout`. They'll be at paths like `/tmp/mesos/slaves/3eb31dbe-e865-42e8-b4a6-21dcc21d78fb-S0/frameworks/3eb31dbe-e865-42e8-b4a6-21dcc21d78fb-0002/executors/toil-25020/runs/latest` and will contain worker.py output made before worker.py had a chance to setup the lo

[2016-01-26 06:22] #639 closed

[2016-01-27 18:45] JakeNarkizian opened #660 "Implement jobStore.importFile() and .exportFile() for Azure"
The methods are exposed to user scripts in Job.FileStores. Specifications for the methods are described in #618

[2016-01-27 19:58] cket opened #661 "Nonetype object has no attribute "terminate""
An exception generated on interpreter shutdown while running SortTest. Seems benign but the exception should still be either avoided, caught, or documented. See http://stackoverflow.com/questions/1745232/solving-thread-cleanup-on-paramiko for more on this exception

[2016-01-27 20:02] hannes-ucsc commented on #556
@scottfrazer, I've unassigned this  until we hear from you about the prospective workaround/fix.

[2016-01-27 21:59] Jeltje commented on #657
That is helpful info. The worker's /tmp files must have been deleted when I stopped the cluster, because I couldn't find them after restart. I'll be looking for them next time.

Yes, I do have a problem with my wrapper.sh script, which I was trying to figure out. Not getting the full output from the docker container made it look like the container itself crashed. So knowing to look for files on th

[2016-01-28 19:59] hannes-ucsc opened #662 "Add a debug flag to prevent deletion of localTempDir"
Additional flag or piggy-back on --clean never.

[2016-01-28 20:08] hannes-ucsc opened #663 "Change log message 'Only failed jobs and' to something more positive"
If there are no failed jobs.

[2016-02-04 01:31] nsjake opened #665 "Multipart copy should compute MD5 checksums as file parts are uploaded"
As it stands the AWS multipart copy function does not compute an md5 hash. Amazon creates an etag which is computed by taking the hex digest of the byte digest of each file part concatenated in order of upload. The final etag is also appended with a dash and the number of parts uploaded.

A thread with a corresponding queue (of max size 1-3) should run along side the main thread which conducts the

[2016-02-04 01:31] JakeNarkizian commented on #665
related to #655

[2016-02-04 01:55] hannes-ucsc commented on #665
s3am needs this too.

[2016-02-04 19:25] arkal opened #666 "Tear down this FileStore"
We welcome change and openness; for we believe that speed and efficiency go together, that the advance of computational genomics can only strengthen the cause of medicine worldwide. There is one sign the cgl can make that would be unmistakable, that would advance dramatically the cause of speed and efficiency. Director of Comparative Genomics Paten, if you seek simplicity, if you seek <insert cool

[2016-02-04 19:38] heuermh commented on #666
Sweet, love the issue # too.  :)

[2016-02-04 22:48] hannes-ucsc opened #667 "Add support for job functions that are static methods"
[code]

gives

[code]

but

[code]

works

┆Issue is synchronized with this [Jira Story](https://ucsc-cgl.atlassian.net/browse/TOIL-325)
┆Issue Number: TOIL-325

[2016-02-04 22:51] arkal commented on #667
This also works
[code]

[2016-02-04 22:54] hannes-ucsc commented on #666
Yes, LOL.

@arkal, do you want @benedictpaten to start working on this now or should he wait until you're done with the things we were talking about?

[2016-02-04 22:58] arkal commented on #666
lets wait just a little bit.

[2016-02-04 23:01] cgcloud-jenkins commented on #666
Okay, standing by.

PS, I resent being Gorbachev in this scenario. Though I guess you're
Reagan.

On Thu, Feb 4, 2016 at 2:59 PM, Arjun Arkal Rao <notifications@github.com>
wrote:

[2016-02-04 23:31] arkal commented on #666
Hahaha... I also realized I'm a bit of a hypocrite asking you to do this then asking you to wait a bit before doing so!

[2016-02-05 18:38] hannes-ucsc opened #668 "Public URL to hot-deployed resources in S3 expires when IAM role creds expire"
If the leader is using temporary IAM role credentials, there are two expirations at play, they explicit one specified when the public URL is generated, and an implicit that happens when the IAM role credentials expire, usually after six hours. If workers are added or restarted after those six hours, they will likely get the following exception:

[code]

Existing nodes will not show this behavior b

[2016-02-05 18:38] hannes-ucsc commented on #668
https://forums.aws.amazon.com/thread.jspa?messageID=584633

[2016-02-05 18:48] hannes-ucsc commented on #668
I currently see two possible avenues for this: 1) enforcing that the leader uses non-temporary credentials when generating the URL or 2) not using a signed URL but instead allow public access to that individual resource via a bucket policy.

[2016-02-08 22:31] hannes-ucsc opened #669 "Print warning message if Mesos offers are repeatedly declined"
When offers are declined a DEBUG level log message is generated. That should be a WARNING level message. I've seen several cases where user's are dumbfounded as to why their Toil script is hanging. However, the warning needs to not be printed repeatedly, or at least not too frequently. Otherwise, it becomes noise that users ignore.

[2016-02-08 22:33] hannes-ucsc commented on #669
The log message could be made conditional: it should only be printed if all workers are idle or if the worker being offered is idle. Something like that.

[2016-02-08 22:49] fnothaft commented on #669
@hannes-ucsc I have a local copy with this and additional logging. I will PR it shortly.

[2016-02-09 01:35] hannes-ucsc commented on #669
Still undecided as to whether this should also go into the 3.1.x branch.

[2016-02-09 01:36] fnothaft commented on #669
@hannes-ucsc would you want a second pull request for that, or would you just cherrypick the commit after merge? I don't know what your workflow is for this repository.

[2016-02-10 08:49] hannes-ucsc opened #671 "Rare exception in Mesos scheduler"
[code]

[2016-02-10 15:40] guillermo-carrasco opened #673 "'module' object has no attribute '__file__'"
Hi,

I was trying to run [the first code example](http://toil.readthedocs.org/en/latest/essentials.html#scripting-quick-start) from the documentation and I got this error when creating the Job instance:

[code]

Any help? I did install Toil through `pip`, so its not the last development version.

Thanks a lot!

[2016-02-10 19:28] hannes-ucsc opened #674 "Another Mesos scheduler failure"
[code]

[2016-02-10 20:45] hannes-ucsc opened #676 "AssertionError in AWS job store"
[code]

[2016-02-10 21:26] hannes-ucsc commented on #676
The assertion fails due to a FileInfo object having neither inlined content from SDB nor an object version from S3. This might fall into the corrupted job store category.

[2016-02-10 21:51] hannes-ucsc commented on #673
Can you post 1) the contents of your script, 2) the ouput of `ls -l` when run from the directory containing the script and 3) the command line you use to invoke the script? Also need 4) the output of `pip list`.

[2016-02-10 23:08] hannes-ucsc opened #677 "Introduce concept of job name for improved diagnostic"
The task name should be logged alongside the ID whenever possible. It could default to the function name or class name but should be overridable via a keyword argument to the job factories.

[2016-02-10 23:10] fnothaft commented on #677
+1

[2016-02-11 06:33] guillermo-carrasco commented on #673
Oh... I'm sorry. When you said "contents of your script" something clicked in my head. I was using `IPython` interactive console to run the first example, not a separate script, thus the `__file__` error. I moved the code to a separate script and it now works.

Thanks and sorry!

[2016-02-11 06:33] #673 closed

[2016-02-11 06:55] hannes-ucsc commented on #673
No worries. I should have realized from the format of the traceback ...

[2016-02-11 21:53] hannes-ucsc opened #678 "False task failures"
Mesos web UI:

[code]

Toil:

[code]

Executor:

[code]

┆Issue is synchronized with this [Jira Story](https://ucsc-cgl.atlassian.net/browse/TOIL-326)
┆Issue Number: TOIL-326

[2016-02-12 01:45] arkal opened #679 "Mesos batch system reporting wrong requirements when offer is inadequate"
When an offer is received, all job_types (including those with no available jobs) are iterated through to search for an available (unscheduled), compatible job. If no hits are produced, the log reports the resources of the one with the lowest cpu requirements (based on how the edict keys are sorted), whether it had an available job or not.

[2016-02-13 01:26] hannes-ucsc opened #681 "Investigate Mesos' dynamic reservation API to model disk, left-overs and cache"
In 0.25.0, Mesos introduced _dynamic reservations_ (http://mesos.apache.org/documentation/latest/reservation/). We could use it to handle the disk left-overs problem @arkal identified.

Instead of using Mesos' built-in `disk` resource, we would introduce a custom resource, say `toil-disk`. It would be initialized to the amount of free disk when mesos-slave is started up. But when left-overs are de

[2016-02-13 07:22] hannes-ucsc commented on #678
One way to get these symptoms would be if the _toil_worker process (worker.py or a job from the user script) had a sys.exit() in it somewhere.

[2016-02-16 15:10] guillermo-carrasco opened #682 "SLURM integration"
Hi,

I was wondering if there is any plan to adapt a SLURM batch system into toil. I have noticed that you evaluated this a while ago in #18 and #19 , and he conclusion was that SLURM does not meet the use case for Toil, that works with scalable systems like amazon EC2.

I've seen though that you guys provide an abstraction of batch system class [here](https://github.com/BD2KGenomics/toil/blob/mas

[2016-02-16 16:05] heuermh commented on #682
I've also heard from @chapmanb that SLURM support would be helpful for running [bcbio-nextgen](https://github.com/chapmanb/bcbio-nextgen) on Toil.

My experience with SLURM has been similar to [this comment](https://github.com/BD2KGenomics/toil/issues/19#issuecomment-89384559) though, where a static cluster is brought up on EC2 with SLURM, Docker, and NFS to run [Nextflow](http://www.nextflow.io/)

[2016-02-16 17:21] hannes-ucsc commented on #682
Relates to #19

It looks to me as if SLURM has two responsibilities: 1) provisioning of nodes and 2) scheduling of nodes. The abstract batch system API would cover 2) while 1) falls into the realm of the upcoming auto-scaling and provisioning support (issues #349, #600 and PR #541).

We don't have the bandwidth to take this on right now but a PR is always welcome. I would target 2) first. And ther

[2016-02-16 17:23] hannes-ucsc commented on #682
s/scheduling of nodes/scheduling of tasks/ above

[2016-02-16 17:57] hannes-ucsc opened #683 "logToMaster() doesn't work"
This is an example from the docs. It does not print the logToMaster() message, neither on master nor on 3.1.x.

[code]

[2016-02-16 18:04] chapmanb commented on #682
Hannes and Michael;
Thanks so much for the discussion. Our use case is on existing local cluster HPC deployments running SLURM, so we wouldn't need node provisioning or in-flight addition of worker nodes. The goal was to have a framework that can run CWL jobs on existing resources and then have the option to scale out to more elastic environments through your AWS/Azure support. If we were to plug

[2016-02-16 18:41] hannes-ucsc commented on #682
Yes. When implementing this, the best batch system implementation to use as a model are singleMachine and mesos. If the task submission to SLURM happens via a command line utility as opposed to a library/API, the GridEngine batch system is also worth looking at since it also uses a CLI to submit tasks.

[2016-02-16 18:56] seandavi commented on #682
SLURM is very similar in operation to GridEngine.  An alternative to using the command-line approach is to use DRMAA which would, in a sense, align work across batch systems. That said, DRMAA support and availability varies by HPC cluster system.

[2016-02-16 20:45] hannes-ucsc opened #685 "Eliminate codependent options like --mesos and --mesosMaster"
Users typically need to provide `--mesosMaster` when they specify `--mesos`. If they forget to do so, they currently get a cryptic error message. We should improve the error message but we should also make the codependence more obvious in the CLI. We could use the same mechanism for batch systems that we use for job stores. IOW, it could be `--batchSystem "mesos:spark-master:5050"`

┆Issue is sync

[2016-02-16 21:38] hannes-ucsc commented on #682
It would be preferable if there were a batch system implementation that generically works on every DRMAA-compatible backend. Not only would that open Toil up to more backends but using a full-fledged API might be easier and more efficient than using a CLI and parsing program output. I have never heard of DRMAA until today but if you think it is easier to write a batch system that uses it, go for i

[2016-02-16 23:11] #671 closed

[2016-02-16 23:11] #674 closed

[2016-02-17 02:48] hannes-ucsc commented on #661
@cket, can you provide more info? I can only vaguely remember what this one was about.

[2016-02-17 02:56] hannes-ucsc commented on #644
@almussel. is this still happening?

@benedictpaten, did you figure this out? The PR should target the 3.1.x branch go into a branch named issues/3.1.x/644-stop-service-on-failure.

[2016-02-17 02:56] fnothaft commented on #644
Yes. Running into this now, actually.

[2016-02-17 03:13] hannes-ucsc commented on #643
Docker or cgroups seems to me the only possible way to implement this but Docker is still working on disk quota support.

[2016-02-17 03:15] hannes-ucsc commented on #615
@tetron, could you triage this? I'd just like to know what your take on this is?

[2016-02-17 07:15] arkal commented on #681
I'm working on this but I'm hitting a dead end right now.  Every 30s the executor conducts a statvfs on workDir and does a calculation to say exactly how much of the disk should be used for Toil. If the value has changed over the last 30s, the executor reports this to master. When the master receives an offer from the agent running that executor, it accepts the offer with a "reserve" operation to

[2016-02-17 08:26] brainstorm commented on #682
Other systems like Galaxy use DRMAA alongside other cluster support systems:

https://github.com/galaxyproject/galaxy/blob/9264d90ea471214b09666b82781acd49d84f19ec/lib/galaxy/jobs/runners/drmaa.py

Another (perhaps cleaner and newer) abstraction is SAGA:

https://github.com/radical-cybertools/saga-python

In any case, I wouldn't wrap the bare cmdline tools, so it's a matter of choosing the best ab

[2016-02-17 08:49] ohofmann commented on #682
Maybe for context, this is all part of the same request. We are using bcbio for the Scottish Genome Partnership (and other projects) on several SLURM HPC installations and want to push the CWL functionality a bit further. A quick poll here shows that none of the sites have DRMAA or SAGA deployed, and I'm _hoping_ we can avoid additional dependencies just as @chapmanb managed to wrap pretty much ev

[2016-02-17 09:02] brainstorm commented on #682
Fair point, countering my own argument with [ipython-cluster-helper SLURM code](https://github.com/roryk/ipython-cluster-helper/blob/master/cluster_helper/slurm.py).

[2016-02-17 09:48] guillermo-carrasco commented on #682
That pointer may be very helpful @brainstorm , thanks!

[2016-02-17 12:49] guillermo-carrasco commented on #682
Thanks for the references to `GridEngine` and `singleMachine` as well @hannes-ucsc . I'll try to implement basic SLURM support buy looking at these classes and will submit a Pull Request when I'm done so that you can have a look and give me feedback.

Thanks all!

[2016-02-17 13:31] tetron commented on #615
I think this is the same issue I fixed in cwltool, I sent an email that the version pin needed to be updated (there was an email thread but I didn't have the issue #).  I will make a pull request with the latest version of cwltool, this is needed anyway to pull in draft-3 support.

[2016-02-17 19:37] cket commented on #661
Updated the description with more details

[2016-02-17 20:49] cket opened #686 "Add option for retaining files in work directory (--workDir)"
Allow users a way to retain temporary files generated during a toil run. Should probably be a new option (not --clean) since it will be very detrimental to toil's performance and only make sense in a debugging situation.

[2016-02-17 23:55] hannes-ucsc commented on #681
@arkal talked about this and will be using an alternative way to make reservations (via HTTP REST request).

[2016-02-18 03:07] hannes-ucsc opened #688 "Cache temporary IAM credentials obtained from instance metadata"
The patch needs to be injected in the leader and the worker. The latter would activate it for user scripts. S3AM should get it, too. So naturally, this should go into bd2k-python-lib.

[2016-02-19 04:19] cket opened #690 "A failing root job causes EOFError"
Discovered while testing #686. To replicate:
[code]
Where tempFileTestErrorJob is
[code]
The EOF error occurs when toil tries to unpickle the root job's return value:

        #Parse out the return value from the root job
        with jobStore.readSharedFileStream("rootJobReturnValue") as fH:
            jobStoreFileID = fH.read()
        with jobStore.readFileStream(jobStoreFileID) as fH:

[2016-02-19 06:58] hannes-ucsc commented on #690
+1

[2016-02-19 16:06] jvivian commented on #690
Nice find @cket !  Does this imply that currently the root job isn't rerun via `--retryCount` ?

[2016-02-19 19:29] jvivian commented on #690
I was getting this earlier today, and tried replace my root job with an "unfailable" job:

[code]

I'm on Toil 3.1.3 -- Any suggestions on how to figure out what it's failing on?

and I'm still getting the same error with it failing on "task 0".

[2016-02-19 20:08] cket commented on #690
Sorry, no ideas here. It is weird that a simple job like that is failing. Is that running with --restart or on a completely new run?

Sent from my iPhone

[2016-02-19 20:12] jvivian commented on #690
It happens with either.  I ended up moving to the head node I used for the Toil recompute (same version of Toil), and I _did not_ get an EOF error so I'm really puzzled now.

[2016-02-19 22:14] arkal opened #691 "Use env variable TOIL_WORKDIR preferentially over temp"

[2016-02-21 23:48] fnothaft opened #695 "Retry count is not decremented for failing job"
I experienced a weird case today where a job would hang on startup. When I killed the job (since it was hung; I killed it manually via `ps aux | grep toil` to get the pid and `kill <pid>`), the failure count would be reported as decremented... to 1, repeatedly:

[code]

I haven't deleted the jobstore for this run; it is `aws:us-west-2:fnothaft-toil-jobstore`. I can also send you a capture of the s

[2016-02-22 00:08] jvivian commented on #695
To add, I ran into a lot of anomalous behavior trying to run something earlier today: resource requirements weren't being respected and jobs would hang anytime I used a returnValue().

[2016-02-22 00:52] fnothaft commented on #695
Yeah, I just had another run go wonky. Multiple jobs with mutually exclusive resource requirements got scheduled on a single machine, while another machine went unused while other jobs were waiting to run.

However, I hadn't killed some Docker containers from a prior run (which we really need a strategy for handling), so I killed that job, killed the containers, and am restarting.

[2016-02-22 05:57] fnothaft commented on #695
Now, I've got one node where 6 jobs are running (one of which should have requested the full machine), one node where no jobs are running, and two nodes which each have a single scheduled job. Additionally, part of my DAG seems to be blocked...?

[2016-02-22 05:57] fnothaft commented on #695
w00t!

[2016-02-22 06:00] jvivian commented on #695
@arkal is also having issues, @fnothaft you figure out wtf is going on?

[2016-02-22 06:05] fnothaft commented on #695
Nope. No idea. Actually, it looks like the one node is hung.

Also, this is a cluster that I've been running a-OK for a week with no problems until yesterday. Not a new cluster...?

[2016-02-22 06:17] jvivian commented on #695
I even tried older versions of Toil (3.1.1) and had the same issue. Other possibilities are CGCloud or AWS itself....but I don't have any evidence whatsoever. Toil versions its dependencies, so I can't think of what other general software dependency/software issue could be causing this.

[2016-02-22 06:19] fnothaft commented on #695
I'm mostly perplexed because this cluster has been running OK for a week, and then has been hanging nonstop since yesterday. I'm wondering if there's some sort of silent issue in mesos or on one of the executors?

[2016-02-22 13:05] fnothaft commented on #695
The cluster is running successfully now after retrying with a 1 node Spark cluster (this is the ADAM/Toil script --> 1 worker for _totes high performance_), but now that I've gotten to the HaplotypeCaller phase, I should have two jobs running in parallel (ADAM/HapCaller + GATK Best Practices/HapCaller) and I just have one running. On four Toil workers. Wat?

[2016-02-23 02:58] #554 closed

[2016-02-23 05:35] fnothaft opened #697 "Better, more persistent handling of logs"
As discussed on #687, there is good reason to treat logfiles as akin to data generated by an analysis pipeline. Unfortunately, right now, the only options are to steal the logfiles from the clutches of the temporary job folders on the toil workers, or to grab truncated files that are stashed away in the jobstore. We should solve this scourge and help those betrayed by the log files that have dashe

[2016-02-23 07:26] hannes-ucsc commented on #695
The retry count not being decremented needs to be looked at. We don't want *any* infinite retries. The reason the worker decrements the retry count and not the leader is to off-load the leader. Unfortunately, this introduces the potential of the worker failing before it has a chance to decrement the count.

The correct pattern is to have the leader decrement the count if the worker failed. This co

[2016-02-24 15:53] fnothaft opened #698 "Consider prioritizing jobs whose service jobs are currently running"
I'm running into an inefficient job schedule here. In a 3 worker cluster, and with a DAG that creates two Spark service jobs (1 master, 1 worker), my 2 Spark service jobs got scheduled on 2 nodes, while a non-Spark job got scheduled on the remaining node. As a result, the two service jobs have been idling for 9 hours.

It might make sense to prioritize jobs that rely on concurrent service jobs to

[2016-02-25 00:53] hannes-ucsc commented on #669
Duplicated by #679

[2016-02-25 00:54] hannes-ucsc commented on #679
Duplicates #669

[2016-02-26 03:20] hannes-ucsc commented on #683
Needs to be ported to master.

[2016-02-26 03:20] hannes-ucsc commented on #686
Needs to be ported to master.

[2016-02-26 03:21] hannes-ucsc commented on #686
Needs to be ported to master.

[2016-02-26 03:21] hannes-ucsc commented on #690
Needs to be ported to master.

[2016-02-26 03:21] hannes-ucsc commented on #690
Needs to be ported to master.

[2016-02-26 03:24] hannes-ucsc commented on #695
We'll address this in the master branch.

[2016-02-29 21:34] cgcloud-jenkins commented on #611
Hmm, this is still broken on the doc site:

https://toil.readthedocs.org/en/releases-3.1.x/py-modindex.html

On Thu, Feb 25, 2016 at 12:55 PM, Hannes Schmidt <notifications@github.com>
wrote:

[2016-02-29 22:46] cket commented on #611
The fix has been merged into master but not yet into the 3.1.x branch which is displayed on read the docs

[2016-03-01 02:27] hannes-ucsc commented on #611
Who wrote this?

It never will be merged into 3.1.x. Too big a change for a small issue.

However, the "latest" version on RTD (which is build from master) is also broken. The problem is that RTD does not invoke our Makefile. I think it still invokes the code in conf.py so we will have to move this logic

https://github.com/BD2KGenomics/toil/commit/455b6be4c815a1bff366e34934f74916f24578c6#diff-b67

[2016-03-01 21:44] hannes-ucsc commented on #644
This is a show-stopper for the ADAM paper.

[2016-03-01 21:45] hannes-ucsc opened #703 "Service jobs have no way of checking on the processes they represent"
_From @hannes-ucsc on March 1, 2016 21:44_

We should add a check() method to the Service class signature that is repeatedly called by the loop that waits for the latch file in the job store. The check method should raise an exception if the process is dead/unusable.

_Copied from original issue: BD2KGenomics/toil-scripts#127_

[2016-03-01 21:46] hannes-ucsc commented on #703
Related to #644

[2016-03-01 21:46] hannes-ucsc commented on #703
Also a show-stopper for the ADAM paper.

[2016-03-02 02:01] arkal opened #704 "Make jenkins toil tests run on /mnt/ephemeral"
Set this such that future tests that may require larger disk space have a bigger sandbox to work in.

[2016-03-02 22:19] #704 closed

[2016-03-03 02:21] hannes-ucsc opened #706 "Link fate of jobs in a service subcluster"
Depends on #703

Related to #644

1. Assume there is a Toil cluster with one or more Spark/HDFS subclusters. If one of the Spark/HDFS master processes fails, the service job representing it should also fail (#703).

2. When that service job fails, the service jobs that represent the Spark/HDFS slaves connected to that Spark/HDFS master should fail. As it is now I think the slave processes and thei

[2016-03-04 16:55] benedictpaten commented on #706
Working on this.. look out for the PR later today :)

On Thu, Mar 3, 2016 at 3:30 PM, Hannes Schmidt <notifications@github.com>
wrote:

[2016-03-04 18:12] hannes-ucsc commented on #706
If this ends up being a big PR, it will probably throw a wrench in @arkal's gears and his caching PR. Unless this miraculously turns out to be a small change, I would recommend waiting with this until caching is merged, or consider this a prototype that may have to undergo large amounts of conflict resolution.

[2016-03-04 20:52] arkal commented on #706
caching is looking so bad :( it's performing worse than regular toil and I'm looking into it.

[2016-03-07 06:04] fnothaft commented on #697
Just wanted to add a point to this. Being able to disable workdir cleaning is great, but oftentimes, I really want the logs, but I don't want the workdir, because the logs are orders of magnitude smaller than the workdirs, and my workdirs don't give me any additional ability to debug beyond my raw pipeline inputs.

[2016-03-07 08:24] hannes-ucsc commented on #697
Once we have export functionality which @JakeNarkizian is working on, we could use it to implement `--exportLogsTo=s3://some-bucket/logs/`

[2016-03-08 06:50] hannes-ucsc commented on #646
What commit closes this?

[2016-03-09 14:43] psaffrey-illumina opened #710 "Examples using AWS"
Rather like the people in this thread:

https://github.com/BD2KGenomics/toil/issues/682

I'm interested in running CWL workflows through Toil with many platforms supported (SGE, LSF, AWS). The documentation mentions "Commercial clouds + Amazon Web Services (including the spot market)" but I can't find any examples of Toil workflows creating EC2 instances to use for execution. How would I do I this

[2016-03-09 17:29] hannes-ucsc opened #711 "cwltoil: Add import/export of local files into jobstore"
Depends on PR #709

[2016-03-09 17:31] hannes-ucsc commented on #710
Hi Peter,

Toil currently relies on cgcloud to provision the cluster in EC2. In a nutshell, you would install and configure cgcloud-core and cgcloud-toil as described here:

https://github.com/BD2KGenomics/cgcloud/blob/master/core/README.rst
https://github.com/BD2KGenomics/cgcloud/blob/master/toil/README.rst

And then run

`cgcloud create -IT toil-latest-box`
`cgcloud create-cluster toil ...`
`cgc

[2016-03-09 21:01] tetron commented on #710
Hi @psaffrey-illumina,

You're correct that each compute node needs Docker installed and usable by the compute user (typically by putting the user it a `docker` group).  However, the code in `sandboxjs.py` you quoted is actually there to run Node.js for executing Javascript expression in the CWL document, and not running general purpose jobs.  For that, you want `job.py`.  (The `sandbox.js` code w

[2016-03-09 21:03] tetron opened #712 "Complete draft-3 feature set for cwltoil"
Implement remaining cwl draft-3 features in cwltoil:

- [x] complex scatter
- [x] multiple sources to a workflow step input
- [x] valueFrom on workflow step inputs

[2016-03-09 21:04] tetron commented on #712
@hannes-ucsc you can assign this one to me.  I already have a branch mostly ready, so just filing the issue in order to satisfy the PR process.

[2016-03-10 01:00] hannes-ucsc commented on #712
@tetron, that's great. Thank you!

[2016-03-10 02:14] hannes-ucsc commented on #688
https://github.com/BD2KGenomics/s3am/issues/23

[2016-03-11 01:59] hannes-ucsc opened #714 "Azure job store should retry on server busy errors"
We got ServerBusy error during a test run. Probably in the stats aggregator thread/process.

http://jenkins.cgcloud.info/job/toil-pull-requests/885/testReport/junit/src.toil.test.sort.sortTest/SortTest/testAzureSingle/

[2016-03-11 02:01] #712 closed

[2016-03-12 19:06] benedictpaten commented on #557
I'm assigning this to me, and a flag into my PR that allows this to be specified.

[2016-03-13 00:16] #691 closed

[2016-03-14 19:14] hannes-ucsc opened #716 "Allow Toil functions to be put into __init__.py"
As things are now, a job function in `__init__.py` fails this assertion: https://github.com/BD2KGenomics/toil/blob/b41fca131b72c0ece31077222e03b00a573cf119/src/toil/resource.py#L351

┆Issue is synchronized with this [JIRA Story](https://ucsc-cgl.atlassian.net/browse/TOIL-239)
┆Issue Number: TOIL-239

[2016-03-14 19:15] hannes-ucsc commented on #716
Reported originally by @jvivian

[2016-03-16 20:22] hannes-ucsc opened #717 "Add ability to schedule a full node"
On Mesos this could be done using a synthetic resource like node=1. Every job will consume that  resource when accepting an offer. Single-node jobs, i.e. jobs with  cores=INFINITY requirement will only accept offers with node=1.

┆Issue is synchronized with this [Jira Story](https://ucsc-cgl.atlassian.net/browse/TOIL-329)
┆Issue Number: TOIL-329

[2016-03-22 19:30] hannes-ucsc commented on #619
Ideas

[code]

backwards compatible:

[code]

[code]

[code]

[2016-03-22 19:34] hannes-ucsc commented on #619
[code]

[2016-03-22 23:40] arkal opened #719 "Reset $TMPDIR with every call of jenkins.sh"
Delete the tmpdir, create and use it, then clean it up after the test.

If a PR on a jenkins slave is queued before another finishes on a slave, and the queued one is run on the same slave as the previous, then mkdir /mnt/ephemeral/tmp fails and $TMPDIR is not set up to a location on the ephemeral.  This PR addresses this issue.

[2016-03-23 00:09] nsjake opened #720 "Add support for importing/exporting encrypted files"
An encrypted jobstore can import unencrypted files which will be encrypted on import. However A file that is already encrypted cannot be imported into an encrypted jobstore.

┆Issue is synchronized with this [Jira Story](https://ucsc-cgl.atlassian.net/browse/TOIL-330)
┆Issue Number: TOIL-330

[2016-03-24 19:17] JakeNarkizian opened #722 "Add support for importing/exporting of http(s):// URLs"

[2016-03-29 17:47] #719 closed

[2016-03-29 22:23] hannes-ucsc opened #724 "Create an S3-only job store (without SDB)"

[2016-03-29 22:33] hannes-ucsc opened #726 "Port S3 job store to Ceph (connected to #724)"

[2016-03-29 23:24] #410 closed

[2016-03-30 01:25] hannes-ucsc commented on #666
@arkal, this makes no sense to me. Can you explain what this is about?

[2016-03-30 04:12] arkal commented on #666
We were going to reduce job.filestore to a minimal class and make job.cachedfilestore the default.

[2016-03-30 14:48] #557 closed

[2016-03-30 14:48] #644 closed

[2016-03-30 14:48] #646 closed

[2016-03-30 14:48] #703 closed

[2016-03-30 14:48] #706 closed

[2016-03-30 21:22] hannes-ucsc commented on #666
Is this still relevant, then?

[2016-03-31 07:04] kellrott opened #728 "CWL toil workflow input file name collision"
If two inputs to a cwl workflow step have the same name there will be a collision, for example:
[code]

Example Workflow (works in cwltool, fails in cwltoil):
[code]

Sample input:
[code]

[2016-03-31 17:23] tetron commented on #728
Hi @kellrott, thanks I'll take a look at it.  It should probably stage each input file to separate directory to avoid name conflicts like that.

[2016-03-31 17:37] #683 closed

[2016-03-31 17:37] #686 closed

[2016-03-31 17:37] #690 closed

[2016-03-31 20:52] arkal commented on #666
yes

[2016-04-01 01:53] jvivian opened #729 "Fix Promises return value"
Our group would like to broaden the scope of promises (e.g. return both a fileStoreID and file-size that can be resolved and used in the same function).

[2016-04-01 16:56] jorvis opened #730 "Python3 support?"
Most of our existing code is in Python3, so I was hoping there was support for it here in Toil.  I tried installing via pip3 and everything worked fine, but when I try the Hello World example I got:

$ ./hello_world.py
Traceback (most recent call last):
  File "./hello_world.py", line 3, in <module>
    from toil.job import Job
  File "/opt/Python-3/lib/python3.4/site-packages/toil/job.py", line 2

[2016-04-01 19:35] hannes-ucsc commented on #730
Hi @jorvis,

Support for Python 3 isn't on our immediate roadmap but that can, of course, change with more public interest in it.

I've seen [Six](https://pythonhosted.org/six/) being used to make a codebase support both Python releases.

And we should also consider [Tox](https://tox.readthedocs.org/en/latest/) for testing.

[2016-04-04 17:07] benedictpaten opened #731 "Add proper intro to Toil documentation"
see INTRO

[2016-04-04 17:35] benedictpaten opened #732 "Document installating on AWS"
docs/installation/  "Installation on AWS"

[2016-04-04 17:36] benedictpaten opened #733 "Document installing on Azure"
docs/installation "Installation on Azure"

[2016-04-04 17:37] benedictpaten opened #734 "Document installing on Open Stack"
docs/installation.rst "Installation on Oen Stack"

[2016-04-04 17:55] benedictpaten opened #735 "Running Workflows Quick Start"
toil/running "Running Quick Start"

[2016-04-04 17:56] benedictpaten opened #736 "Running a workflow in depth"
docs/running 'Running In Depth'

[2016-04-04 17:56] benedictpaten opened #737 "Running on AWS"
docs/running "Running on AWS"

[2016-04-04 17:56] benedictpaten opened #738 "Running on Azure"
docs/running 'Running on Azure'

[2016-04-04 17:57] benedictpaten opened #739 "Running on Open Stack"
docs/running 'Running on Open Stack'

[2016-04-04 17:58] benedictpaten opened #740 "Running CWL workflows"
docs/running 'Running CWL and WDL Workflows'

[2016-04-04 18:01] benedictpaten opened #741 "Fix Documentation For Paper"
Master issue

[2016-04-04 18:32] hannes-ucsc commented on #735
Use a HelloWorld.py workflow.

[2016-04-04 22:16] benedictpaten opened #744 "Fix batch System Interface docs"
docs/batchSystem "Implementing the batch system interface tutorial"

[2016-04-04 22:16] benedictpaten opened #745 "Fix the job store interface docs"
docs/jobStore.rst

[2016-04-04 22:42] benedictpaten opened #746 "Fix the API "Toil API" docs"
If you build the toil docs on your local machine then the "Toil API" section of the docs does not properly populate. I think this relates to CJs recent fixes.

[2016-04-04 22:53] benedictpaten opened #747 "Put toil tutorial examples under some kind of test"
I believe it is possible to run the examples in the docs to check they work. We should do this.

[2016-04-04 22:59] jvivian opened #748 "Make --mesosMaster a default argument"
Since `--mesosMaster` is *always* mesos-master:5050, just set it as a default (unless there is a good reason not to).

[2016-04-05 00:07] benedictpaten opened #749 "Document file staging"
See docs/developing.rst TODO - DISCUSS STAGING FILES INTO A WORKFLOW

[2016-04-05 05:21] jvivian commented on #736
We changed this to creating a CLI section that will cover (among other things):
Cover logging, cleaning, kill, restart, stats and status.

[2016-04-05 06:58] hannes-ucsc commented on #748
Actually, this is only the case on a cluster created by cgcloud which **right now** is the norm but it won't always be.

[2016-04-05 07:21] hannes-ucsc commented on #747
Dupe of #525

[2016-04-05 07:21] #747 closed

[2016-04-05 07:37] hannes-ucsc commented on #749
Jake, we talked about this. Can you make sure that your PR covers this issue. Your PR should mention this issue via `resolves #749` or `fixes #749` in the title or the body.

[2016-04-05 07:39] hannes-ucsc commented on #746
CJ, this should be resolved by Friday. It has prio over the Google stuff.

[2016-04-05 08:03] hannes-ucsc commented on #729
We generalized this today to

[code]

where `a` and `b` are job functions that return an object whose `size` attribute contains the size of a produced file. The lambda gets the resolved promises and will be evaluated in a synthetic job that is inserted by addFollowOnFn into the DAG to precede f.  `PromisedRequirement` is a holder object for the lambda and the unresolved promises (`args`). The logi

[2016-04-05 15:02] jvivian commented on #748
@hannes-ucsc — great, thanks!

[2016-04-05 15:02] #748 closed

[2016-04-05 15:54] #735 closed

[2016-04-05 15:54] #732 closed

[2016-04-05 15:54] #734 closed

[2016-04-05 15:54] #739 closed

[2016-04-05 15:54] #737 closed

[2016-04-05 16:13] cket commented on #746
Can you elaborate on this issue? The docs seem to be building fine for me locally and on RTD

[2016-04-05 16:15] jvivian commented on #746
Toil API docs build on the issues/741 branch as well.

[2016-04-05 21:32] jvivian opened #750 "Get Ceph API working on OpenStack"
Currently, I'm blocked running the iSpy data on openstack as credentials that work on my laptop and on PODK do not work on openstack =(

[2016-04-05 22:19] jvivian commented on #750
Hostname must be a FQDN when connecting from inside of Openstack.  Fixed boto credentials:

[code]

[2016-04-05 22:38] #750 closed

[2016-04-05 23:04] jvivian opened #751 "Run ISPY Data on OpenStack for Toil Paper"
Detail setup and execution of pipeline

[2016-04-05 23:07] jvivian commented on #746
@hannes-ucsc Did you help Benedict fix this this morning? If so, @cket can close it.

[2016-04-05 23:30] hannes-ucsc commented on #746
I'll let @benedictpaten decide.

[2016-04-06 00:40] benedictpaten commented on #746
Yep, all fixed - sorry for false alarm.

[2016-04-06 00:45] benedictpaten commented on #744
@cket  I'm adjusting this ticket a bit. Can you just go through the abstract batch system class and ensure all the methods are well documented and follow the use the rst conventions for documenting parameters, return values, etc.

[2016-04-06 00:46] benedictpaten commented on #745
@cket  As with the batch system, can go through the abstract job store class and ensure all the methods are well documented and follow the use the rst conventions for documenting parameters, return values, etc. Any commentary you wish to add for someone implementing a job store (the intended reader) would be helpful.

[2016-04-06 00:51] hannes-ucsc opened #752 "Enforce venv'ed Sphinx when building docs"
Add check to config.py. See Makefile for how to ~~enforce~~ check for a venv.

[2016-04-06 00:52] benedictpaten commented on #525
Oops, wish we could get this going. Not going to insist this is part of the docs milestone though.

[2016-04-06 00:57] jvivian commented on #736
@benedictpaten — Do you want this to cover running a toil-script pipeline in-depth? AWS / Single machine?

[2016-04-06 01:02] benedictpaten commented on #736
Yeah, I think a little tutorial on how it works would be really useful. Thanks.

[2016-04-06 01:17] #679 closed

[2016-04-06 06:30] #669 closed

[2016-04-06 16:56] dyollluap opened #754 "toil clean does not delete job store buckets"
I have 2 jobstore buckets that remain persistent after using toil clean, more recent buckets (created in the past week) were cleaned out fine as normal. The message suggests they may have already been deleted, though still present on the s3 dashboard.

mesosbox@ip-172-31-6-148:~$ toil clean aws:us-west-2:plloyd-20160309
INFO:toil.lib.bioio:Logging set at level: INFO
INFO:toil.utils.toilClean:Parse

[2016-04-06 17:12] cket commented on #754
Could this be because of s3's eventual consistency? You might want to try waiting a while and check in the buckets again later and see if they still show up. It's possible they really are deleted but the console doesn't reflect that fact yet.

[2016-04-06 17:23] hannes-ucsc commented on #754
If what @cket suggests doesn't help, you may have attempted the clean earlier and it failed or you may have run the pipeline with `--clean=onsuccess` (or without `--clean` since `onsuccess` is the default) or the workflow may have failed in some weird way. Keep an eye on this, because the interesting bit would be the stacktrace of the first failed clean or the failed workflow.

[2016-04-06 20:25] hannes-ucsc opened #756 "Wonky try clause in ServiceJob.run"
[This try](https://github.com/BD2KGenomics/toil/blob/658395fa2e8621ea45ac76020ef02fe0ca832523/src/toil/job.py#L1574) should be after service.start() such that if start() fails, stop() isn't called

[2016-04-06 22:51] #611 closed

[2016-04-07 03:35] hannes-ucsc opened #760 "Sporadic NoSuchJobException in sort tests"
http://jenkins.cgcloud.info/job/toil-pull-requests/1017/testReport/junit/src.toil.test.sort.sortTest/SortTest/testAwsSingle/

[2016-04-07 04:24] #619 closed

[2016-04-07 04:24] #749 closed

[2016-04-07 05:20] jvivian commented on #736
@benedictpaten — I decided to go with a self-contained version of sortTest, as every pipeline in the toil-scripts repo requires inputs and we currently host everything in S3.   If we had a location to host input files (HGWDev?), then I could use the CI inputs for the rna-seq pipeline as our detailed example.
Related, this will be a big issue for disseminating our RNA-seq container, as currently in

[2016-04-07 06:00] #618 closed

[2016-04-07 06:00] #645 closed

[2016-04-07 06:00] #660 closed

[2016-04-07 11:54] mr-c opened #762 "Please add GitHub webhook to support CWL integration tests"
https://github.com/BD2KGenomics/toil/settings/hooks/new

"Payload URL" `https://ci.commonwl.org/github-webhook/`
"Content type" `application/x-www-form-urlencoded`
"Which events would you like to trigger this webhook?" `Just the push event.`

I would do it myself, but I don't have permission. Thanks!

[2016-04-07 18:54] jvivian opened #763 "Create Ceph job store"

[2016-04-07 20:01] #736 closed

[2016-04-07 22:18] hannes-ucsc commented on #665
One caveat: For files encrypted with SSE or SSE-C, the etag uses the MD5's of the encrypted parts, not their clear text. On the client, you don't know the encrypted part, only the clear text.

[2016-04-07 22:40] hannes-ucsc commented on #762
This is done. Let me know if it doesn't work.

[2016-04-07 22:40] #762 closed

[2016-04-08 00:40] JakeNarkizian opened #766 "Toil context manager follow-up"
remove job.FileStore from file managing heading in documentation

[2016-04-08 00:42] JakeNarkizian commented on #766
stress that all file staging is on the leader, and make contents show file staging as a subsection

[2016-04-08 00:47] hannes-ucsc commented on #766
In the example code, call exportFile() after run()

[2016-04-08 00:48] hannes-ucsc commented on #766
Also add a test that tests exactly that sequence: import, run, export

[2016-04-08 00:52] hannes-ucsc commented on #766
Have the job create an output file and return its ID such that you can export the output file rather than the input file. That would be a much more realistic scenario.

[2016-04-08 01:42] #738 closed

[2016-04-08 01:43] #731 closed

[2016-04-08 01:43] #733 closed

[2016-04-08 01:43] #745 closed

[2016-04-08 01:43] #744 closed

[2016-04-08 01:44] #752 closed

[2016-04-08 01:45] #746 closed

[2016-04-08 05:48] cket opened #767 "Make venv check in conf.py more informative"

[2016-04-08 20:24] hannes-ucsc opened #770 "Add tracking of disk to single machine"
Should be straight-forward to implement but it will increase the likelihood of deadlock due to the  nested, blocking nature of resource allocation in SingleMachine.

[2016-04-08 20:26] hannes-ucsc opened #771 "Return cache savings to disk requirements"
This will increase job throughput because more jobs could potentially fit onto a node.

[2016-04-08 21:08] #756 closed

[2016-04-08 21:19] #728 closed

[2016-04-08 22:19] hannes-ucsc commented on #766
Also, could you make sure in a test that staging is handled correctly when restarting workflows? We would not want to stage a file again. I suppose we need to also describe how restarts and staging interact in the documentation.

[2016-04-10 04:03] tetron opened #773 "ImportError: No module named mesos.interface"
Trying to run cwltoil with --batchSystem=mesos

[code]

[2016-04-10 04:08] tetron commented on #773
I think extras_require needs to include the `mesos.interface` package under the `mesos` option.

[2016-04-10 04:15] tetron commented on #773
On further research, I see that the mesos packages can't be installed from PyPi, are are present on the cgcloud toil box.  So not a bug, although better error handling (catch ImportError and print something out telling you what to do) would be nice.

[2016-04-10 17:27] fnothaft opened #774 "Pull in `toil_scripts.spark_utils`"
As per discussion with @benedictpaten, we want to pull the [`toil_scripts.spark_utils`](https://github.com/BD2KGenomics/toil-scripts/tree/master/src/toil_scripts/spark_utils) package in to Toil as `toil.spark`. Specifically, we'd like to be able to demo:

* install Toil
* import `from toil.spark.sparkCluster import SparkService`
* add a spark cluster to a job `j` with one line: `connectionPromise

[2016-04-10 18:51] tetron opened #775 "Not running mesos tasks on cluster created with cgcloud"
I created a cluster with a single worker node using cgcloud:

[code]

I logged in, cloned the common-workflow-language and cwltool repositories.  Running `cwltoil` with the `singleMachine` batch system works fine.  Running the same CWL with `--batchSystem=mesos` seems to queue the next but it never runs:

[code]

[2016-04-10 18:53] tetron commented on #775
[code]

[code]

[2016-04-10 18:59] tetron commented on #775
By the way, I logged in as "ubuntu" in order to be able to use "sudo".  I tried logging in again as "mesosbox" and running the same command, but got the same result.

[2016-04-10 22:51] arkal commented on #775
Can you look at the slave logs? They will be on the slave at $TMPDIR/mesos/slaves/<some slave specific stuff here>/latest/stderr

[2016-04-10 22:55] arkal commented on #773
Did you setup the env blurb with --system-site-packages?

[2016-04-11 01:37] tetron commented on #775
mesos-slave.INFO
[code]

mesos-slave.WARNING
[code]

[2016-04-11 01:45] tetron commented on #775
Also `mesos/slaves/latest` does not contain a "stderr" file.

[2016-04-11 01:50] tetron commented on #775
From syslog:

[code]

[2016-04-11 03:40] arkal commented on #775
The slave.info and warning look ok..... the executor logs generally tell a lot and that's usually in mesos/slaves/ all the way down the directory structure. So not `mesos/slaves/latest` but something like `/tmp/mesos/slaves/54a32fe9-66da-416f-aed6-0c0f97742741-S0/frameworks/54a32fe9-66da-416f-aed6-0c0f97742741-0000/executors/toil-1642/runs/latest/stderr`

[2016-04-11 14:16] mr-c commented on #762
@hannes-ucsc It is working great; and the [build is now passing](http://ci.commonwl.org/job/toil-conformance/). Thanks!

[2016-04-11 14:17] mr-c commented on #762
Feel free to use this CWL conformance badge: http://ci.commonwl.org/job/toil-conformance/badge/

[2016-04-11 14:19] mr-c commented on #601
FYI, there is no "CWL 3.0" specification, but there is a "draft-3" version of the specs. We will be releasing v1.0 at BOSC/ISMB

[2016-04-11 17:09] dleehr opened #776 "CWL Job Staging fails on clusters"
From https://github.com/BD2KGenomics/toil/blob/0951b6be6f8386da966104fb17ab9e5692fe6a6a/src/toil/cwl/cwltoil.py#L152:

class StageJob(Job):
    """File staging job to put local files into the global file store.

    This currently will break if you try and run this on a cluster because the
    main() method can't stage files before Job.Runner.startToil(), and the
    staging job could run on a com

[2016-04-11 19:00] tetron commented on #740
Alright, let me see what I can do.

[2016-04-11 19:08] tetron commented on #775
I don't have a "frameworks" directory.

[code]

[2016-04-11 20:48] hannes-ucsc commented on #773
This section covers this more or less:

http://toil.readthedocs.org/en/releases-3.1.x/essentials.html#running-mesos-tests

Should it be reworded? I also like the idea of catching the import error and printing something useful.

[2016-04-11 21:34] hannes-ucsc commented on #601
@mr-c Thanks for pointing this out. Is the title accurate now?

[2016-04-11 21:36] hannes-ucsc commented on #776
Yes

[2016-04-11 21:36] mr-c commented on #601
Yep!

[2016-04-11 21:55] jvivian commented on #763
Ceph claims to be strongly consistent.

[2016-04-11 22:04] arkal commented on #775
So that sort-of suggests that the executor isn't even starting up. That boto error is concerning and I honestly can't help you with that :(

[2016-04-11 22:08] hannes-ucsc commented on #775
The cgcloudagent error is either benign or at least unrelated to this. What is your IAM username?

Re the main issue: I don't see a `--mesosMaster` in your script command line. The default is `localhost` which is probably why you are seeing this error. You should be passing `--mesosMaster=mesos-master`.

Ideally, `--mesosMaster` should not have a default and be mandatory if `--batchSystem=mesos` i

[2016-04-11 22:17] #711 closed

[2016-04-12 17:26] tetron commented on #775
Now I'm getting a different Mesos error:

[code]

Also, is `--jobStore=aws:us-west-2:peter-cwltoil-test` correct?  Is there any additional documentation about using Toil with cgcloud+AWS+Mesos?  I'm having a difficult time.

[2016-04-12 20:00] arkal commented on #775
The format for the jobstore is correct.

[2016-04-12 20:03] arkal commented on #775
I think `--mesosMaster mesos-master:5050` is the right syntax

[2016-04-12 20:40] tetron commented on #775
Thanks, that seems to work.  Some new errors:

Here's the first error:
[code]

I have no idea how to delete a SimpleDB jobStore, is there a Toil command or do I need to use some AWS UI or SDK?

Then I tried a different name for the jobStore:
[code]

How do I get the failed job log?

[2016-04-12 21:01] arkal commented on #775
`toil clean aws:us-west-2:peter-cwltoil-test` will clean your jobstore. Don't just delete the bucket from the S3 console.

[2016-04-12 21:02] arkal commented on #775
The log usually is printed to your screen. This is where looking at the executor logs (XYZ/stderr) comes in handy!

[2016-04-13 00:10] hannes-ucsc commented on #775
Re: documentation: The documentation PR adds some more meat:  For example,

http://toil.readthedocs.org/en/issues-741-fix-documentation-for-paper-rebased/running.html#running-on-aws
http://toil.readthedocs.org/en/issues-741-fix-documentation-for-paper-rebased/cli.html?highlight=clean

This worries me. Could this be a cwltoil-specific issue? Try running the HelloWorld.py script from the docs.

[2016-04-13 00:44] hannes-ucsc opened #780 "Existing job store error should mention"

[2016-04-13 00:44] hannes-ucsc opened #781 "Existing job store error should mention `toil clean`"

[2016-04-13 01:54] hannes-ucsc opened #783 "CWL conformance tests fail on PR #778"
Connected to #778

http://jenkins.cgcloud.info/job/toil-pull-requests/1068/testReport/src.toil.test.cwl.cwlTest/CWLTest/test_run_conformance/
http://jenkins.cgcloud.info/job/toil-pull-requests/1073/testReport/junit/src.toil.test.cwl.cwlTest/CWLTest/test_run_conformance/

@tetron, any idea what this could be?

[2016-04-13 13:02] #776 closed

[2016-04-13 14:40] tetron commented on #783
Yes, it's pulling a docker image, and docker is printing something to stdout, which is contaminating the output of the runner (which is only supposed to print the output object JSON).  I've fixed that in cwltool and have a PR to bump the cwltool dependency.

[2016-04-13 15:19] tetron commented on #775
It works!

[code]

[2016-04-13 15:39] tetron opened #785 "Error running `toil clean`"
After a failed workflow, I tried toil clean, but now I'm getting this error when I try `toil clean`:

[code]

[2016-04-13 19:23] JakeNarkizian commented on #593
check if azure already does exponential back off

[2016-04-13 19:29] JakeNarkizian commented on #714
this is a case where a retry is necessary

[2016-04-13 20:02] hannes-ucsc opened #787 "Import/export job store tests sporadically fail against Azure"
Jake, can you take a look at this? It's totally possible that there is nothing we can do about downtimes or unreliability on the Azure side. I just want you to look at the stack traces and think about if there is something we can do about them,

http://jenkins.cgcloud.info/job/toil-pull-requests/1081/

┆Issue is synchronized with this [Jira Story](https://ucsc-cgl.atlassian.net/browse/TOIL-331)
┆I

[2016-04-13 20:06] hannes-ucsc commented on #775
Cool! Did you change anything to address the `No handlers` message? I'm not seeing it in your latest transcript.

[2016-04-13 20:11] hannes-ucsc commented on #785
@JakeNarkizian, I have the feeling this is caused by the Toil context manager stuff. Try to replicate it, asking @tetron for more info if necessary. Once you can replicate, create a unit tests to replicate it, commit the unit test, create PR, push the commit, then fix the issue and commit that. You can ask @cket about this procedure, he's done it before.

[2016-04-13 20:28] mr-c opened #788 "Make Jenkins job information public?"
Hey-o,

It would be useful for outsiders who want to be helpful to see the output of the Jenkins tests.

Here is the config I used for https://ci.commonwl.org

![screenshot 2016-04-13 at 17 24 06](https://cloud.githubusercontent.com/assets/1330696/14508284/04bca32c-01c7-11e6-99e5-0f6bd103081e.png)

Thanks!

[2016-04-13 20:43] almussel opened #789 "`toil clean` fails due to job store missing workflow ID"
Toil clean produces the following error sometimes when a jobstore is cleaned from a different cluster than where it was created. [I think that's not correct. See below. (Hannes)]
[code]

[2016-04-13 20:45] almussel opened #790 "Manually delete job stores"

[2016-04-13 21:52] hannes-ucsc commented on #790
Which stores do you want be to delete?

[2016-04-13 21:56] hannes-ucsc commented on #789
I don't think it matters where `toil clean` is run. This particular job store just wan't initialized all the way and that way cleaning it up is failing. How can we make `toil clean` more robust and able to handle incompletely setup job stores.

[2016-04-13 22:02] hannes-ucsc commented on #788
I know that it would be useful but the build logs may leak sensitive information, such as credentials. Our builds run on dynamically created slave VMs and interact with external cloud resources so I don't think I can make the logs public.

[2016-04-13 22:02] hannes-ucsc commented on #788
Nice Jenkins skin, BTW.

[2016-04-13 22:09] almussel commented on #790
Ahh, sorry, I forgot to include it. I need
aws:us-west-2:almussel-job-store-3 deleted.

On Wed, Apr 13, 2016 at 2:52 PM, Hannes Schmidt <notifications@github.com>
wrote:

[2016-04-13 22:16] mr-c commented on #788
Thanks, the skin is from http://afonsof.com/jenkins-material-theme/ it was super easy to install.

Perhaps https://wiki.jenkins-ci.org/display/JENKINS/Mask+Passwords+Plugin could be used to hide the credentials?

[2016-04-13 23:28] benedictpaten commented on #783
Thanks @tetron V. v. important to get this in soon, so we can merge the doc PR and get the paper submitted.

[2016-04-14 00:01] hannes-ucsc opened #792 "Copy cgl-rnaseq-recompute-non-wiggle out of BD2K"

[2016-04-14 00:02] jvivian commented on #792
To Ceph?

[2016-04-14 00:18] hannes-ucsc commented on #792
@benedictpaten, @jvivian was not aware of this.

@jvivian A transfer to Ceph would cost too much, IMO.

[2016-04-14 20:45] JakeNarkizian commented on #593
Azure Storage supports exponential retries, info available [`here`](https://azure.microsoft.com/en-us/documentation/articles/best-practices-retry-service-specific/#azure-storage-retry-guidelines).

[2016-04-14 23:56] nsjake opened #793 "Refactor `restart` to `resume` in code and CLI"
As it stands Toil.restart() (pending on PR #769), toilRestart, and the --restart command line flag are semantically incorrect. A toil workflow is **never** restarted, it is **resumed** from the point of failure. These names ought to reflect this.

┆Issue is synchronized with this [JIRA Story](https://ucsc-cgl.atlassian.net/browse/TOIL-259)
┆Issue Number: TOIL-259

[2016-04-15 00:30] hannes-ucsc commented on #593
Find out which version this was added in. It could be that can rip out our own retry code in favor of this after we upgrade to the latest version of Python client.

[2016-04-15 15:33] benedictpaten opened #794 "Fix Job.Service.addChild"
Making Job.Service.addChild public is dangerous, as a user may call it after the service system is setup. It is better to modify Job.addService to allow service graphs to be defined.

[2016-04-15 15:59] fnothaft opened #796 "Add batch system for Apache YARN"
[YARN](https://hadoop.apache.org/docs/r2.7.1/hadoop-yarn/hadoop-yarn-site/YARN.html) is the resource manager packaged with Hadoop 2.x. We use it on our internal cluster at Berkeley, as it is commonly installed by most Hadoop distros (e.g., CDH, HDP, etc).

┆Issue is synchronized with this [Jira Story](https://ucsc-cgl.atlassian.net/browse/TOIL-334)
┆Issue Number: TOIL-334

[2016-04-15 16:45] benedictpaten commented on #792
We should copy it into Jing/Melissa's AWS account. Please work with them, I know Jing is in agreement.

@hannes-ucsc : How much would a transfer to CEPH cost?

[2016-04-15 17:40] jvivian commented on #793
+1

[2016-04-15 17:41] jvivian commented on #792
I think only $150?

[2016-04-15 18:02] #783 closed

[2016-04-15 18:22] hannes-ucsc commented on #226
@jvivian to create individual tickets per pipeline.

[2016-04-15 23:07] #682 closed

[2016-04-15 23:36] JakeNarkizian commented on #785
@tetron what options did you use for running the Toil script?

[2016-04-15 23:57] hannes-ucsc commented on #785
And, @tetron, can you try again. This really looks like an eventual inconsistency problem.

[2016-04-16 03:07] hannes-ucsc opened #801 "Another wonky try: finally: in the services code"
https://github.com/BD2KGenomics/toil/commit/fb8eba9b87f4698bcd026c3f64f17338dbf0c661#diff-4eeea14b1dc6e72c2dcb9ad1471d1cf3R642

is broken, please see

https://github.com/BD2KGenomics/toil/wiki/Python-Dos-and-Don'ts#dont-piggy-back-resource-deallocation

[2016-04-16 07:55] #781 closed

[2016-04-18 16:42] jvivian commented on #226
BD2KGenomics/toil-scripts#238  BD2KGenomics/toil-scripts#239

[2016-04-18 16:42] #226 closed

[2016-04-18 17:40] #741 closed

[2016-04-18 17:40] #767 closed

[2016-04-18 17:40] #740 closed

[2016-04-18 22:10] jvivian commented on #792
I have a suspicion this ticket was made before knowing the size of the bucket, which costs ~$50 a month to host.  @benedictpaten , if you still want this moved to Melissa/Jing's account let me know.  I'll need Hannes to help Melissa give me access credentials.

[2016-04-19 19:24] hannes-ucsc commented on #792
Yes. I wrongly assumed the bucket to be much bigger.

Assigning to @benedictpaten for decision. Once decision has been made, please assign back to @jvivian or close as appropriate.

[2016-04-19 22:42] #794 closed

[2016-04-20 06:51] cket commented on #763
Duplicate of #726

[2016-04-20 06:52] #763 closed

[2016-04-20 14:13] tetron commented on #785
@hannes-ucsc it's 5 days later and `toil clean aws:us-west-2:peter-cwltoil-test` gets the same error

[2016-04-20 15:07] tetron commented on #785
The CWL conformance tests run a series of workflows back-to-back using the same jobstore by default. This may make it more prone to eventual consistency issues, however once the jobStore gets into this state, it's impossible to clean it or otherwise recover (except by using a different jobStore) and this causes a cascade failure of subsequent CWL tests.

[2016-04-20 15:09] tetron commented on #785
There is no S3 bucket `peter-cwltoil-test` according to the S3 management console.

[2016-04-20 17:45] hannes-ucsc commented on #785
@tetron, the bucket name would be `peter-cwltoil-test--files`. Was the job store created using UCSC's AWS account? If so, @JakeNarkizian, could you try using boto to further narrow this down? For example, it could be that the bucket doesn't come back from ListBuckets but GetBucket might still return it. It might also be that there are unfinished multipart uploads for that bucket.

To prevent you f

[2016-04-20 18:59] tetron commented on #785
@hannes-ucsc okay, I'll try semi-random jobStore names.  I have since had a successful run where I didn't get this bug;  it passed 60/61 tests, looks like one real bug to fix in cwltoil but otherwise pretty good.

[2016-04-22 00:55] cket opened #803 "Logging is not being setup"
Log to master messages don't appear when running sortTest. We need a test for logToMaster functionality since we tend to keep breaking it.

[2016-04-22 00:59] hannes-ucsc commented on #785
Since @tetron can be unblocked by not sharing job stores  between workflows, I've removed the URGENT flag.

@JakeNarkizian and I agreed to modify AWSJobStore to not ever attempt to create anything in the `toil clean` case, which it currently does, as indicated by the call to `_getOrCreateBucket` in the backtrace, and to fix deleteJobStore to write to the registry last, not first.

`toil clean` its

[2016-04-22 01:00] hannes-ucsc commented on #803
+1

[2016-04-22 01:21] cket commented on #803
Regression from fb52bcedc1077077802988b43b5d3180d36c3f6b

[2016-04-22 10:44] JakeNarkizian opened #804 "Reorganize toil.jobStores.aws directory and add toil.jobStores.support"
All but one of the job stores (including unmarked google and ceph job stores) is represented in the `toil.jobStores` directory by a file with a title of scheme `{job store name}JobStore.py`.

AWS is represented in a subdirectory of `toil.jobStores` and the file is entitled `jobStore.py`.  Moving and renaming the AWS job store to the main jobStores directory will make it consistent with the rest of

[2016-04-22 16:47] hannes-ucsc commented on #804
Actually, I was planning to go the other way, i.e. moving each job store into its own package such that we can split up some of the job store modules.

@JakeNarkizian, whatever, we decide to do, don't spend time on this now. I have a giant PR going and restructuring the source tree would make it much harder. Add your `JobStoreSupport` to `abstractJobStore.py` for now. And try to keep refactorings

[2016-04-22 16:47] hannes-ucsc commented on #804
… to a minimum until the big PRs have been merged.

[2016-04-22 16:50] hannes-ucsc commented on #785
@JakeNarkizian, our Slack convo made me think that this might require more refactoring than I feel comfortable taking on this sprint. Let's post-pone.

[2016-04-23 02:24] joelarmstrong commented on #803
Could this be affecting all logging and not just logToMaster? I'm not getting any exception tracebacks when my jobs break, except from the master failing because it detected a failed job.

[2016-04-23 18:14] joelarmstrong opened #805 "'toil restart' doesn't work"
Any `toil restart` will fail, as far as I can tell, because a "realTimeLogging" option needs to be created.

[code]

I "fixed" this locally by adding a realTimeLogging option, but not sure if I should make a PR? There are some changes in #769 that affect the naming of some of the methods, but it still seems to expect realTimeLogging to be defined, so `toil restart` should still be broken in that P

[2016-04-25 17:25] hannes-ucsc commented on #805
@JakeNarkizian Please try to reproduce this and then submit a PR with a minimal fix.

[2016-04-25 20:22] cket opened #807 "Remove toil restart (resolves #807, resolves #805)"
And update docs to reflect this. Issue #805 is a ticket to fix toil restart so this PR also indirectly resolves that ticket.

[2016-04-25 20:39] joelarmstrong opened #808 "Restarting a workflow raises NoSuchJob exceptions"
Toil is trying to run jobs that don't exist when restarting a failed pipeline.

The job that is correctly resumed is a follow-on of the root job, if that matters. I can provide a snapshot of a jobStore which triggers this bug if that would help.
[code]

[2016-04-25 20:45] joelarmstrong opened #809 "Parasol's shutdown() attempts to remove all running jobs on the cluster"
Even those started from other users or in different pipelines. This triggers when the shutdown method is called.

Parasol has an ACL system so it's not a huge deal, but if you are running multiple pipelines this causes problems.

┆Issue is synchronized with this [Jira Story](https://ucsc-cgl.atlassian.net/browse/TOIL-335)
┆Issue Number: TOIL-335

[2016-04-25 20:50] joelarmstrong opened #810 "parasol batch system's batch creation is buggy"
A few bugs in creating the parasol "results file" for each batch, all with the same root issue in the same few lines of code.
- needs an absolute path to a file jobStore
- results dir creation uses "file:/path/to/jobStore" as base for temp directory, which fails
- only works with file jobStore

[2016-04-25 20:55] joelarmstrong opened #811 "--parasolCommand option should allow specifying -host=<hostname> argument"
Currently the parasolCommand option is interpreted as the location of the binary to run. But oftentimes you need to tell parasol where to find the cluster, using the `-host` flag. That's currently not possible in toil because the binary to run is interpreted literally as `parasol -host=hostname`, rather than running the binary `parasol` with the argument `-host=hostname`.

[2016-04-25 21:01] joelarmstrong commented on #808
This is probably related to #760.

[2016-04-25 22:44] hannes-ucsc commented on #805
@cket's PR is going to fix this.

[2016-04-25 22:46] hannes-ucsc commented on #811
See `--mesosMaster` for how Mesos handles this. The CLI option name should start with `--parasol…`

[2016-04-25 22:48] hannes-ucsc commented on #808
@benedictpaten is this something you'd expect during a restart?

[2016-04-25 23:59] benedictpaten commented on #808
No, this is a bug. It is happening within the worker itself, suggesting that the cleanup process that fixes the dag of jobs at the beginning of a restart is flawed.

[2016-04-26 00:12] adamnovak opened #814 "There is no awesome "Visualize" button for the Azure template"
I just learned that there are tools that will turn your Azure templates into pictures and let you edit individual graph nodes:

<a href="http://armviz.io/#/?load=https%3A%2F%2Fraw.githubusercontent.com%2FAzure%2Fazure-quickstart-templates%2Fmaster%2Fgo-ethereum-on-ubuntu%2Fazuredeploy.json" target="_blank">
    <img src="http://armviz.io/visualizebutton.png"/>
</a>

We should have something like t

[2016-04-26 03:41] joelarmstrong commented on #808
Here is some more detailed debug output. This job tree has two jobs left: the root job `x/c/...` and its follow-on `J/p/...`. `J/p` is scheduled first, then the root job `x/c` is scheduled, then `J/p` is pulled off the root job's stack again and scheduled, and it obviously fails to run as it's already been deleted.

[code]

I'm assigning to myself, since I can reproduce this very consistently. I t

[2016-04-26 03:51] #807 closed

[2016-04-26 14:18] tetron opened #816 "Unable to import large files from S3 buckets"
I'm trying to use 1000 Genomes data which is already hosted in an AWS bucket.  This is a raw reads file of about ~13 GiB.  When calling `toil.importFile` on `s3://1000genomes/phase3/data/HG01977/sequence_read/SRR360135_1.filt.fastq.gz` I get the following error:

[code]

Is it really necessary to copy the file into the jobStore bucket?

[2016-04-26 15:08] heuermh commented on #816
In [toil-scripts](https://github.com/BD2KGenomics/toil-scripts) we typically download from s3 to a working directory, e.g.
https://github.com/BD2KGenomics/toil-scripts/blob/master/src/toil_scripts/lib/urls.py#L11

[2016-04-26 16:16] hannes-ucsc commented on #810
Toil.getWorkFlowDir() should be used to get a workflow-specific local directory.

[2016-04-26 16:36] hannes-ucsc commented on #816
No. Whether it makes sense or not depends on the use case. If the file is in a different region than the one the workflow is running in and the file is used multiple times in a workflow it may make sense. Otherwise I would use sth along the lines of what @heuermh proposes. Alternatively, the master branch of s3am has download support now and should be able do a very fast download, because it is mu

[2016-04-26 16:37] hannes-ucsc commented on #816
@JakeNarkizian could you take a look at this? The multipart copy should be kicking in but it doesn't.

[2016-04-26 17:12] hannes-ucsc commented on #816
Well, I lied. *Now* s3am has download support. I hadn't merged the PR until just now.

[2016-04-26 17:47] jpfeil opened #817 "Consecutive workflows in same process use wrong cached promised job store"
Running a second workflow in the same python process as another workflow will use the cached job store instance from the first workflow even if the second workflow uses a different job store. This results in the exception below. It is a secondary exception whose backtrace is misleading, which I haven't figured out. Probably caused by the fact that the exception is raised during unpickling.

[code]

[2016-04-26 18:01] tetron commented on #816
It would be useful additional feature to be able to use public buckets directly without having to make a copy.

[2016-04-26 18:20] nsjake opened #819 "Implement importAsSymlink method that avoids copying a key from existing buckets"
Instead a new bucket is created specifically for symlinks e.g. `{jobstore name}--links` each key in this bucket contains only the bucket, region, and key information to other buckets. This would only work for unencrypted keys. This could however also be applied to other cloud services, there could be (along with credentials) relevant info for reading from and writing to say an azure blob or google

[2016-04-26 18:22] JakeNarkizian commented on #816
I agree, #819

[2016-04-27 01:04] hannes-ucsc opened #820 "testServiceParallelRecursive hangs"
http://jenkins.cgcloud.info/job/toil-pull-requests/1148/console

This test isn't normally being run on the standard Jenkins slave instance because it only has two cores.

[2016-04-27 16:57] #349 closed

[2016-04-27 17:52] hannes-ucsc commented on #600
Should remain open. We had to merge the auto-scaling branch because it had gotten too big. I will be reimplementing the provisioner by calling out to cgcloud.

[2016-04-27 19:48] cket commented on #805
resolved by b9ae754

[2016-04-27 21:51] hannes-ucsc commented on #805
https://github.com/BD2KGenomics/toil/commit/b9ae7542110026ea179ea876ca0ac48aec3d6742 obsoletes this.

[2016-04-27 21:51] #805 closed

[2016-04-27 22:30] hannes-ucsc commented on #760
Another one: http://jenkins.cgcloud.info/job/toil-pull-requests/1164/testReport/junit/src.toil.test.sort.sortTest/SortTest/testAwsSingle/

[2016-04-28 08:31] guillermo-carrasco opened #824 "cwltool conflict version?"
Hi,

I'm trying to run a CWL workflow for bcbio-nextgen in our SLURM cluster using Toil. To do so, I'm running the following command: `cwltoil --verbose --preserve-environment PATH HOME --no-container run_info-cwl-workflow/main-run_info-cwl.cwl run_info-cwl-workflow/main-run_info-cwl-samples.json`.

The command is the same than the one specified in [bcbio-nextgen docs](http://bcbio-nextgen.readthe

[2016-04-28 08:54] guillermo-carrasco commented on #824
okay, just realised that doing that, I get:

[code]

since `aslist` was moved to `cwltool.util` [15 days ago](https://github.com/common-workflow-language/cwltool/blob/b77c6ef44192458e4e93400d644f351f42ffb420/cwltool/utils.py), what would be the best approach here? I can see two obvious solutions:

* Change the requirement
* Implement a `try` `except` within the imports

Since the `cwltool` code is

[2016-04-28 08:55] mr-c commented on #824
I'd change the requirement to use the newer cwltool. We'll have a more stable API after the 1.0 release of the standards

[2016-04-28 08:57] mr-c commented on #824
So yes, https://github.com/BD2KGenomics/toil/blob/master/setup.py#L43 should be changed to use a `>=` a known working version.

[2016-04-28 08:57] JakeNarkizian opened #825 "Generated test method names lack intuitively cased value names"
The make_tests method generates test method names by calling title() on value names  which returns a string of all lowercase letters with the exception of the first character which is capitalized e.g. ```test_generalMethodName__param1_Valuename()```.

These generated tests cannot be run individually via clicking on their method signatures (since such methods are _generated_). Thus if one wishes to

[2016-04-28 09:05] guillermo-carrasco commented on #824
ok, thanks!

[2016-04-28 17:18] #766 closed

[2016-04-28 23:41] JakeNarkizian opened #829 "AWS multipart copy does not pass encryption headers"
Minor bug that causes encrypted copies to fail

[2016-04-29 19:00] almussel opened #831 "Importing job functions does not forward descendants"
If a job function is imported from a toil script module using ```from module import job_function``` syntax, the child and follow-on jobs for ```job_function``` aren't imported.

[2016-04-29 19:27] almussel commented on #831
Using ```import module``` and ```module.job_function``` also has this problem.

[2016-04-29 19:30] cket opened #832 "Updating FileInfo attributes can delete file"
When a FileInfo object is modified with non-inlined content and without rewriting the content itself, the file is mistakenly assumed to be outdated and deleted.

[2016-04-29 20:39] JakeNarkizian opened #834 "Job stores are constructed inconsistently"
The AWS job store has a factory method which parses a string of args and calls the __init__ method. No such method exists for File and Azure job stores, and the __init__ is directly called in common for both.

[2016-04-29 21:23] JakeNarkizian commented on #819
Possible issues to consider:

- sym linked points to a file that does not exist
- sym link points to encrypted file
- sym link points to read only file
- sym linked file is deleted after import
- sym link points to unencrypted file when jobStore is encrypted
- some write operation on a sym linked file is overwritten due to some concurrent write outside of toil
- ditto for read operations reading o

[2016-04-29 21:26] JakeNarkizian commented on #804
@hannes-ucsc one note: wherever the job store modules end up naming them all ```jobStore.py``` will make it more difficult to switch between job stores during development because tabs will all look the same.
<img width="649" alt="screen shot 2016-04-29 at 2 12 52 pm" src="https://cloud.githubusercontent.com/assets/10471159/14930100/43252b6a-0e16-11e6-86d3-211500520c5f.png">

[2016-04-29 22:26] cket opened #836 "logToMaster messages overwritten"
When jobs are chained only the latest job's logToMaster messages are shown

[2016-04-29 22:30] cket commented on #836
Thanks to @jvivian for finding the bug

[2016-04-29 23:09] arkal commented on #836
I'm not sure if it is `the latest job's` or if it's `the not earliest job's` because i've seen this in a chain of 5 jobs where the last 4 print but the first doesn't.

[2016-04-30 00:04] cket commented on #787
Another case, caused by AzureMissingResourceHttpError:
http://jenkins.cgcloud.info/job/toil-pull-requests/1191/

[2016-04-30 20:20] arkal commented on #787
Another AzureMissingResourceError

http://jenkins.cgcloud.info/job/toil-pull-requests/1210/testReport/src.toil.test.src.jobCacheTest/AzureJobStoreCacheTest/testCacheEviction/

[2016-05-01 02:21] JakeNarkizian opened #837 "AbstractJobStore.importFile does not support importing shared file names"
Currently you cannot assign a shared file name to an imported file

[2016-05-02 13:56] dleehr commented on #803
Also impacting cwltoil. The branch in #813 seems to fix.

[2016-05-02 14:49] tetron commented on #803
There is a fix for setting up cwltoil logging in #806

[2016-05-02 15:18] dleehr opened #839 "cwltoil does not pass setEnv variables to cwl job"
When running cwltoil with the `--no-container` option, jobs fail if the specified CWL `baseCommand` is not found in the runtime `PATH`. This is expected, but it seems there's no way to provide that path to cwltoil. There is a `--setEnv` argument that appears to be for this purpose (setting environment variables on jobs), but cwltoil does not honor it.

Running `cwltool`, the environment (including

[2016-05-02 17:26] #817 closed

[2016-05-02 20:09] hannes-ucsc commented on #832
Is there an easy way to add a test (or modify an existing test) that exposes this bug?

[2016-05-02 20:24] cket commented on #832
There's actually a test on the google job store branch that initially accidentally exposed this bug:
http://jenkins.cgcloud.info/job/toil-pull-requests/1191

[2016-05-02 21:31] cket commented on #760
AWS with mesos: http://jenkins.cgcloud.info/job/toil-pull-requests/1205/testReport/junit/src.toil.test.sort.sortTest/SortTest/testAwsMesos/

[2016-05-02 21:40] cket opened #840 "Inconsistent import/export AWS failure"
http://jenkins.cgcloud.info/job/toil-pull-requests/1206/testReport/junit/src.toil.test.jobStores.jobStoreTest/EncryptedAWSJobStoreTest/test_importExportFile__size_Partsizeminusone__otherJobStore_Awsjobstoretest/

Maybe related to s3 consistency

[2016-05-02 21:53] cket commented on #789
Related to #785 and #754

[2016-05-02 21:55] arkal commented on #787
FYI, my issue was resolved by not using the same jobstore name for the tests even though the jobstore is cleaned after every test.

[2016-05-02 22:03] cket commented on #527
This looks like it was resolved by https://github.com/BD2KGenomics/toil/pull/778
Is this ok to close?

[2016-05-02 22:49] cgcloud-jenkins commented on #527
Yes.

On Mon, May 2, 2016 at 3:03 PM, Christopher Ketchum <
notifications@github.com> wrote:

[2016-05-03 00:08] jvivian opened #841 "Makefile references non-existant pypi_stable"

[2016-05-03 22:05] benedictpaten opened #842 "Promise passing to services is broken"
Passing a promised return value to a service is broken, because of the way serialization happens.

[2016-05-03 22:14] benedictpaten opened #844 "Promise passing to services is broken"
Passing a promised return value to a service is broken, because of the way serialization happens.

[2016-05-03 22:14] benedictpaten commented on #842
Oops.. mislabeled my PR, so closing this one.

[2016-05-03 22:14] #842 closed

[2016-05-04 01:27] hannes-ucsc commented on #839
@tetron, there seem to be two issues here. One is that cwltoil does not seem to honor `--setEnv` and the other one is that `PATH` is incorrect, and that's the one @dleehr wants to work around with `--setEnv`. The workaround is likely going to be ugly and brittle, because `--setEnv` isn't additive. If you did `--setEnv PATH=$PATH:/foo` you'd send the PATH from the leader to the workers which may no

[2016-05-04 01:47] hannes-ucsc commented on #804
PyCharm has an option to include the parent directory name in the tab if just using the file name is ambiguous.

[2016-05-04 01:49] #803 closed

[2016-05-04 01:49] #836 closed

[2016-05-04 01:57] hannes-ucsc commented on #844
Did my recent promise refactoring introduce this?

[2016-05-04 03:18] cgcloud-jenkins commented on #844
I don't think so, but I didn't test it against the earlier branch. It was
an easy enough fix, so no worries - as we weren't testing this case you can
not be blamed.

On Tue, May 3, 2016 at 6:57 PM, Hannes Schmidt <notifications@github.com>
wrote:

[2016-05-04 17:22] hannes-ucsc commented on #840
Yes bucket creation can take some time to populate. @JakeNarkizian, there might be issues with what S3 location (similar to EC2 region) you are hitting when you create the bucket as opposed to when you access it. Please come talk to me when you have a chance.

[2016-05-04 17:28] hannes-ucsc commented on #831
@almussel Do you happen to have a stack trace for this?

[2016-05-04 18:08] #527 closed

[2016-05-04 18:11] #816 closed

[2016-05-04 18:11] #829 closed

[2016-05-04 20:09] #825 closed

[2016-05-04 20:25] almussel commented on #831
With `from toil_scripts.batch_alignment.bwa_alignment import download_shared_files` in the adam-gatk pipeline, toil gives the following error:

[code]

[2016-05-04 22:39] hannes-ucsc opened #845 "`Connection reset by peer` in stats collector"
http://jenkins.cgcloud.info/job/toil-pull-requests/1233/testReport/junit/src.toil.test.sort.sortTest/SortTest/testAwsMesos/

referenced in https://github.com/BD2KGenomics/toil/pull/843#issuecomment-216737542

These random outages will happen. We need to figure out why boto's retry didn't catch this and how we handle failures in the stats collector. We may not want failures in the collector prevent

[2016-05-04 23:24] #601 closed

[2016-05-05 16:56] #844 closed

[2016-05-06 15:58] benedictpaten opened #849 "Need contributing section in docs to help people creating PRs"
@jtratner opened an issue but was unaware about the rules by which PRs are formatted. Suggest we add this beneath the building & testing part of the docs.

[2016-05-08 01:10] jvivian opened #850 "Add Toil logo to docs"

[2016-05-09 18:31] jvivian opened #851 "Make slides for SAB presentation"
Toil-recompute and toil features

[2016-05-09 18:55] jvivian opened #852 "Change bucket policy on cgl-recompute bucket"
To requester-pays and open

[2016-05-09 19:30] hannes-ucsc opened #853 "Spurious assertion failure in file-AWS import test"
_From @hannes-ucsc on May 9, 2016 19:29_

http://jenkins.cgcloud.info/job/toil-pull-requests/1242/testReport/junit/src.toil.test.jobStores.jobStoreTest/FileJobStoreTest/test_importExportFile__size_partsizeplusone__otherJobStore_awsjobstoretest/

_Copied from original issue: BD2KGenomics/toil-scripts#264_

[2016-05-10 00:05] hannes-ucsc commented on #824
Use of '>=' version constraints are discouraged. See #827 for discussion.

[2016-05-10 00:05] #824 closed

[2016-05-10 00:08] hannes-ucsc commented on #801
Cleared milestone prior to tomorrow's planning.

[2016-05-10 00:13] hannes-ucsc commented on #780
Incomplete, unfortunately.

[2016-05-10 00:13] #780 closed

[2016-05-10 00:13] #775 closed

[2016-05-10 00:14] #773 closed

[2016-05-10 00:16] #754 closed

[2016-05-10 00:17] hannes-ucsc commented on #754
@dyollluap, please provide info and reopen if necessary.

[2016-05-10 00:22] hannes-ucsc commented on #516
This was done in https://github.com/BD2KGenomics/cgcloud/commit/5e79540e99cedb06f4f3329abc74590e150ceb99

[2016-05-10 00:22] #516 closed

[2016-05-10 00:23] hannes-ucsc commented on #415
Obsoleted by https://github.com/BD2KGenomics/cgl-docker-lib/issues/105 https://github.com/BD2KGenomics/cgl-docker-lib/issues/115

[2016-05-10 00:23] #415 closed

[2016-05-10 00:24] hannes-ucsc commented on #414
`cgcloud grow-cluster`

[2016-05-10 00:24] #414 closed

[2016-05-10 01:11] jpfeil opened #854 "Fix disk requirement conversion for Mesos"

[2016-05-10 16:51] hannes-ucsc commented on #139
This issue was moved to BD2KGenomics/cgcloud#162

[2016-05-10 16:51] #139 closed

[2016-05-10 17:18] hannes-ucsc commented on #811
I think I prefer `--parasolHost=bar` instead of `--parasolCommand='foo/bin/parasol -host bar'` unless there are more things that one might want to configure via parasol's command line arguments.

[2016-05-10 17:21] hannes-ucsc opened #856 "Marker"
Please ignore

[2016-05-10 17:24] hannes-ucsc commented on #717
… or a fraction of a full node.

[2016-05-10 17:32] hannes-ucsc commented on #710
@psaffrey-illumina, please reopen if you feel your question was not answered satisfactorily.

[2016-05-10 17:32] #710 closed

[2016-05-10 17:38] hannes-ucsc commented on #676
@cket, didn't you fix this recently?

[2016-05-10 17:44] hannes-ucsc commented on #657
See #662 for preventing the cleanup of the Toil work directory.

[2016-05-10 17:44] #657 closed

[2016-05-10 17:47] hannes-ucsc commented on #652
See also #677 and #662.

[2016-05-10 17:48] hannes-ucsc commented on #643
See also #240

[2016-05-10 17:51] hannes-ucsc commented on #620
Check Parasol and Slurm for the same sin.

[2016-05-10 17:52] cket commented on #676
i have a similar bugfix on the Google job store branch, I think it solves this issue too. Should I pull it out into its own PR?

[2016-05-10 18:00] hannes-ucsc commented on #615
Resolved by #711

[2016-05-10 18:00] #615 closed

[2016-05-10 18:05] hannes-ucsc commented on #572
Output issues will be addressed by #620.

[2016-05-10 18:05] #572 closed

[2016-05-10 18:06] hannes-ucsc commented on #569
Feel free to provide info and reopen if needed.

[2016-05-10 18:06] #569 closed

[2016-05-10 18:07] hannes-ucsc commented on #564
Dupe of #414

[2016-05-10 18:08] #564 closed

[2016-05-10 18:10] hannes-ucsc commented on #539
Dupe of #686

[2016-05-10 18:10] #539 closed

[2016-05-10 18:15] hannes-ucsc commented on #662
Dupe of #686.

[2016-05-10 18:15] #662 closed

[2016-05-10 19:32] hannes-ucsc commented on #717
@arkal and I brainstormed this a bit.

cores=(min, max) with type(min) == int and isinstance(max, int, callable[int->int]) with callable argument being either number of nodes on the currently offered slave (me) or the number of nodes on the biggest node there is in the cluster (@arkal).

[2016-05-10 19:32] jpfeil opened #857 "AzureJobStoreTest hangs during Jenkins build"
http://jenkins.cgcloud.info/job/toil-pull-requests/1251/

[2016-05-10 19:33] hannes-ucsc commented on #717
BSs that don't support this mechanism will fallback to using min.

[2016-05-10 19:36] hannes-ucsc commented on #513
This was done by @cket as part of #745.

[2016-05-10 19:36] #513 closed

[2016-05-10 19:42] hannes-ucsc commented on #513
Resolved by #744.

[2016-05-10 19:43] #512 closed

[2016-05-10 19:44] hannes-ucsc commented on #512
Resolved by #744.

[2016-05-10 19:49] arkal commented on #482
Outdated, possibly naive comment. Closing.

[2016-05-10 19:49] #482 closed

[2016-05-10 19:49] #419 closed

[2016-05-10 19:51] #399 closed

[2016-05-10 19:54] hannes-ucsc commented on #351
Currently worked around in toil-scripts/lib

[2016-05-10 19:54] hannes-ucsc commented on #343
Multi-node Mesos tests will be implemented by autoscaling,

[2016-05-10 19:55] hannes-ucsc commented on #343
See #600

[2016-05-10 19:55] #343 closed

[2016-05-10 19:57] hannes-ucsc commented on #310
Files are now immutable, in FileStore at least. I feel like this is not necessary,

[2016-05-10 19:57] #310 closed

[2016-05-10 19:58] hannes-ucsc commented on #254
New `Toil` context manager may make implementing this easier.

[2016-05-10 20:00] hannes-ucsc commented on #643
Dupe of #240.

[2016-05-10 20:00] #643 closed

[2016-05-10 20:03] arkal commented on #717
`s/nodes/cores/` ?

[2016-05-10 20:19] hannes-ucsc commented on #851
This issue was moved to BD2KGenomics/core-dev#1

[2016-05-10 20:19] #851 closed

[2016-05-10 20:25] hannes-ucsc commented on #852
This issue was moved to BD2KGenomics/core-dev#2

[2016-05-10 20:25] #852 closed

[2016-05-10 20:26] hannes-ucsc commented on #792
This issue was moved to BD2KGenomics/core-dev#3

[2016-05-10 20:26] #792 closed

[2016-05-10 20:31] hannes-ucsc commented on #462
Azure

[2016-05-10 21:36] hannes-ucsc commented on #666
Remove old caching from FileStore. TBD where background writing goes.

[2016-05-10 21:43] #526 closed

[2016-05-10 21:43] hannes-ucsc commented on #526
Done as part of documentation for paper sprint.

[2016-05-10 21:47] hannes-ucsc commented on #695
@jvivian says: Haven't seen this in a long time. Feel free to reopen.

[2016-05-10 21:47] #695 closed

[2016-05-10 21:49] hannes-ucsc commented on #770
Add on e semaphore and initialize it with `df`

[2016-05-10 22:15] hannes-ucsc commented on #751
This issue was moved to BD2KGenomics/core-dev#4

[2016-05-10 22:15] #751 closed

[2016-05-10 22:17] hannes-ucsc commented on #724
@cket says it's too difficult since AWS' consistency guarantees are too weak wrt read-after-write.

[2016-05-10 22:18] #724 closed

[2016-05-10 22:22] hannes-ucsc commented on #517
@arkal to triage.

[2016-05-10 22:24] hannes-ucsc commented on #440
@arkal tested caching on ProTECT pipeline and results went into Toil documentation for paper.

[2016-05-10 22:24] #440 closed

[2016-05-11 00:53] hannes-ucsc commented on #676
Up to you, @cket. The Google branch will be reviewed and hopefully merged soon. The only thing I ask for is that this issue is referenced in a commit title.

[2016-05-11 01:02] hannes-ucsc commented on #717
Yes. Fixed. THX.

[2016-05-11 01:03] #462 closed

[2016-05-11 01:18] hannes-ucsc commented on #631
Close was erratic.

We need to change the assertion into a RuntimeException indicating a user error.

[2016-05-11 02:47] hannes-ucsc opened #858 "Add support for user scripts that don't end in `.py`"
Obsoletes #631

See https://github.com/BD2KGenomics/toil/pull/635#issuecomment-218342935 for details.

┆Issue is synchronized with this [Jira Story](https://ucsc-cgl.atlassian.net/browse/TOIL-340)
┆Issue Number: TOIL-340

[2016-05-11 02:49] hannes-ucsc commented on #631
Would be obsoleted by #858.

[2016-05-11 05:36] benedictpaten commented on #666
Why is this assigned to me? I think this is for @arkal

[2016-05-11 05:45] benedictpaten commented on #663
This is already somewhat fixed. It says:

"Finished toil run with no failed jobs" if successful.

However, I am changing it to:

"Finished toil run successfully" if there are no failed jobs.

[2016-05-11 05:52] benedictpaten commented on #801
Sorry, @hannes-ucsc , which one specifically? Line number/file would would help

[2016-05-11 14:45] tetron opened #859 "Unable to import files"
File import does not give any feedback.  It seems to be adding a file to the S3 bucket but gets stuck.  I hit ^C after about 15 minutes of no progress and no network activity.  It appears to waiting for a response:

[code]

[2016-05-11 17:36] hannes-ucsc commented on #666
You had agreed to be the assignee. But feel free to reassign.

[2016-05-11 17:41] hannes-ucsc commented on #801
@benedictpaten, the line I link to in the description is the piggy-backed cleanup. It should get its own `try: except:` block or a comment explaining why the piggy-backing is ok and intended. For an explanation of what I mean by "piggy-backing" see the wiki page I link to in the description.

[2016-05-11 18:05] benedictpaten commented on #666
Okay, reassigning to @arkal He is the logical person for this.

[2016-05-11 18:50] hannes-ucsc commented on #859
Is the destination job store in the same AWS region as the source object's bucket?

How big is the file?

[2016-05-11 18:56] hannes-ucsc commented on #859
And by "no network activity" you mean very little activity, or literally none? When importing from S3, the copying takes place server-side (on S3) so I would expect there to be little activity, but not no activity at all.

[2016-05-11 18:57] hannes-ucsc commented on #859
@JakeNarkizian, at the very least we we should add a debug log statement for every part.

[2016-05-11 19:00] hannes-ucsc commented on #859
@JakeNarkizian we should also consider multi-threading the copy such that we copy several parts at once. This would be reasonably easy to do with Python's [futures backport](https://pypi.python.org/pypi/futures).

[2016-05-11 21:27] tetron commented on #859
Hi @hannes-ucsc, thanks for a quick response.  It is entirely possible data is being transferred correctly and it is just impossible to tell due to lack of logging.  I said "no data" because the network device stats were much too low for a file transfer going through the node, but that is understandable for a server to server copy.  Also, no files appeared in the S3 bucket via the web interface, b

[2016-05-11 21:30] tetron commented on #859
At minimum the logging (at info level, I think) should say which files are being imported and when each transfer begins & ends.

[2016-05-11 21:47] JakeNarkizian opened #860 "Azure test doesn't use factory construction method"
The Azure factory method was not added in #835 thus the tests also could not be added

[2016-05-11 23:08] cket commented on #831
Thanks for the traceback @almussel ! How are you calling the script? We handle hot deployment differently depending on if you use 'python userScript.py' vs 'python module.userScript' to execute.

Also, are you installing toil-scripts on every node in the cluster?

[2016-05-11 23:13] almussel commented on #831
I'm executing using `python -m module.userScript`, and I'm only cloning toil scripts on the leader.

[2016-05-12 01:08] hannes-ucsc commented on #859
Correct. First, the parts are uploaded with individual requests and then the parts are concatenated in a separate "commit" request that creates the object by concatenating the parts. Before that, the object will not exist.

@JakeNarkizian, here's what we should do:

1) Use INFO level log statement at the beginning and end of each importFile/exportFile invocation

2) Use DEBUG level log statements

[2016-05-12 12:33] guillermo-carrasco commented on #839
Hi,

I'm experiencing this issue as well, `cwltoil` doesn't locate my `bcbio_nextgen.py` installation:

[code]

`cwltool` *does* work with the equivalent command `cwltool --verbose --preserve-environment PATH HOME --no-container run_info-cwl-workflow/main-run_info-cwl.cwl run_info-cwl-workflow/main-run_info-cwl-samples.json`

[2016-05-12 17:12] hannes-ucsc commented on #839
What's bcbio_nextgen.py and who/what is trying to invoke it? How do we know it is actually invoked without a path and not like, say, './bcbio_nextgen.py` which would bypass PATH lookup?

@guillermo-carrasco It would be nice to have the full source, the full output from a run with --logDebug and proof that `bcbio_nextgen.py` is indeed on PATH before you invoke cwltoil.

Using the single machine bat

[2016-05-12 22:25] #854 closed

[2016-05-12 22:28] hannes-ucsc opened #861 "Add GridEngine and Parasol to concurrency tests"
See AbstractBatchSystemJobTest

┆Issue is synchronized with this [Jira Story](https://ucsc-cgl.atlassian.net/browse/TOIL-341)
┆Issue Number: TOIL-341

[2016-05-12 23:43] JakeNarkizian commented on #859
@hannes-ucsc, there is [code](https://github.com/BD2KGenomics/toil/blob/master/src/toil/jobStores/aws/jobStore.py#L1004-1005) in master that already takes care of deleting uploads during toil clean.

[2016-05-13 01:19] hannes-ucsc commented on #859
@tetron, so while @JakeNarkizian is making great strides in improving the performance of the multipart copy, I would also like to mention that you probably don't want to stage files from S3 like that. Large files should be downloaded directly onto the worker from the primary location in S3 unless the file is needed several times during a workflow *and* is in a different region than the job store.

[2016-05-13 01:29] #722 closed

[2016-05-13 13:23] guillermo-carrasco commented on #839
Hi @hannes-ucsc ,

`bcbio_nextgen.py` is the pipeline that `cwltool` should trigger. Please have a look at [this](http://bcbio-nextgen.readthedocs.io/en/latest/contents/cwl.html#running) document to see how I'm running `cwltool`.

In the workflow definitions, you can see that the command is not a relative path:

[code]

[code]

When running `cwltool` standalone, the example works fine:

[code]
Com

[2016-05-13 15:44] tetron commented on #859
@hannes-ucsc I think I have been misunderstanding how file handling is intended to work in Toil.  I was under the impression the job file store was supposed to be the only abstraction for handling files.  However I gather from what you're saying that I shouldn't "import" these files, I should have the job steps download them directly (at least until something like https://github.com/BD2KGenomics/t

[2016-05-13 19:19] adamnovak opened #864 "Job store sytax not documented"
@cmarkello wanted to use the Azure job store, but the fact that to use it you need to put `azure:<account>:<container prefix>` doesn't seem to be in the documentation. I didn't find anything about the syntax for AWS either.

The syntax to invoke the different job stores, and the meaning of their configuration strings, should be prominently documented.

[2016-05-13 22:40] nsjake opened #868 "AWS multipart upload does not use a thread pool"
The multipart copy logic can be easily abstracted to drastically improve upload time for large files in AWS.

[2016-05-13 23:26] cmarkello opened #869 "Toil clean script doesn't clean a corrupted jobstore"
When running `toil clean` on an Azure toil template cluster master vm, a toil.jobStores.abstractJobStore.NoSuchFileException exception is made where `toil clean` expects a file/Blob to be present in the jobstore container before removing the container and the jobstore file entry on the table service.

Traceback:
[code]

[2016-05-16 18:24] benedictpaten commented on #820
Hmm, I can't repeat this error. Question: did this timeout after running the test for 90 minutes?, or was the timeout 90 minutes for running all the tests?

[2016-05-16 18:24] benedictpaten commented on #820
PS, I assume the former, just wanted to be sure.

[2016-05-16 19:39] cket opened #871 "Implement multipart upload for google job store"
┆Issue is synchronized with this [Jira Story](https://ucsc-cgl.atlassian.net/browse/TOIL-342)
┆Issue Number: TOIL-342

[2016-05-16 22:05] jpfeil opened #872 "Upgrade mesos to 0.25.1 to avoid precision errors"
https://issues.apache.org/jira/browse/MESOS-1187

[2016-05-17 17:06] hannes-ucsc opened #874 "Job store tests import boto and Azure unconditionally"
They should be imported lazily only such that they are only imported if Toil was installed with the corresponding extra.

This is high priority as it blocks other developers from running the tests.

[2016-05-17 17:07] hannes-ucsc commented on #874
https://github.com/BD2KGenomics/toil/commit/dddf63b1418ab0b57ae270214ce3a5e7501491b7#diff-0794ad3179cde07c587ab7ae2a5aeb7dR33

[2016-05-17 17:14] hannes-ucsc commented on #864
This should be printed in the `--help` output.

Also verify that it is mentioned in the Sphinx doc.

[2016-05-17 17:17] hannes-ucsc commented on #864
And by "this" I mean the job store syntax for every supported job store. Be sure to mention the backwards-compatibility tweak of `./foo` being equivalent to `file:./foo` and `/bar` to `file:/bar`.

[2016-05-17 17:41] #392 closed

[2016-05-17 17:41] #394 closed

[2016-05-17 17:46] hannes-ucsc commented on #869
What version of Toil is this?

[2016-05-17 17:49] hannes-ucsc commented on #869
@JakeNarkizian, let's talk about this in person. Come find me at my desk.

[2016-05-17 17:55] #872 closed

[2016-05-17 19:26] hannes-ucsc commented on #859
The job store is the main abstraction for handling files but as with most abstractions there is a generality vs efficiency trade-off. While you *can* import s3:// files on the leader, that is going to be inefficient if those files are large and are only used once in a workflow. because you are doing one redundant copy. But Jake's fix is going to alleviate that inefficiency to a large degree.

Howe

[2016-05-17 19:30] hannes-ucsc opened #875 "Document import/export trade-offs"
Mention that
- per-sample files should be imported on a worker
- it may be more efficient to not import large files that are only used once, but rather download them directly
- it may matter whether an external file in S3 is in the same region as the job store

Point out that toil-scripts/lib has a common functionality for downloading URLs.

┆Issue is synchronized with this [Jira Story](https://uc

[2016-05-17 19:30] hannes-ucsc commented on #859
https://github.com/BD2KGenomics/toil/issues/875

[2016-05-18 09:29] guillermo-carrasco commented on #839
what do you think about this @tetron ?

[2016-05-18 17:03] hannes-ucsc commented on #839
Yeah, I'm dumbfounded by this. In single machine mode --setEnv PATH=$PATH isn't needed because the worker process inherits the leader process' environment (cwltoil being the leader here) by default.

Could it be that cwltoil.py needs to programmatically do what --preserve-environment does for cwltoil?

[2016-05-18 17:17] #874 closed

[2016-05-18 18:49] hannes-ucsc commented on #869
@cmarkello, what Toil version is this?

As discussed, @JakeNarkizian will rewrite the clean functionality to handle inconsistent job stores and not attempt to fully load the job store before cleaning it.

[2016-05-18 18:52] #801 closed

[2016-05-18 18:52] #663 closed

[2016-05-18 19:34] cmarkello commented on #869
This is running Toil version 3.2.0a2.

[2016-05-18 19:47] cmarkello opened #877 "Control-C doesn't stop a Toil script run completely"
When using control-c to stop a toil script, it successfully shuts down the batch system and stops execution of commands, but doesn't exit the python script and relinquish control of the command prompt to the user. The python toil script child processes are still running.

However, I can clean the jobstore using the `toil clean <jobstore_name>` on an Azure storage account. And after manually killin

[2016-05-18 20:54] cket commented on #676
I looked into this more today and while it's similar to #832 it isn't the same bug. Can you give me more context for the failure? Was it raised in sort test?

[2016-05-18 22:53] hannes-ucsc commented on #676
Unfortunately, I don't have more contextual information. I don't think it was a Jenkins build because I just installed the Lucene indexer on Jenkins and searched for one of the UUIDs in the output I posted.

[2016-05-19 00:12] hannes-ucsc commented on #877
My hunch is that this is caused by the use of multiprocessing.Process for the stats-and-logging aggregator in leader.py. multiprocessing is notorious for interfering with Ctrl-C. This is how s3am works around it:

https://github.com/BD2KGenomics/s3am/blob/9f7d35e18ce3a139a601d0ded94a0bfddc2a4858/src/s3am/operations.py#L1067

Anyhow, we might just eliminate Process and use Thread for this. Process